[2016-07-28 21:40] miedzinski opened #3 "Non-pythonic code"
Code shown in this repository is mostly non-pythonic. It doesn't follow any conventions from PEP8 and all algorithms have a lot of anti-patterns. For example, binary search as shown in Python docs -- https://docs.python.org/3/library/bisect.html#searching-sorted-lists.

I don't know the exact purpose of this repository, but it certainly doesn't show well-implemented basic algorithms in Python.

[2016-07-29 03:21] topaz1874 commented on #3
Cant agree more, even from a newbie like me ,still can tell these code can write much better.

[2016-07-29 03:33] dynamitechetan commented on #3
We all are learners, if you think something is wrong please send a pull request and make this more efficient.

[2016-07-29 06:38] H-Darji commented on #3
Agree with @dynamitechetan
If you've found any problem in our code, then I request you to make a pull request.

[2016-07-29 07:38] AnupKumarPanwar commented on #3
Yeah exactly you can think of it as an Open Source book

[2016-07-29 11:15] SergeyTsaplin commented on #3
I made selection sort more pythonic, please merge it https://github.com/TheAlgorithms/Python/pull/5

Later I can make more but now I haven't got enough time for it

[2016-07-29 12:35] miedzinski commented on #3
@dynamitechetan, no offence, but I think there is something wrong in every line in this repository. Somehow this repository ended up in my favorite weekly newsletter, so I'm assuming this was posted somewhere as a resource for Python novices. Unfortunately, this "open source book" isn't ready to be published and teaches many bad habits.

Looking at binsearch, flake8 output:

[code]

It looks like

[2016-07-29 12:40] dynamitechetan commented on #3
@miedzinski I will try to fix it asap.
And I would also like  to know which weekly newsletter this repo got posted.
Thank you for your help!

[2016-07-29 12:45] miedzinski commented on #3
@dynamitechetan, Pycoder's Weekly, issue #227.

[2016-07-29 14:18] SergeyTsaplin commented on #3
Made binary_search algo usual way. Also binary search method used stdlib added (suggested to @miedzinski comment) - `binary_search` - pure implementation `binary_search_std_lib` - implementation using stdlib's `bisect`

[2016-07-29 14:23] H-Darji commented on #3
@SergeyTsaplin Merged!

[2016-07-29 15:16] miedzinski commented on #3
@SergeyTsaplin, much better. But you introduced one, very bad, thing to with new implementation. Your code is `O(nlogn)`, because of assertion which sorts the sequence. You could do it `O(n)`, but in the same way you could implement linear search, which beats the purpose of doing binary search in first place. Just drop it.

[2016-08-01 08:05] SergeyTsaplin commented on #3
Guys, don't name files such way please:
* `Simple Substitution Cipher.py`
* `BubbleSort.py` etc

First example is absolutely amateurish. Second - is not pythonic
If you see such pull request - just reject it. Also it's very useful to use some CI-service to prevent bad code

[2016-08-01 16:04] H-Darji commented on #3
@SergeyTsaplin Thank you for suggestion. Actually it's my mistake, and I just solved it.

[2016-08-01 16:08] miedzinski commented on #3
I recommend reading [this](http://docs.python-guide.org/en/latest/writing/style/) and then [this](http://pep8.org).

[2016-08-02 13:49] H-Darji opened #11 "Sync with Travis-CI"
If you want previous merge to work, you need to sync this repository with Travis-CI.
I already had made request from my Travis-CI profile to this organization, you just need to grant it.

[2016-08-02 14:24] dynamitechetan commented on #11
How do I grant it

[2016-08-02 14:27] H-Darji commented on #11
Actually I also don't have any idea about it. May be you've received an email from travis.

[2016-08-02 14:32] dynamitechetan commented on #11
I granted the access.  Now what?

[2016-08-02 14:33] H-Darji commented on #11
I do have access to repository I created, but I need access right to access Python repo.
Take a look at below image:
![capture](https://cloud.githubusercontent.com/assets/14276147/17332366/2386a010-58ec-11e6-9a85-ad915ce77f98.JPG)

[2016-08-02 14:58] H-Darji commented on #11
Owner of this repository needs to active repo for Travis-CI from **setting** -> **Webhook & services**. There must be travis service. open it, activate it and then click on update service button.

[2016-08-02 15:25] dynamitechetan commented on #11
Check it my committing a file... I almost did everything they mentioned on their website

[2016-08-02 15:36] H-Darji commented on #11
Done!

[2016-08-02 15:36] #11 closed

[2016-08-02 17:57] H-Darji commented on #3
@SergeyTsaplin I've included **test cases** in all cipher scripts and this tests are **running well locally** as shown in **below image**:
![capture](https://cloud.githubusercontent.com/assets/14276147/17339164/45a7c978-5908-11e6-9bae-bd96f2460c91.JPG)

But, when I **commit** and **push** the same, **Travis** says that **build failed**.
**Can you please take a look at this?**

[2016-08-02 18:02] miedzinski commented on #3
Read the build log. It's explained there.
___
I am closing this. Clearly some changes to code were made.

[2016-08-02 18:02] #3 closed

[2016-08-03 05:53] dynamitechetan opened #12 "travis-ci"
@H-Darji why you removed python version 2.7 from travis.yml file? Many people are still using python ver 2.7.

[2016-08-03 06:18] H-Darji commented on #12
I removed it from  .travis.yml file, because it fails build when we push or merge (reason is some of the python scripts are written in python >b3 and dose not support python < 3). It does not affect actual code, when I make all the scripts to run in all python versions, I'll add 2.7 back to .travis.yml.

[2016-08-03 12:23] miczal opened #13 "quicksort probabilistic guarantee"
Hi,
I think your implementation of quicksort lacks randomizing of the input. If you shuffle it, you are almost guaranteed to not have  O(n^2) time scenario.

[2016-08-04 15:43] dorosch opened #14 "Tests"
Hey, maybe it would be necessary to add a test for each algorithm. For those who need it do not want to test everything yourself :)

[2016-08-04 18:12] naveenarun commented on #14
Isn't this already resolved via doctests?

[2016-08-04 18:24] dorosch commented on #14
Oh, sorry for inattention

[2016-08-09 10:32] AnupKumarPanwar commented on #13
What does randomization of input means? We are taking data from user input and of course that will be random. Please elaborate your suggestion.

[2016-08-09 13:03] miczal commented on #13
Before quicksort you should just shuffle the input array, so that you avoid worst-case scenario.
Consider this - If you have already sorted input, then you encounter O(n^2) scenario, but if you shuffle the array before passing it to the sorting algorithm, then it is MUCH more likely to be O(n log n).

I think that this should be fine.
[code]

[2016-08-11 12:56] H-Darji commented on #13
@miczal
Hi, **This is an open-source repository** and **anyone** can make a pull request with the changes that can **improve the performance** of the algorithm. **If you find a way to improve the performance, we request you to make a pull request**.

[2016-08-13 09:32] AnupKumarPanwar commented on #13
Thanks for appreciating the Organisation

[2016-08-13 09:32] #13 closed

[2016-08-22 07:08] AnupKumarPanwar commented on #12
Yes even I think that some merge requests are in different versions  and merging such requests may lead to spoiling of whole code.. And we will land back to the issue of non-pythonic code

[2016-10-17 07:25] jinpengvp opened #43 "python-函数问题讨论"

[2016-10-17 07:25] jinpengvp commented on #43
常用函数有哪些？

[2016-10-30 15:18] edawine opened #44 "Add a license for your repository"
Hi!

I would request the owner of this repository to add a license. A license is useful to show if whether a user can use your code freely or not. If you do not have a license, a user may avoid to use your code (see here: http://choosealicense.com/no-license/).

I recommend using MIT license (http://choosealicense.com/licenses/mit/) so the user can tinker with the codes themselves. Also, by using

[2016-10-30 15:59] dynamitechetan commented on #44
Thanks

[2016-10-30 15:59] #44 closed

[2016-11-07 18:43] #43 closed

[2016-11-16 15:23] mtarek opened #47 "Some files use print("", end="") from python 3.x which is not available by default in 2.x"
I thought it was only one file at the beginning, but it seems that several files use this print statement, so `from __future__ import print_function`  is needed for 2.x

[2016-11-27 20:00] vsahil commented on #47
Would you be clear on what exactly needs to be done @mtarek

[2016-12-03 05:45] ketakee commented on #47
I suppose @mtarek  is suggesting using from __future__ import print_function (for all the files or only for the files that use print("", end="")) , since print() is a part of python 3 and above and it won't work in python 2.x without explicitly importing it. I would suggest mentioning that the code runs on python 3.x or we could make it compatible by importing it but commenting it out and asking u

[2016-12-03 06:36] mtarek commented on #47
Sorry, that fell under my radar.

What @ketakee explained is mostly what I meant to say. I saw consistent use of print("", end="") in several files, and this is only available in 3.x. However, the code seems to try to be 2.x compatible also, for example:

[code]

So, for python 2.x, this block should probably include an import for print_function, as @ketakee pointed out.

Something like:
[code]

[2017-03-08 22:13] surya111111 opened #71 "test"
I have a queryk

[2017-03-23 08:25] harshildarji commented on #47
What?

[2017-03-23 08:26] harshildarji commented on #47
What?

[2017-04-04 13:43] dynamitechetan commented on #71
@surya111111  please explain more.

[2017-04-15 00:44] arajb opened #76 "Code runs in infinite loop to accept Tree elements"
This code needs logic fix and libraries.

[2017-04-16 06:12] #71 closed

[2017-06-07 07:59] gupta2140 commented on #76
Hello. I'm new to python but have a very strong background in c++. I'm a 2nd year CSE student and have always been in competitive field and have good commands on algorithms. I prefer c++ in competitive coding. But for open source contributions, i started python. I want to fix this bug. Further, when i compiled it, it showed the error:
 File "binary_tree_traversals.py", line 16
    print("Enter the

[2017-06-07 08:34] ankit167 commented on #76
@gupta2140 I am assuming you are using python2.x to land into this error. This syntax would work with python3.x

[2017-06-07 08:49] AnupKumarPanwar commented on #76
@gupta2140  try running it like "python3  binary_tree_traversals.py"

[2017-06-07 09:43] gupta2140 commented on #76
yupp...that error is removed.

[2017-06-07 09:44] gupta2140 commented on #76
i would like to fix this "Code runs in infinite loop to accept Tree elements" issue.

[2017-06-07 10:08] gupta2140 commented on #76
I fixed infinite loop bug.
But pre-order traversal is showing many Invalid inputs.
example:

********* Binary Tree Traversals ************

Enter the value of the root node: 1
Enter the left node of 1: 2
Enter the right node of 1: 3
Enter the left node of 2: 4
Enter the right node of 2: 5
Enter the left node of 3: 6
Enter the right node of 3: 7
Enter the left node of 4: -1

********* Pre Order Tra

[2017-06-07 10:15] gupta2140 commented on #76
fixed it!

[2017-06-23 07:55] Anshuman-Verma opened #91 "Incorrect markdown"
The markdown in README.md for `Time-Compexity Graphs` is not used correctly.
Should I send a PR for a fix ?

[2017-06-30 14:56] rafaelleru opened #93 "I like to work in AVL, PArtially ordered tree and A* is it anyone doing this actually?"

[2017-06-30 18:01] dynamitechetan commented on #93
Please go ahead.

[2017-08-08 08:07] 0oo0 commented on #93
Any Updates @rafaelleru ?

[2017-08-08 08:08] 0oo0 commented on #91
Yes. Please go ahead.

[2017-08-08 08:08] 0oo0 commented on #47
Can this be closed now?

[2017-08-08 08:08] 0oo0 commented on #76
Thanks.

[2017-08-08 08:08] #76 closed

[2017-08-09 10:47] rafaelleru commented on #93
Yes, in a week or less I will pull request the master, sorry I was on my holidays after school exams.

[2017-08-13 19:12] #91 closed

[2017-08-15 13:58] sthkindacrazy opened #102 "I'd like to contribute with scoring functions in ML"
For algorithms in machine learnings, I'd like to start from adding some scoring functions.
Such as MSE, RMSE stuffs. Can I contribute?

[2017-08-15 15:57] dynamitechetan commented on #102
Sure. Please start contributing.

[2017-08-19 05:25] sthkindacrazy commented on #102
sorry for late contribution. made pr right before this comment `5b03d56`

[2017-08-21 16:03] JavonDavis opened #105 "I'd like to contribute by adding the Trie data structure"
I'm working on a Trie implementation and a simple example looking up a word in a dictionary. Thinking about using the Dictionary.txt file in the other folder.

[2017-09-07 10:37] #102 closed

[2017-09-07 10:39] #47 closed

[2017-09-09 18:56] dynamitechetan commented on #105
Cool. Please work on it.

[2017-09-10 07:27] JavonDavis commented on #105
Hey, @dynamitechetan I've sent in the Pull Request can you check it out?

[2017-09-11 05:06] #105 closed

[2017-09-21 17:00] sachinarora707 commented on #93
@rafaelleru Any updates?

[2017-09-28 13:05] shivam-tripathi opened #118 "Add Dijkstra's shortest path algorithm in the graph section"
Being one of the most common algorithm in the Graph set, it should be implemented.

[2017-09-28 13:06] shivam-tripathi commented on #118
I would like to take it up, if no one else is looking into it :)

[2017-09-28 13:33] AnupKumarPanwar opened #119 "2 Graph folders"
There are 2 separate folder of Graph
1. Graph
2. Data Structures - > Graph

Merge them and keep the second one

[2017-09-28 16:47] CaptainAshis commented on #119
Hi Anup ,May be I'm asking a really stupid question but I have a doubt . You want this folder thing to be done in github right ? Or is it in some location in your computer drive . Just wanted some clarification .

[2017-09-28 16:51] dynamitechetan commented on #119
in the python repository, there is a graph folder and another folder called Data Structures - > Graph.
You need to merge them.
Clone this repo move the content of the folders and send a PR.

[2017-09-28 18:23] iharsh234 commented on #119
@AnupKumarPanwar  #120 is merged, can you please close this :)

[2017-09-28 18:42] AnupKumarPanwar commented on #119
The "data_structures/Graph/" still not properly merged.
There are 2 copies of same algo :-

Breadth_First_Search.py
Deep_First_Search.py

P01_BreadthFirstSearch.py
P02_DepthFirstSearch.py

[2017-09-28 18:46] iharsh234 commented on #119
@AnupKumarPanwar  so do we suppose to delete both?
[code]

[2017-09-29 05:14] cclauss opened #125 "No successful Travis builds in the last 3 months"
https://travis-ci.org/TheAlgorithms/Python/builds

[2017-09-29 06:01] AnupKumarPanwar opened #126 "Travis CI"
Add a .travis.yml file to this repository.
Refer to this doc https://docs.travis-ci.com/user/languages/python/

[2017-09-29 06:32] emorres25 commented on #126
Hi! Can you please tell the requirements of this code?

[2017-09-29 07:33] #126 closed

[2017-09-29 13:51] sachinarora707 commented on #118
Yes. Go ahead,

[2017-09-29 21:36] KuLi opened #130 "Radix Sort broken in Python 3"
In Python 3 radix sort is broken.

[code]
I will fix it asap and submit a pull request.

[2017-09-30 04:28] shivam-tripathi commented on #118
@sachinarora707 Thank you :) Will start work on it!

[2017-09-30 09:59] PencilBow opened #131 "Typo in BinSearch"
Line 113 & 115 in BinSearch have typos in them. It should be mid-1 and mid+1.
https://github.com/TheAlgorithms/Python/blob/master/searches/binary_search.py

[code]

should be
[code]

[2017-10-02 16:29] shivam-tripathi commented on #119
As the folder have been merged, I think this issue can be closed now. Any comments?

[2017-10-03 19:32] rafaelleru commented on #93
I already PR with AVL

[2017-10-04 09:12] sachinsks opened #141 "Sending Email by extracting xml content"
![image](https://user-images.githubusercontent.com/32256438/31168274-612ee8a6-a912-11e7-9764-2b0552270596.png)

I need python code which will watch for directory for XML files. Once the xml is generated, i need to send email to the persons. 'TO' email is dynamic and it would be available with 'BillingCode field in xml file which is generated. Also in mail body i need to use other xml fields.

Plea

[2017-10-04 09:17] #141 closed

[2017-10-04 18:58] lierluis commented on #119
It seems like `Breadth_First_Search.py` and `Deep_First_Search.py` have some syntax issues.
`P01_BreadthFirstSearch.py` and `P02_DepthFirstSearch.py` can run and are documented.
Which two should be deleted? How would you like these programs to be merged?

[2017-10-05 13:56] aravindiiitb opened #145 "Longest Increasing Subsequence - in O(NlogN) #DynamicProgramming"
I would like to add Dynamic programming code for LIS with complexity of O(NlogN)

[2017-10-07 04:16] #119 closed

[2017-10-08 11:02] SteadBytes commented on #118
@shivam-tripathi Hey, are you still working on this? If not I'd like to give it a go :) Thanks!

[2017-10-08 23:51] shabbir4791 commented on #125
I would like to take this up

[2017-10-09 15:15] PrajwalRavi commented on #145
Hey, I would like to work on this. Please confirm.

[2017-10-09 16:18] aravindiiitb commented on #145
Hi Prajwal,

Appreciate your interest in adding O(nlogn) method for LIS.

But I've already implemented it and sent a pull request to the owner.

Thanks,
Aravind

[2017-10-11 12:19] #131 closed

[2017-10-16 09:32] shivam-tripathi commented on #118
I think the [commit](https://github.com/TheAlgorithms/Python/commit/4d4b0ff31a88d13e42021687b8a0cd3e5db09d78) solves this, we can close this issue.

[2017-10-16 09:32] #118 closed

[2017-10-17 13:24] #130 closed

[2017-10-18 05:57] anuragkumarak95 opened #171 "What if brackets have any string in-between?"
[here](https://github.com/TheAlgorithms/Python/blob/2b8b65a445a97a52e0b636bb7e9175182c064de6/other/nested_brackets.py#L33)

What will happen if the input consists of more than just nested brackets, like a full source code.

[2017-10-20 02:35] mathildapurr commented on #171
Hey has this been claimed? I'd like to fix this. :)

[2017-10-23 10:22] #171 closed

[2017-10-23 18:49] #145 closed

[2017-10-24 06:17] RiptideBo opened #187 "Invalid file name"
file Graphs/A*.py has invalid file name, leading failure to sync this remote repository.
can anyone fix this file?

[2017-10-24 13:50] #187 closed

[2017-11-10 18:20] MindTraper opened #207 "I would like to work on Numerical analysis algorithms such as LU decomposition, cholesky and so on, if you want to add it to your project."

[2017-11-25 06:40] cclauss opened #219 "Python 2 or Python 3 or both?"
Is the code in this repo designed to run on Python 2 or on Python 3 or on both?

[2017-12-11 19:24] christianbender commented on #219
@cclauss  I would say more python 2. My last contribute was of basis of python 2.

[2017-12-11 19:25] christianbender commented on #207
You can do this.

[2017-12-11 19:29] cclauss commented on #219
python2 -m flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics
python3 -m flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics

Show some code is Python 2 only and other code is Python 3 only.

[2017-12-11 19:29] #219 closed

[2017-12-22 18:20] cclauss commented on #125
@harshildarji Instead of removing .travis.yml (as has been done), can we put it back and fix the errors?  I and (I believe) @shabbir4791 would be willing to work on this.

[2018-01-20 11:00] harshildarji commented on #207
@MindTraper Your contributions to this repository will be appreciated.

[2018-01-20 11:00] #207 closed

[2018-01-20 11:05] harshildarji commented on #93
@rafaelleru Looking forward to receive more contributions from your side.

[2018-01-20 11:05] #93 closed

[2018-01-20 11:07] harshildarji commented on #125
@shabbir4791 @cclauss I am sure things are in place now. I am working on errors that are causing builds to fail.

[2018-01-20 11:07] #125 closed

[2018-01-20 11:25] cclauss commented on #125
Unfortunately [flake8](http://flake8.readthedocs.io) tests currently fail on both Python 2 and Python 3:
---
flake8 testing of https://github.com/TheAlgorithms/Python on Python 2.7.14

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]
--
flake8 testing of https://github.com/TheAlgorithms/Python on Python 3.6.3

$ __flake8 . --count --select=E901,E999,F821,F

[2018-01-20 11:31] vardhanshah opened #240 "LCA problem"
Hey, Can i include code for  Lowest Common Ancestor algorithm for Directed Acyclic Graph (algorithm is based upon LCA  problem to RMQ(Range Minimum Query) problem reduction (solving RMQ problem via sparse table), which has time complexity per query O(1) and memory complexity of O(N.log N) ?

[2018-01-21 05:47] harshildarji commented on #240
@vardhanshah Your contribution to this repository is welcomed.

[2018-01-21 05:47] #240 closed

[2018-01-22 11:05] cclauss commented on #125
[flake8](http://flake8.readthedocs.io) tests with --select=E901,E999,F821,F822,F823 currently pass on both Python 2 and Python 3!!  Nice work.

[2018-01-29 19:18] antfitch opened #245 "README.md - Quicksort average case performance"
Readme says average case performance for quicksort is 0(n^2), but elsewhere, this is O(n log n).
https://en.wikipedia.org/wiki/Quicksort

Is this a bug in the docs? Or is average case performance for the version of quicksort in this repo actually O(n^2)?

[2018-01-30 05:07] harshildarji commented on #245
I hope that screenshot below will clear your doubts:

![capture](https://user-images.githubusercontent.com/14276147/35549008-40c87a34-05a9-11e8-85ee-345ec8415b1c.PNG)

If you have any improved script for **QuickSort**, Your contribution is welcomed.

[2018-01-30 05:07] #245 closed

[2018-01-30 15:42] antfitch commented on #245
Hello harshildarji, my comment was for average case, not best case. Average case is usually O(n log n) not O(n^2) for this alg.

[2018-01-31 16:16] harshildarji commented on #245
@antfitch My bad, I’ll check and correct it within next 24 hours (or you can just do a PR with the corrections, I’ll immediately merge it).

[2018-01-31 18:50] antfitch commented on #245
No worries and cool. I added a PR.

[2018-02-01 02:00] harshildarji commented on #245
@antfitch Done!

[2018-03-01 22:48] irokafetzaki opened #256 "Contribution"
Hello,

My name is Iro Kafetzaki and I'm studying in the third year at the Athens University of Economics and Business in the Department of Management Science and Technology.  In terms of a lesson called Software Engineering in Practise and as I'm interested in algorithms that can be used for operational research I would like to ask you if I can contribute to your project in the "searches" folder

[2018-03-02 05:41] harshildarji commented on #256
Hello @irokafetzaki,
This is an open source repository and any one can contribute in this repository. All your contributions are highly welcomed.
Thank you.

[2018-03-02 05:41] #256 closed

[2018-03-03 08:54] shadowimp opened #258 "The linklist in data_structure may has some issue"

[2018-03-12 09:44] shivg7706 opened #265 "README.md not up to date"

[2018-03-17 22:17] christianbender commented on #258
@shadowimp  Can you be detailed ?

[2018-03-30 19:36] #258 closed

[2018-04-15 17:27] christianbender opened #288 "server.py : Error"
See the file [here](https://github.com/TheAlgorithms/Python/blob/master/server.py)

  File "/home/christian/Programmierung/GitHub/Python/server.py", line 29, in <module>
    t.bind()
  File "/usr/lib/python2.7/socket.py", line 228, in meth
    return getattr(self._sock,name)(*args)
TypeError: bind() takes exactly one argument (0 given)

The error above occures by python 2 and python 3.

[2018-04-15 18:54] harshildarji commented on #288
**bind()** takes address as the argument.
For example:
[code]

[2018-04-15 21:27] christianbender opened #289 "ProjectEuler -- Problem 1 -- solv2.py -- Error"
For the Input ```1000``` I get ```233366.4```. The correct answer should be ```233168```
See [file](https://github.com/TheAlgorithms/Python/blob/master/Project%20Euler/Problem%2001/sol2.py)

[2018-04-15 21:49] christianbender opened #291 "ProjectEuler -- Problem 1 -- solv4.py -- Error"
The correct answer is ```233168``` the program displays ```266333```.  See [here](https://github.com/TheAlgorithms/Python/blob/master/Project%20Euler/Problem%2001/sol4.py)

[2018-04-15 21:53] christianbender commented on #291
fixed

[2018-04-15 21:53] #291 closed

[2018-04-16 05:00] #288 closed

[2018-04-16 11:41] christianbender commented on #288
@harshildarji super!

[2018-05-01 19:51] #265 closed

[2018-05-11 16:04] LuigiBaute opened #297 "Logo Proposal"
Greetings @TheAlgorithms ,

I'm a Graphic Designer interested in collaborating
with this project by delivering a _free_ logo proposal
if this is something that interest this project, let me know

Cheers!
-Luigi.

[2018-05-14 07:01] dynamitechetan commented on #297
Sure @LuigiBaute. You can create some designs and post them in the issue. We are excited to see your work 🙌🏻.

[2018-05-18 01:12] LuigiBaute commented on #297
![logotipo python 2018](https://user-images.githubusercontent.com/36426974/40211158-f79318b6-5a16-11e8-8d84-f04af4cc6b02.jpg)
this is my proposal

[2018-05-19 11:14] yesIamHasi commented on #297
I like the 1st and 4th.

[2018-05-19 13:16] yesIamHasi opened #299 "The taste of selection_sort and merge_sort is not good."
All the sorting algorithms are implemented in Python using C++ thinking which makes the code execution time too high.
The current selection sort algorithm is 65% slower, merge_sort algorithm is 10^4 times slower.
Here's timeit result.
![screenshot from 2018-05-19 18-15-11](https://user-images.githubusercontent.com/28681929/40268971-0b390986-5b91-11e8-9cb6-5a2d2abe28c6.png)
[Here](https://github.co

[2018-05-19 17:17] LuigiBaute commented on #297
Oh thank you, I'm really glad you like'd em @dynamitechetan @yesIamHasi

 but which one of these are you going to use in this project?

 so I'll submit a pull request with the logo and I'll give you all the logo monochromatics in a google drive link for any future updates :+1:

[2018-05-21 08:57] harshildarji commented on #299
@yesIamHasi We have reviewed your [merge short](https://github.com/TheAlgorithms/Python/pull/301) commit and we are on our way to merge it. Your are welcomed to submit the pull request of selection sort too.

Best regards,
Harshil Darji

[2018-05-21 08:57] #299 closed

[2018-05-22 10:05] LuigiBaute commented on #297
Hello again @dynamitechetan did you like this logo?
I can come up with something new if you think that this one doesn't fit well for the project :+1:
I'd like to know what you tought about these ones! thanks.

[2018-05-22 14:28] dynamitechetan commented on #297
Hi. We liked your designs but we cannot set icons for individual repositories. We have a icon for a organisation. This icon is specific for the Python Repo. Can you please make some icon for the Organisation i.e The Algorithms.

[2018-05-22 18:55] LuigiBaute commented on #297
Ok! I understand, I'll try to follow the same style I used on this logo and see what I came up with.
Thanks @dynamitechetan

[2018-05-23 07:42] kaynaat007 opened #303 "A new data structure proposal"
Greetings @TheAlgorithms ,

I wish to contribute to this project by proposing to add a new data structure called Binary Indexed Tree.
How can i start ?
Any suggestions ?

regards,
Nikhil.

[2018-05-26 04:47] LuigiBaute commented on #297
Hey @dynamitechetan
This is what I came up with
I hope you like it!!
Any suggestions?
I'd like to know what you think about it.

![logotipo python 2018](https://user-images.githubusercontent.com/36426974/40572608-5cd046a0-607e-11e8-9c24-4c72adac83f6.png)

[2018-05-26 08:27] harshildarji commented on #297
Hello @LuigiBaute,
I appreciate your work brother. One mistake is, you wrote **The Algorithm** instead of **The Algorithms**. The noun, **Algorithm** should be **plural** in this context. And I think logo will look better without name in it (_this is just my suggestion_). By the way, the last decision is of @dynamitechetan.
Thank you.

Best regards,
Harshil Darji

[2018-05-27 00:07] LuigiBaute commented on #297
Hello @dynamitechetan  @harshildarji  what do you think of this ones?
hope you like it
![logotipo python3 2018](https://user-images.githubusercontent.com/36426974/40581205-56d69626-6120-11e8-86ba-5009bf329ffc.png)
![logotipo python 2018 1](https://user-images.githubusercontent.com/36426974/40581206-5d3964f8-6120-11e8-9b0d-7f8af42b9682.png)

[2018-05-27 09:12] LuigiBaute commented on #297
Hello @harshildarji ,

Don't worry I'll delete the name,
where can I make the pull request?

[2018-05-27 11:01] harshildarji commented on #297
Hello @LuigiBaute,
One cannot change the logo of the organization by merging a pull request. Only owners have the rights to do it, which in this case, are @dynamitechetan, @AnupKumarPanwar, @r0hit-gupta and @sachinarora707! You can send logo to them (_or to anyone of them_), and they can manually change it from settings.
Thank you.

Best regards, Harshil Darji

[2018-05-27 13:30] LuigiBaute commented on #297
Hello! @r0hit-gupta  ,

by the same color, you mean the dark gray color of the book as an square icon?

I'm really glad you liked the logo :+1:

[2018-05-27 13:37] r0hit-gupta commented on #297
@LuigiBaute yes. That is what I meant exactly.

[2018-05-27 13:39] LuigiBaute commented on #297
Ok @r0hit-gupta

I'll make the update and tag you when ready :)

[2018-05-27 22:11] LuigiBaute commented on #297
![4 1](https://user-images.githubusercontent.com/36426974/40591130-51fccd78-61d9-11e8-9823-c64fdd52e8be.png)

@r0hit-gupta

[2018-05-28 10:12] r0hit-gupta commented on #297
Great work @LuigiBaute. I have updated the logo. 🎊

[2018-05-28 21:47] harshildarji commented on #303
Hello @kaynaat007,
Fork this repository (_if you haven't forked it yet_), Clone it and Commit your (_working_) files in your forked repository and then simply make a PR!
Also, I am sure [this](https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github) will help you.
Thank you.

Best regards,
Harshil Darji

[2018-05-28 21:47] #303 closed

[2018-05-28 21:54] harshildarji commented on #297
Hello @LuigiBaute @r0hit-gupta,
As logo is updated and there is nothing else to discuss at this point, I am closing this issue now. If there is anything remaining to work on, we will surely reopen it!
By the way, thank you @LuigiBaute for providing us a new logo ;)
Thank you.

Best regards,
Harshil Darji

[2018-05-28 21:54] #297 closed

[2018-05-29 07:21] LuigiBaute commented on #297
Sure @harshildarji ,

here is the [google drive](https://drive.google.com/drive/folders/1sUJ1U5z94c8f-pHaVCMuJ2uHeMJ6VKuv?usp=sharing) links with all the necessary versions of the logo if you ever need it to update,
and thanks for letting me a part of this project
@r0hit-gupta @dynamitechetan

Best Regards.

[2018-06-02 04:35] AnshulMalik opened #309 "Adopt a more robust testing system"
I find that tests are currently very limited in capability. And there are very few tests with each algorithm.

We should have more tests and an efficient testing mechanism.

[2018-06-02 04:36] AnshulMalik opened #310 "Redundant parameters in SegmentTree"
[here](https://github.com/TheAlgorithms/Python/blob/master/data_structures/Binary%20Tree/SegmentTree.py) `st.query(1, 1, N, ...)` the first three parameters are unnecessary. We are using class but not taking advantage of it.

The same thing is with other classes as well.

[2018-06-05 09:35] harshildarji commented on #310
Hello @AnshulMalik,
It would be really great if you can submit a pull request to update the current scripts.
Thank you.

Best regards,
Harshil Darji

[2018-06-05 11:38] AnshulMalik commented on #310
But this is a valid issue isn't it? So I think it should be open until resolved.

[2018-06-05 13:30] harshildarji commented on #310
Hello @AnshulMalik,
Actually, I was in hurry, and so instead of **Comment**, I clicked on **Close**. Thank you for pointing it out and sorry for my mistake.

Best regards,
Harshil Darji

[2018-06-05 14:30] AnshulMalik opened #315 "Use consistent directories and file naming"
Currently, the directories and files don't follow a convention, some are `snake_case`, some `PascalCase`. We should stick to a convention.

[2018-06-06 07:10] AnshulMalik commented on #309
I found this nice test runner https://github.com/CleanCut/green

[2018-06-11 15:00] psyas opened #317 "May I add Elgamal security system algorithm to “cipher” directory?"
Hello world! I’m Sang Young Park, a student studying cryptography at South Korea
By the way, may I add The Elgamal security system code using python to this awsome project?

Best regards, Sang Young

[2018-06-11 15:04] psyas commented on #317
Elgamal security system is similar to RSA algorithm, however it is based on discrete logarithm problem!

[2018-06-11 17:40] harshildarji commented on #317
Hello @psyas,
As you already noticed that this is an open organization where everyone can contribute their ideas and algorithms, You're also welcomed to add the work you've done.
Thank you.

Best regards,
Harshil Darji

[2018-06-11 17:40] #317 closed

[2018-06-23 00:50] MonaGha opened #320 "Issue in importing SKLearn package in Jupyter notebook (Python code)"
Hello folks,

 I have problem in importing some packages. I need to know how and where could I install packages so I can import it in Jupyther Notebook?

e.g: I write this code in jupyther :
`from sklearn.family import Model `

and i got an error as shown  bellow.

ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-6fc7d8ea14f4> in <module>()
----> 1 from

[2018-06-24 20:47] stoksc commented on #320
Hi Mona,

I've run into this issue before. I resolved it with help of [this](https://github.com/jupyter/notebook/issues/397) Jupyter issue. Hopefully this is of some help.

[2018-07-22 00:13] tom5610 opened #328 "/sorts/merge_sort_fastest.py is NOT fast at all"
Hi @harshildarji & @yesIamHasi ,

Thanks for sharing algorithm source code and I really like them.

Just want to raise an issue on '/sorts/merge_sort_fastest.py' that it is not an merge_sort option as there are dependencies on python built-in functions - remove(), max() & min(), which makes 'merge_sort_fastest' like O(n^2) [ (n*(n+1)) / 2 * 2 as one max()/min() with remove()] instead of O(n log n)

[2018-07-22 16:04] #310 closed

[2018-07-22 18:23] bharath-123 opened #329 "knapsack.py can be improved"
knapsack.py fills up the entire 2D table. We can improve it by using memory functions.Which solve only subproblems which are needed

[2018-07-22 22:03] christianbender commented on #329
@bharath-123 Can you do this? Feel free and make a pull request.

[2018-07-25 19:22] #329 closed

[2018-08-04 00:44] wardseptember opened #334 "bucket_sort"
hello,where is "P26_InsertionSort" for bucket_sort.py?I can't run it.I am a player,you know.Thank you

[2018-09-01 07:25] InnoFang opened #336 "Bug report for radix sort"
**Description**

if the test case for [`radix_sort.py`](https://github.com/TheAlgorithms/Python/blob/master/sorts/radix_sort.py) is `[104, 203, 308, 401]`, the result would be `[401, 203, 104, 308]`

It's wrong!

The reason is that if the `tmp` is always `0` in one loop, it will exit the loop. In other words, If the same digit of all numbers is 0, then the result may be wrong. The similar example

[2018-09-13 03:49] sfdye opened #340 "Merge sort best & average case O(n)?"
https://github.com/TheAlgorithms/Python/blob/master/README.md#merge
Shouldn't it be O(n log n).

The Java repo is correct though:
https://github.com/TheAlgorithms/Java#merge

[2018-09-13 08:14] pandyamarut commented on #340
it's O(n log n ) only.

[2018-09-19 15:02] sumitkumar22299 commented on #340
Yes! It should be O(n*log(n)) for every case i.e. best case, average case, worst case.

[2018-09-19 15:15] sumitkumar22299 commented on #328
Yes! @tom5610  you are right. The usage of inbuilt functions is not right here to make program faster.
By the way the Python/sorts/merge_sort.py is more faster than this.

[2018-09-19 16:01] crazymerlyn commented on #328
It's also not merge sort. It's some weird two-pronged version of selection sort.

[2018-09-21 20:02] hasangokdag commented on #340
Are you pointing out that there should be a "*" between n and log(n)?
like O(n log(n)) vs O(n*log(n))?

In readme file Merge, Quick and Shell is also using one space as multiplication instead of "*". Thats why I also used it that way in the PR.

[2018-09-22 01:32] sfdye commented on #340
@hasangokdag No. In the master, best & average are `O(n)` which are simply incorrect and misleading.

[2018-09-22 04:52] piyush-kgp commented on #340
Hi @sfdye ,  @hasangokdag  has corrected precisely what you are saying in his commit. Look at his commit: https://github.com/TheAlgorithms/Python/pull/342/commits/ce3e6787f4df7fa198881b1dfa80c58a5c7afbb5
But his PR is still open, please be patient and let the repo owners merge his PR.

[2018-09-22 04:55] sfdye commented on #340
@piyush-kgp Yeah I am aware of the PR. It should get high priority as this simple typo could fail someone's interview.

[2018-09-22 04:57] piyush-kgp commented on #340
Yes. you are right. Just noticed that this thread is 9 days old. Apologies.

[2018-09-28 04:16] AnshulMalik commented on #340
Thanks @hasangokdag

[2018-09-28 04:16] #340 closed

[2018-09-28 04:56] sfdye commented on #340
Finally this is merged. Cheers 👍

[2018-09-28 06:39] va3093 opened #353 "Add demo gif to README"
__Disclaimer: This is a bot__

 It looks like your repo is trending. The [github_trending_videos](https://www.instagram.com/github_trending_videos/) Instgram account automatically shows the demo gifs of trending repos in Github.

Your README doesn't seem to have any demo gifs. Add one and the next time the parser runs it will pick it up and post it on its Instagram feed. If you don't want to just

[2018-09-28 16:55] pandyamarut commented on #328
# Merges two subarrays of arr[].
# First subarray is arr[l..m]
# Second subarray is arr[m+1..r]
def merge(arr, l, m, r):
    n1 = m - l + 1
    n2 = r- m

    # create temp arrays
    L = [0] * (n1)
    R = [0] * (n2)

    # Copy data to temp arrays L[] and R[]
    for i in range(0 , n1):
        L[i] = arr[l + i]

    for j in range(0 , n2):
        R[j] = arr[m + 1 + j]

    # Merge the temp arr

[2018-09-28 19:08] mani1soni opened #355 "typo error in data_structures/AVL/AVL.py"
there is a misprint in AVL.py in (t.Preorden)

[2018-09-28 19:10] #355 closed

[2018-09-30 19:39] daniel-s-ingram opened #361 "Codility solutions"
Would anyone be interested in a PR for Codility solutions?

[2018-09-30 19:44] elpaxoudis commented on #315
Greetings, I was going to start the same idea in a personal project but then I stumbled upon this one. So, I was thinking maybe I could contribute to this one instead.

I have never contributed to an open source project before. However, I could easily try this issue as my first. What do you think?

By the way I think that an all lower case convention is a suitable one if we consider them as [modul

[2018-09-30 19:47] AnshulMalik commented on #315
Hey @elpaxoudis, Nice to have you here, you can definitely start with this one. And we can go ahead with snake case, as this is the standard.

[2018-09-30 20:32] elpaxoudis commented on #315
Nice! Thanks @AnshulMalik for letting me work on this. Just one final question. Should I change the source .py files into `snake_case` too?

[2018-09-30 20:44] AnshulMalik commented on #315
Yep @elpaxoudis

[2018-10-01 20:18] dynamitechetan opened #374 "Improve Readme"
Many new algorithms were added. The readme file can be updated with those new algorithms.
https://github.com/TheAlgorithms/Python/blob/master/README.md

[2018-10-01 22:01] deadskull7 opened #378 "No logistic Regression and SVM in machine learning directory"
Is the logistic regression as well as SVM model is missing in machine learning directory or I am referring to wrong directory. If its so...?
I would like to take this issue and wanted to make the models from scratch if allowed by mentor.

[2018-10-02 08:47] #334 closed

[2018-10-02 09:17] harshildarji commented on #374
Hello @klymenkoo,
Your contributions to improving **Readme** is highly welcomed.
Thank you.

[2018-10-02 11:17] Gekk0r commented on #374
Hello :),

I would like to add description for these:

- pankace
- gnome
- tree
- cycle

[2018-10-02 12:15] AnupKumarPanwar commented on #374
We don't want a single README file having all the algorithms. Create individual readme files for every algorithm in [this repo](https://github.com/TheAlgorithms/Algorithms-Explanation/). See the [sample readme.md file](https://github.com/TheAlgorithms/Algorithms-Explanation/blob/master/README.md) and try to keep the same format as far as possible.

[2018-10-02 14:06] Gekk0r commented on #374
Ok, sorry for the misunderstanding!
Added heap sort.md in the other repo :)

[2018-10-02 15:40] klymenkoo commented on #374
@AnupKumarPanwar it seems to be another big issue as it means restructuring the whole project.

[2018-10-02 23:18] JRaiden16 commented on #374
So... Where I put the README files of the algorithms I added to the project?

[2018-10-04 17:17] Nidu96 opened #416 "Adding Algorithms for the string - search"
Neither the search nor string doesn't contain the Boyer Moore and Naive string searches. I would like to take this issue.

[2018-10-06 15:43] kylebegovich opened #432 "Adding a contributing.md"
I'm on course staff for an Intro to CS class and absolutely love, LOVE this project. Super helpful to explain topics and comparing all these algorithms to one-another.

I'd like to make some contributions to this project and generally look for a Contributing.md file to start on any project I'm helping on.

[2018-10-10 16:15] jinyoungHan commented on #416
@Nidu96
I would like to take it up, if no one else is looking into it.

[2018-10-11 00:06] abebinder commented on #309
Hi @AnshulMalik , I am interested in contributing.  I noticed that different algorithims have different test structures. Some have tests in the docstring. Some print out values when you run the module (although they make no assertions on what should be printed). One  has it the way I think it should be done....

[Python/data_structures/UnionFind/tests_union_find.py](https://github.com/TheAlgorithm

[2018-10-15 17:53] rohitkrishna094 opened #463 "How did you guys generate gifs on README page?"
For example, the cocktail shaker gif. Which program did you use or which code did you write to generate those visualizations?

Thanks

[2018-10-15 21:48] rohitkathuria102 commented on #416
I'm up for the task

[2018-10-16 17:11] pavan097 commented on #463
![ ](gif_Name.gif) add this on where you want the GIF to show

[2018-10-16 17:14] pavan097 commented on #463
![ ](gif_name.gif) add this on where you want the GIF to show in readme.md

[2018-10-16 17:50] rohitkrishna094 commented on #463
I know that. What I meant was which program did you use to create the gifs in first place? photoshop? or did you program it using say d3js or p5js etc

[2018-10-17 01:32] Dobatymo opened #472 "Clarify scope of this project"
There should be a list of examples of what should be included in this repository and what not.

For example there is the `simple-client-server` code which does not implement any algorithm or data structure and is better suited for a basic `socket` tutorial. Same with `File_Transfer_Protocol` . `linear-algebra-python` includes only very basic linear algebra. Of course there a various great linear a

[2018-10-17 19:33] ParthS007 opened #476 "Remove Multiple Unused Imports and Variable"
There is a lot of multiple Unused Imports and Variable in various algorithm implementations.

I am working on it.

[2018-10-18 12:55] forturnme opened #478 "Issue with Python/sorts/timsort.py"
When I used [1,0,1] to test, it just returned [1,1] and the 0 was gone.

[2018-10-19 11:34] rangoski commented on #478
I can solve this issue how can i contribute

[2018-10-19 12:47] harshildarji commented on #478
@rangoski Fork this repo, change the **timesort** with you working code, make PR. Done!

[2018-10-19 15:16] cclauss opened #485 "raw_input() was removed in Python 3"
@ParthS007 __#483 should be reverted!__

[flake8](http://flake8.pycqa.org) testing of https://github.com/TheAlgorithms/Python on Python 3.7.0

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-10-19 22:37] cclauss opened #492 "LGTM is being run on legacy Python instead of being run on Python"
See #485

[2018-10-20 20:07] AlexDvorak commented on #374
I could split up the main readme into smaller readmes for each subfolder. and i could make the main readme link to each of those. is that fine or are there other concerns?

[2018-10-21 12:04] RobbyB97 commented on #374
If you look at Pull request #488 I fixed the README entirely. Everything is formatted properly now.

[2018-10-24 18:14] #485 closed

[2018-10-24 19:38] #492 closed

[2018-10-25 06:49] harshildarji commented on #463
You can always find a **gif** for your use from the web!

[2018-10-25 06:49] #463 closed

[2018-10-25 14:47] alexlwn123 opened #515 "Add Geometry Folder"
Include convex hull algs plz

[2018-10-26 14:58] harshildarji commented on #515
@alexlwn123 Hello, If you have algorithms to put in Geometry folder, you are welcomed to create it.

[2018-10-26 14:58] #515 closed

[2018-10-26 14:58] #478 closed

[2018-10-26 15:05] harshildarji commented on #472
@Dobatymo You are right. But the thing is, we merged (*or say allowed*) naive implementations to help newbies in Python. **The scope of this project is and always will be to share opensource implementations of different algorithms.**

[2018-10-26 15:05] #472 closed

[2018-10-26 18:34] nicholasraphael commented on #309
Hi, @AnshulMalik and @abebinder I am interested in contributing and helping on this issue if that's okay. Just to clarify our goal is to use the green test runner with Travis to test all the present data structure and algorithm implementations while setting a standard for writing tests for the project?

[2018-10-26 18:48] abebinder commented on #309
I believe that's correct@nicholasraphael. School got the best of me so its all you.

[2018-10-27 04:38] lx1922 opened #529 "caesar_cipher.py"
The caesar_cipher.py doesn't work because the index values for position of the alphabet are being considered wrong along with the modulus of the key for if key > 26. (maybe typos in the program)

Also the thing attached here is only for encryption......hence the decryption can be changed easily.
[caesar_cipher.txt](https://github.com/TheAlgorithms/Python/files/2521459/caesar_cipher.txt)

[2018-10-27 10:38] ashwek opened #532 "Unnecessary Recursion"
https://github.com/TheAlgorithms/Python/blob/f0d5bc6ece0c1c6f970761dbc348a6f16fdcebd2/ciphers/caesar_cipher.py#L36-L44
https://github.com/TheAlgorithms/Python/blob/f0d5bc6ece0c1c6f970761dbc348a6f16fdcebd2/ciphers/caesar_cipher.py#L51-L53

If you are using a while loop on _line 42_, why are you calling `main()` recursively on line 52, 59 & 63?
Instead you can just add the Menu (`line 37-41`) inside

[2018-10-27 12:15] harshildarji commented on #532
@ashwek You right! Updated the code in commit 4e0184a41dd3e4838da484057d25e17234353da0!

[2018-10-27 12:15] #532 closed

[2018-10-27 12:18] harshildarji commented on #529
@lx1922 You are welcomed to improve the code. Just make the PR!

[2018-10-27 12:18] #529 closed

[2018-10-28 06:58] ittrends-hyd opened #539 "Logic for primecheck is wrong"
Primecheck logic is wrong.
It doesn't work for numbers like 121(multiples of prime number greater than 10)

[2018-10-28 16:14] iChouaib opened #543 "except valuError in python"
hey guy im beginning at python, i use pycharm to edit code so i made this game for testing
see the photo seems all lines is correct but i don’t know why it’s keeping show me that
indentationerror unindent does not match any outer level in except valueError line
any idea ?!
![image](https://user-images.githubusercontent.com/37656982/47618528-a7ec4000-dad4-11e8-88c0-4056cf50557d.jpg)

[2018-10-28 16:38] iChouaib commented on #543
same error

[2018-10-28 16:56] ashwek commented on #543
there is no **try** block / statement.

[2018-10-29 03:40] zhqu1148980644 commented on #378
#508

[2018-10-29 03:45] zhqu1148980644 commented on #378
![smo](https://user-images.githubusercontent.com/29366130/47628349-22b66900-db70-11e8-9bd9-b4d91053e8eb.png)

[2018-10-29 15:43] ashwek opened #550 "Escape sequence not translanted"
https://github.com/TheAlgorithms/Python/blob/4e0184a41dd3e4838da484057d25e17234353da0/dynamic_programming/max_sub_array.py#L53

Due to extra set of parentheses the **\t** is not translated into _tabs_.

[2018-10-29 15:57] ashwek opened #551 "Unnecessary Loop"
https://github.com/TheAlgorithms/Python/blob/4e0184a41dd3e4838da484057d25e17234353da0/dynamic_programming/matrix_chain_order.py#L12-L15

`Line 12` creates a NxN Matrix that **contains 0**. So there is no need for `Line 14-15`

[2018-10-29 16:20] pengfilee commented on #550
good

[2018-10-31 07:29] harshildarji commented on #539
Done!

[2018-10-31 07:29] #539 closed

[2018-10-31 07:31] #551 closed

[2018-10-31 08:36] #543 closed

[2018-10-31 08:37] harshildarji commented on #361
Yes Please 😁

[2018-10-31 08:37] #361 closed

[2018-11-01 15:23] ashwek opened #590 "Issues in singly_linked_list.py"
https://github.com/TheAlgorithms/Python/blob/32db8be93e2821900917daec200a0c914b7cc00c/data_structures/linked_list/singly_linked_list.py#L16-L20

Line 17 `def insert_head(Head, data):` 1st parameter must be `self`
Line 20 `newNod = Node()` Node() takes 1 parameter (data)

[2018-11-01 17:31] #590 closed

[2018-11-04 00:25] jahid5532 opened #595 "Thairath"
Lotto win 149840

[2018-11-04 01:05] jahid5532 opened #596 "PHP"
149840

[2018-11-04 14:48] #595 closed

[2018-11-04 14:48] #596 closed

[2018-11-05 02:36] xianwu5 commented on #416
I want to learning

[2018-11-05 08:31] harshildarji commented on #550
Done!

[2018-11-05 08:31] #550 closed

[2018-11-06 04:53] yzzhang-cs opened #598 "Improving readability of README.md"
The file contains confusing sentences. Some sentences are difficult for beginner to understand.

[2018-11-06 16:09] harshildarji commented on #598
Merged!

[2018-11-06 16:09] #598 closed

[2018-11-11 18:33] ashwek opened #604 "possible bug in quine_mc_cluskey.py"
https://github.com/TheAlgorithms/Python/blob/91fccecb5688d0a18cf7228ebb6fd7b7f67f4a2f/boolean_algebra/quine_mc_cluskey.py#L3-L8

Shouldn't `Line 8` be `if count > 0:` ?

[2018-11-12 12:23] TillLindemann opened #605 "The InOrderTraversal in data_structures/binary_search_tree might be wrong"
the src is :
[code]

but the [wikipedia](https://en.wikipedia.org/wiki/Tree_traversal#In-order_(LNR)) tells me that in-order-traversal should be  left -- root -- right.
the code above seems to be pre-order-traversal.
I am now very confused by the definition of traversal.

[2018-11-14 13:59] zubiix opened #609 "Typo error in /neural_network/perceptron.py"
there is a typo error in perceptron.py on line 118, the method name is wrong

`network.trannig()` instead of `network.training`

[2018-11-14 23:19] imranjavaid commented on #605
In-order is root--left--right. The above code looks correct. The wikipedia link also says to check current node first, then left, then right.

[2018-11-15 05:16] TillLindemann commented on #605
@imranjavaid  no no no, every traversal method should check root first, but it does not mean "display" or "show" the root first. here is the explanation:

1.Check if the current node is empty or null.
2.Traverse the left subtree by recursively calling the in-order function.
3.Display the data part of the root (or current node).
4.Traverse the right subtree by recursively calling the in-order funct

[2018-11-15 15:47] adisakshya commented on #605
@TillLindemann you are right,
the code you provided is of **PRE-ORDER** traversal of binary tree.
PRE-ORDER involves:-
1. Visit the root.
2. Traverse the left subtree, i.e., call Preorder(left-subtree)
3. Traverse the right subtree, i.e., call Preorder(right-subtree)

but IN-ORDER involves:-
1. Traverse the left subtree, i.e., call Inorder(left-subtree)
2. Visit the root.
3. Traverse the right sub

[2018-11-15 16:04] TillLindemann commented on #605
@adisakshya  The code you write is still wrong. here is the result:
![image](https://user-images.githubusercontent.com/22681439/48564524-88a53d80-e931-11e8-8d56-d83ca8818ce2.png)
You can see that nothing changes. You did one right thing, which is the place of the so called "insert" operation, it should be at the second line.but
the real problem is that the "insert" operation is wrong.it should be

[2018-11-15 17:03] adisakshya commented on #605
Good Call, it worked.

[2018-11-15 17:52] harshildarji commented on #609
Issue resolved in PR #610!

[2018-11-15 17:52] #609 closed

[2018-11-19 09:58] RealOrge commented on #604
I think that no,
because one "_" is what we want
more than one "_" means that we cannot use this string

[2018-11-22 03:32] wxde opened #611 "have a problem about the function of sort()"
i want a list sorted by the lenght of str. the environment is python3.6

"strs.sort(lambda x,y:cmp(len(x),len(y)))"

the error : TypeError: must use keyword argument for key function

i don't know where is the error

[2018-11-22 05:05] ashwek commented on #611
@wxde
try: `strs.sort(key = lambda x: len(x))`

[2018-11-23 01:56] wxde commented on #611
thanks to ashwek, it work

[2018-11-23 07:05] hnjang opened #614 "How about categorizing sorting algorithms?"
How about categorizing sorting algorithms?

I think, they can be categorized like [this page](https://en.wikipedia.org/wiki/Sorting_algorithm#Popular_sorting_algorithms) of wikipedia.

Cat 1. Simple sort
Cat 2. Efficient sort (or advanced sort)
Cat 3. Bubble sort and variants
Cat 4. Distribution sort

Give me any feedback.

[2018-11-30 17:44] ashwek opened #620 "errors in balanced_parentheses.py"
https://github.com/TheAlgorithms/Python/blob/6a95bf9ad8090a1280abf76752a52ab9ee2420b7/data_structures/stacks/balanced_parentheses.py#L13-L17

`Line 16` returns wrong result due to `not`

`Line 15` can cause error for inputs like **))**. before calling _pop_ it should be checked if stack is empty.

https://github.com/TheAlgorithms/Python/blob/6a95bf9ad8090a1280abf76752a52ab9ee2420b7/data_structures

[2018-12-03 03:01] vglede opened #622 "the file "https://github.com/TheAlgorithms/Python/blob/master/sorts/bucket_sort.py" i think it can be come true by the method of bubble sort,like this:"
[code]

[2018-12-04 09:10] QinZonger opened #625 "Package download failed （flask）"
Wrong information is ：
`Could not install packages due to an EnvironmentError: [Errno 13] Permission denied: '/Library/Python/2.7/site-packages/werkzeug'
Consider using the `--user` option or check the permissions.`

[2018-12-04 12:01] bhagyarajan12 opened #626 "Reading XML file Using Python"

[2018-12-05 06:05] #625 closed

[2018-12-05 11:31] SandersLin opened #630 "project_euler/problem_02/sol2.py does not give correct answer."
`project_euler/problem_02/sol2.py` does not give correct answer. The purpose of the program is also unclear without documentation.

[2018-12-06 06:41] SandersLin commented on #309
Hi, open source newbie here. Adding unit tests seems to be quite important for the future growth of this amazing project. I was wondering how do we find out who the administrator is ans ask his/her attention on this project? I would love to contribute  in this unit testing if others are busy with school. :)

[2018-12-10 06:51] loftwah commented on #626
I'd like to help but I am unable to see any XML.

[2018-12-10 08:30] bhagyarajan12 commented on #626
I have xml file as shown Below.

<Positions>
 <Pos longsrcid="abv"  empid="rwetrwet">
     <Marketval  Firm="898" portfolio="896">
     <BookPrice firm="989" portfolio="9898">
</Pos>
</Positions>

now that i want to read the empid , Marketval firm and portfolio, BookPrice Firm and Portfolio values
from xml.etree import ElementTree
import os
Tree=xml.parse("XML Path/XML Filename")
xmlroottag=Tree.f

[2018-12-10 08:30] bhagyarajan12 commented on #626
<Positions>
 <Pos longsrcid="abv"  empid="rwetrwet">
     <Marketval  Firm="898" portfolio="896">
     <BookPrice firm="989" portfolio="9898">
</Pos>
</Positions>

[2018-12-10 08:31] bhagyarajan12 commented on #626
can you please message your email id

[2018-12-10 13:55] loftwah commented on #626
I'm not giving you my email, what you are posting doesn't contain any XML.

[2018-12-11 16:49] bhagyarajan12 commented on #626
<Positions>
 <Pos longsrcid="abv"  empid="rwetrwet">
<Marketval  Firm="898" portfolio="896">
<BookPrice firm="989" portfolio="9898">
</Pos>

<img width="349" alt="capture" src="https://user-images.githubusercontent.com/8483244/49815895-cbbcca00-fd92-11e8-9210-fd97351be177.PNG">

Duplicate of #**

[2018-12-11 16:50] bhagyarajan12 commented on #626
i have posted that xml now, please find it on my above comment

[2018-12-16 21:30] xaoli opened #663 "Base64"
That is not the imlpementation of Base64 algorithm. It is using module.

[2018-12-17 14:55] mikaelsouza commented on #620
Oh, I just noticed that you already fixed this issue which makes what I did redundant haha.

I hope the new example can be useful though.

[2018-12-17 15:39] #620 closed

[2018-12-18 16:54] Koustubh18 commented on #626
import xml.etree.ElementTree as et
tree = et.parse("p.xml").getroot()
for i in tree:
    print(i.tag,i.attrib)

from above code you get all attributes in dictionary form
you can access easily firm and other stuffs

[2018-12-20 09:37] yanilkumar7708 opened #665 "Not able to automate ssh to linux machine from pycharm using pxssh or pexpect.Is there any other way?"
Tried below code:

import pxssh
import getpass
try:
    s = pxssh.pxssh()
    hostname = raw_input('hostname: ')
    username = raw_input('username: ')
    password = getpass.getpass('password: ')
    s.login (hostname, username, password)
    s.sendline ('uptime')   # run a command
    s.prompt()             # match the prompt
    print s.before          # print everything before the prompt.

[2018-12-20 13:03] #665 closed

[2018-12-23 13:51] sumonmediu opened #668 "How to a Python program to retrieve info about the following?"
1. Write a Python program to retrieve info about the following:
 a. CPU number of system calls
 b. CPU temperature
 c. Context switches
d. Disk and the memory state

[2018-12-24 20:59] emmafritx commented on #374
.

[2018-12-25 08:14] EthanVieira commented on #630
Hello, I have found and resolved the issues with this solution as well as provided documentation. I'll go ahead and submit a PR.

[2018-12-25 12:04] jithendrabsy commented on #668
I can help you with this

[2018-12-25 12:11] jithendrabsy commented on #668
Hi! @sumonmediu  I like to contribute for this!
For knowing the details
'''
dddd
'''

[2018-12-25 13:08] jithendrabsy commented on #668
Hello @sumonmediu  I can help you in this! I just pull requested a .md file about retrieving the information you had questioned!!!

[2018-12-25 13:09] jithendrabsy commented on #668
[PC resources](
        Python/PC resources/PC resources.md
      )

[2018-12-25 13:12] sumonmediu commented on #668
Can i have for Python 3.x?

But thanks

[2018-12-25 13:16] jithendrabsy commented on #668
Yeah it will work for python 3.x and also on windows
except temperature from psutil module is not supported on windows

[2018-12-26 09:06] sumonmediu commented on #668
Ok, I got it for all. But only one problem is here, Temperature of CPU is not working for windows user.

[2018-12-26 09:06] #668 closed

[2018-12-28 10:12] shloksobti opened #674 "Motion Planning Algorithms"
Implementation of motion planning algorithms, such as Bug Algorithms, PRM, RRT, CHOMP, etc.

[2018-12-29 20:09] mikelfried commented on #663
I  have edited the base64 file, in my pull request

[2019-01-19 02:07] EternalLearner42 commented on #374
Greetings. Can this still be considered open? I have some ideas on improving the README (adding images to some of the algorithms, fixing typos, ...) and would like to know if I am free to go.

[2019-01-19 03:59] AnupKumarPanwar opened #684 "Improve LCM"
The approach used to find LCM in the following algorithms is not efficient. Please update it.
https://github.com/TheAlgorithms/Python/blob/master/Maths/find_lcm.py

[2019-01-19 20:32] mikelfried commented on #684
I improved the algorithm in my pull request.
form O(num1*num2) to O(min{num1,num2})

[2019-01-19 20:49] #684 closed

[2019-01-22 13:54] vanshin opened #685 "__bytes__ method in wsgiref/headers.Headers shoule use utf8 as the default encode type"
iso-8859-1 do not compatible with other languages, e.g. chinese

[2019-01-25 02:48] #685 closed

[2019-01-28 08:46] cclauss opened #687 "Undefined name 'on_the_way_back'"
[flake8](http://flake8.pycqa.org) testing of https://github.com/TheAlgorithms/Python on Python 3.7.1

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]
__E901,E999,F821,F822,F823__ are the "_showstopper_" [flake8](http://flake8.pycqa.org) issues that can halt the runtime with a SyntaxError, NameError, etc. These 5 are different from most other flake8 issues

[2019-01-29 10:55] pandyamarut commented on #614
@hnjang Not Necessary but you can be categorised for understanding.

[2019-02-07 10:14] dynamitechetan opened #690 "Looking for Maintainers"
Hi All. Most of our maintainers are busy in their jobs. We are looking for some people who can maintain this project and merge PRs regularly. If anyone want to become a maintainer please drop a email to dynamitechetan@gmail.com and cc 1anuppanwar@gmail.com

Thanks

[2019-02-07 17:35] LogMirzaBaig commented on #604
It should be greater or equal to one. Also, you are going to get an index out of range error if the string don't have the same length. Your range should be len(l1)-1.

[2019-02-09 02:14] #336 closed

[2019-02-09 04:19] #611 closed

[2019-02-09 17:27] #630 closed

[2019-02-11 16:59] ameet20 opened #697 "Algo for str"
search and string doesn't contain the Boyer Moore and Naive string searches. someone take it

[2019-02-12 15:25] elrion018 opened #698 "I think that there is better code of heap(data structure)."
Hi!
First of all, thank you for opening your code.
I want to say something useful.

I studied your code(https://github.com/TheAlgorithms/Python/blob/master/sorts/heap_sort.py).
I didn't understand your code until I tested code with many  test cases.
After understanding I wrote new code of heap.
I think this code is better than your code to explain heap data structure.
What do you think?

`class He

[2019-02-12 15:45] poyea commented on #697
Thanks! I think so.😂 Would you give it a try?

[2019-02-12 15:49] poyea commented on #698
Thanks for the advice! Didn't check through two pieces of code (seems that yours is more throughout), but I think it is perfectly fine to open a PR, on a different version of heap sort!😋 - John

[2019-02-14 14:03] Reshad-Hasan opened #700 "Like add dijkstra in the graph section."
The graph section only has code for dfs and bfs I would like to add dijkstra to the folder and possibly a few other graph algorithms.

[2019-02-14 14:11] poyea commented on #700
Sure, cool idea! You can add graph algorithms that are not present, or improve current ones by submitting pull requests. Enjoy! 😉 - John

[2019-02-15 04:39] kennyledet opened #701 "question for the owner of the repo"
Where did you get the idea from? ;)

[2019-02-17 11:56] adMenon opened #703 "Add bitmask and dp"
I would like to add Bitmap and DP in the dynamic programming section. It can be used for solving questions like assign unique caps among persons, etc.

[2019-02-17 11:58] adMenon commented on #703
I would like to add Bitmap and DP in the dynamic programming section. It can be used for solving questions like assign unique caps among persons, etc.

[2019-02-18 15:36] #700 closed

[2019-02-18 21:56] #674 closed

[2019-02-20 05:06] pradyotd commented on #687
I suspect this failing analysis on all pull requests.

[2019-02-20 05:14] cclauss commented on #687
Difficult to say because https://travis-ci.com/TheAlgorithms/Python is not turned on.

[2019-02-20 09:11] slarse commented on #309
Hello! Since nothing has happened here for several months, my group and I thought we'd have a stab at it. We're doing a project for uni where we need to put roughly 100 man-hours into an open source project until Wednesday the 27th. In other words, we can get a lot done in the coming week, but we need to start immediately.

These are our goals, off the top of our heads:

* Package the project (wit

[2019-02-20 16:25] slarse commented on #309
@ashwek @poyea Thanks for the quick thumbs up, we have started planning!

We would like to present an alternative to `unittest`:  [`pytest` (link)](https://github.com/pytest-dev/pytest) is (in our humble opinions) a much better testing framework, in which tests are a lot easier to write. For example, here is a trivial `unittest` test class:

[code]
and here is the equivalent with `pytest`:
[code]

[2019-02-20 16:49] poyea commented on #309
Very nice. I also found [this](https://github.com/renzon/pytest-vs-unittest) comparison, but I believe it is completely fine to go with `unittest` since as you've said, it's built-in.😉🤞

[2019-02-20 16:57] slarse commented on #309
Yes, `pytest` is superior in every respect in my opinion, but it does add a slight amount of complexity to the project as a whole. We don't mind doing `unittest`, and we don't mind doing `pytest` (we love pytest :D), it is entirely up to you!

[2019-02-20 17:12] poyea commented on #309
If you take the initiative, then it's up to **you**! Therefore if you prefer `pytest`, please go ahead!!! Once you're set, you may consider opening a new issue (for implementation/technical issues) to indicate that you're working on it or part of it. Anyway, feel free to ask for any help!😂

[2019-02-20 17:25] slarse commented on #309
Alright, thanks for the quick responses! We may consider converting everything to `pytest` then, it's a fantastic framework.

We'll open issues for reasonably sized and independent subtasks, doing all of this in one PR would be a bit... drastic.

[2019-02-20 17:36] slarse opened #708 "Introduce a proper package structure"
A pre-requisite for a unified test suite (see #309) that can be run with CI is that the project is properly packaged, as modules will not be importable otherwise. This essentially requires three things:

1. A `setup.py` with the most rudimentary settings.
2. An `__init__.py` file in every directory housing Python modules.
3. Valid identifier names for all modules and directories.
    - I.e. no spa

[2019-02-21 09:01] slarse commented on #708
Going through the project, we've started finding a few troublesome import statements. For example, in `data_structures/hashing/double_hash.py`, there is a mix of explicit relative importing (i.e. prefixing an import with `.`) and absolute importing. The absolute importing is however relative to the `data_structures/hashing` directory, and as such won't work from the root of the whole project. Look

[2019-02-21 09:35] slarse opened #710 "Drop Python 2 support?"
Also related to #309

There are a lot of files that try to support both Python 2 and Python 3, with mixed results. Then there are some files using explicit Python 3.6 features (such as f-strings), which makes running _all_ files under both Python 2 and Python 3 a bit yanky.

While we can probably make most of this work using backporting libraries (such as [future-fstrings](https://github.com/asott

[2019-02-21 11:05] slarse commented on #710
To just be able to keep on working toward #309, we will assume Python 2 should be supported and consider anything that does not work at all in Python 2 to be bugs.

[2019-02-21 18:32] VintageDesign opened #712 "Evolutionary Algorithms"
So I have a whole ton of Evolutionary Algorithm Variants and Simulated Annealing Algorithms from some research for a class. Would you guys want a couple examples of them? (with plenty of documentation and explanation of course)

[2019-02-22 09:16] slarse commented on #710
After some more digging around in the project, Python 2 support seems to be fairly poor already. There are 256 modules in total, and these are the results for just importing them in Python 2 and 3, respectively:

## Python 2
* 150 succeed
* 106 fail
    - 14 fail because top level code read from stdin
    - 4 timeout (blocking top level code)
    - 81 import errors.

## Python 3
* 176 succeed
* 80

[2019-02-22 14:01] poyea commented on #712
Sure. It seems there's no existing folder for these algorithms, so feel free to create them in folder(s).😄

[2019-02-23 14:25] Reshad-Hasan opened #716 "Organizing graph algorithms"
the graph algorithms are scattered all over the place. there is one graphs folder in the main directory and there is another inside the data structures folder. there should be one graph folder in the main directory containing all the graph algorithms.

[2019-02-23 14:49] Reshad-Hasan commented on #697
did the naive string search

[2019-02-24 07:01] ameet20 commented on #697
Reshad-Hasan thanks

[2019-02-24 22:05] VintageDesign commented on #712
Since I can't push up a new branch on the repo, how does one create a PR?

[2019-02-25 02:07] poyea commented on #712
You may [create a pull request from a fork](https://help.github.com/en/articles/creating-a-pull-request-from-a-fork).

[2019-02-26 10:33] #716 closed

[2019-02-26 14:24] lmj01 opened #721 "Python/arithmetic_analysis/newton_raphson_method.py"
in this file, NewtonRaphson('sin(x)', 2)), where defined the x ?
@AlexDvorak

[2019-02-26 22:03] AlexDvorak commented on #721
it isn’t, the function takes an argument, a function, for example "y = sin(x)” but without the "y =" part. It's a function to graph, not a numerical input.

[2019-02-28 14:28] lmj01 commented on #721
i run python newton_raphson_method.py, get the x is not defined,  maybe i don't understand this algorithm how do in graph or show in picture by other library

[2019-03-02 07:11] AkashAli506 commented on #614
@hnjang Yes, sorting algorithms should be categorized for better understanding.

[2019-03-02 07:42] AkashAli506 opened #727 "Python/Graphs/floyd_warshall.py"
Proper comments should need to be added in "Python/Graphs/floyd_warshall.py" file for better understanding.

[2019-03-02 15:52] QuantumNovice commented on #690
portabl3lapy@gmail.com

[2019-03-04 15:28] freesadness opened #729 "New comer"
Hi, good morning.

[2019-03-18 16:48] alexlwn123 commented on #690
alexlwn123@gmail.com

[2019-03-22 11:45] Thyagutamizhan opened #739 "How to recieve data's continuously from ethernet connected barcode readers using python?"
Hi, Actually I'm a beginner in python. I wanna connect multiple barcode readers via ehernet and recieve data's from those readers continuously for processing those data's. So i wanna know how to recieve the data from ehternet connected barcode readers continuously using python script.

[2019-03-23 08:24] Brykerr78 commented on #721
🤔

[2019-03-23 14:14] shyamapadamaity commented on #721
I am unable to install healpy in my mac Mojave version though I used pip install  healpy.

[2019-03-24 18:50] louisparis opened #742 "Some files don't seem to have comments to explain what they do."
Comments should be added to explain what some files do.

[2019-03-24 18:51] louisparis opened #743 "What is numpy used for?"

[2019-03-24 20:26] parkerbaird commented on #743
There could very likely be a number of places it is used, but one example is 'other/game_of_life'.

[2019-03-24 20:32] louisparis commented on #743
Okay thanks. I was asking for what it is generally used for.

[2019-03-24 20:32] #743 closed

[2019-03-26 08:07] louisparis commented on #729
Hi!

[2019-03-26 16:42] willx75 opened #744 "Adding a new algorithm"
Hi I like how you manage your project that's why  i'd like to contribute on it, by adding a new algorithm,
Best

[2019-03-29 20:08] #742 closed

[2019-03-29 20:08] louisparis commented on #744
Go for it! 👍

[2019-03-30 17:47] willx75 commented on #744
Thanks you!

[2019-04-01 14:25] #703 closed

[2019-04-01 15:14] deepakrao92 commented on #626
Can you try using BeautifulSoup library

[code]

This returns the value for the specified tags

[2019-04-05 16:42] wenfangliang commented on #729
hi,good night!

[2019-04-21 04:56] areebbeigh opened #762 "Vector: Mutable default argument"
https://github.com/TheAlgorithms/Python/blob/48bba495ae1007c9e21a0c11d5b95585825f9a9e/linear_algebra_python/src/lib.py#L48-L53

this should be something like

[code]

https://docs.python-guide.org/writing/gotchas/

[2019-04-21 22:44] CharlesRitter opened #764 "Odd-even transposition sort"
I just learned about odd-even sort in my algorithms class and would like to code it up and add it to the repo.

[2019-04-24 14:29] Txsan opened #765 "tt"
yy

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-24 14:30] #765 closed

[2019-04-27 11:01] xyz2741 commented on #729
sign in

[2019-04-28 06:07] luoying1105 opened #771 "为你打call"
666

[2019-04-28 06:35] tongpinmo commented on #729
hahah ,thank you

[2019-04-28 06:45] christma commented on #729
You've done a great job. Thank you. I'm from China.

xianliangliu@aliyun.com

From: tongpinmo
Date: 2019-04-28 14:37
To: TheAlgorithms/Python
CC: Subscribed
Subject: Re: [TheAlgorithms/Python] New comer (#729)
hahah ,thank you
—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-28 07:38] #771 closed

[2019-04-30 01:05] Djpastorss commented on #729
Hi 😊

[2019-04-30 01:11] clearwater06 commented on #729
thank you for sharing

[2019-04-30 01:25] KongQingXin12 commented on #729
Hi

[2019-04-30 06:28] alvinlee4858 opened #775 "urgently seeking software prototype maker for assessment tool"
Hi there, alvin lee, from singapore here.

i have a startup making Digital Alchemist. it's about recording and curating analogue human experience.

i do not have data nor computer background, i just need some one or small team to make a simple app. alvinlee4858@gmail.com
wwww.castlescanfly.com.
+65 98753550

please contact me.  looking forward,

[2019-05-01 06:06] Liusmaster commented on #729
thanks

[2019-05-01 06:57] huiminlatte commented on #729
Hi!

[2019-05-01 16:49] AyonzOnTop commented on #729
Hi, I'm Tomiwa from Nigeria. Nice to meet you.

[2019-05-02 00:01] azzefj commented on #727
Make a code review inside the changes! It's better if you let them know what info you want in the .py

[2019-05-02 17:46] 3vild03r commented on #416
<a href="https://newweb123123.000webhostapp.com/hack.html">Click to get solution</a>

[2019-05-04 07:47] AnupKumarPanwar opened #781 "LGTM analysis is failing"
**Cause:**
The logs imply that the analysis is failing due to improper initialization of the variable **on_the_way_back** in the following file.
[/graphs/Directed and Undirected (Weighted) Graph.py](https://github.com/TheAlgorithms/Python/blob/master/graphs/Directed%20and%20Undirected%20(Weighted)%20Graph.py)

**Logs:**
[code]

[2019-05-05 11:31] unicorn-io opened #786 "Rookie"
Hello I want to contribute to this!

[2019-05-05 12:40] poyea commented on #786
Sure. Any contribution is welcome.

[2019-05-05 12:41] poyea commented on #781
Yes I also notice this. Perhaps owners shall fix this, by directly pushing the fixing changes.

[2019-05-05 23:58] i-laird opened #788 "Algorithms Suggestion"
Hi I am interested in helping out preferably by implementing a new algorithm for the project. Are there any that you guys feel would be a good idea to add?

[2019-05-06 21:38] Storj39419 commented on #663
rd

[2019-05-07 07:03] bHaRatH9035 commented on #690
bharath.m.9035@gmail.com

[2019-05-07 16:47] #781 closed

[2019-05-10 10:04] Julien00859 opened #795 "math CheckPrime is wrong"
The current implementation doesn't support:

* Negative values, -1 is not a prime number. Current implementation raise a TypeError due to `math.sqrt` on negative values.

The current implementation return the wrong value for:

* 0, 0 doesn't have any divider, primes must have two.
* 1, 1 just have one divider, primes must have two.

[2019-05-11 11:20] #795 closed

[2019-05-12 13:11] #786 closed

[2019-05-12 13:21] poyea opened #802 "A tailor-made contribution guide"
I think we should write a Contribution Guide from which:
1. New comers know **how they can contribute**
2. Everyone know **what do the community, especially users and readers expect**
3. Most importantly, everyone learns about **the standard of code contribution**, like do we need testing in submission? Is it a strict requirement? Do we need comment description? Are one-liners acceptable? How to d

[2019-05-13 05:17] AnupKumarPanwar commented on #802
@poyea I agree with you. I think we should cover the contribution standards in the README.md file. Check the [README](https://github.com/TheAlgorithms/Algorithms-Explanation/blob/master/README.md) file of [Algorithms-Explaination](https://github.com/TheAlgorithms/Algorithms-Explanation) for reference.

[2019-05-14 22:05] odyszago commented on #744
Hey there!!! I found this repository very interestring. I'd like to contribute on arithmetic_analysis adding new algorithms, such as Lagrange’s Interpolation or least squares polynomial.  Let me know if it's ok ;)

[2019-05-15 07:31] castoner opened #811 "bug report for quick sort"
if we insert
 "5, 3, 3, 7, 9, 11, 2, 54, 32, 12, 11"
this function will return
[2, 3, 5, 7, 9, 11, 12, 32, 54]
so ,only one 3,11 in this list.

[2019-05-15 08:20] castoner commented on #811
could add "=" on line 37 & 38 after "<" / ">"

[2019-05-15 20:20] Erfaniaa opened #813 "LCA (least common ancestor)"
LCA is not present in graph algorithms.

[2019-05-15 20:41] Reshad-Hasan commented on #813
It's in datastructure folder

[2019-05-15 20:44] Reshad-Hasan opened #814 "Eulerian path"
Implemented the algorithm and created a pull request 10 days ago.

[2019-05-15 20:45] Erfaniaa opened #815 "Computational Geometry"
We don't have 2d vector, convex hull, polygon area, etc.

[2019-05-15 20:46] Erfaniaa opened #816 "2D Segment Tree"
May we add 2D Segment Tree to the repo?

[2019-05-15 20:53] Erfaniaa opened #817 "Divide and Conquer"
May we add a "divide and conquer" folder and add "closest pair of points" and "maximum sub-array" to it?
Also, we can add "meet in the middle" algorithms.

[2019-05-15 21:05] Erfaniaa commented on #813
Isn't it better to put it in the graph folder?

[2019-05-15 22:48] Reshad-Hasan commented on #813
LCA works on tree and tree is non linear datastructure.

[2019-05-16 07:09] #811 closed

[2019-05-16 11:21] #814 closed

[2019-05-17 00:18] 18976080486 commented on #729
Hi

[2019-05-17 04:54] amid11 commented on #729
maybe using a __Discord__ group would be a better idea, I mean submitting *an issue* just for showing gratitude or saying hello doesn't seem to be appropriate.
### Please don't contribute to this issue anymore, thanks :+1:

[2019-05-19 09:12] siddharthjain1611 commented on #817
I think that's a great idea.

[2019-05-19 15:12] vaibhavagarwa commented on #690
vaibhavagrawal270@gmail.com

[2019-05-20 13:26] NandoJr2 opened #825 "CSV Reader"
Hi, i'm facing a problem here.

My program can't read a csv inputed by a entry using tking package. I've tested many possibilities, and nothing yet.

from tkinter import*
from os import *
from csv import *
from shutil import *

#Criação da visualização da janela
janela=Tk()
janela.title("Copia e Cola")
janela.geometry("500x200")

#Algoritmo de procura dos arquivos
def CC():
    print("bt_click")

[2019-05-22 16:22] Ronkiro commented on #825
Using Pandas may help you.

Pandas has a method read_csv, that does the job.

Check it out here:
[Pandas read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#pandas.read_csv)

[2019-05-23 09:01] har263 opened #829 "Command "python setup.py egg_info" failed with error code 1"
While running the following command on Windows 10 -
pip install textract

I am getting the following error:
 Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\010922\AppData\Local\Temp\pip-install-xs6z2e4d\EbookLib\setup.py", line 13, in <module>
        long_description = open('README.md').

[2019-05-23 13:03] Ronkiro commented on #829
Which Python version are you using?

[2019-05-23 16:38] har263 commented on #829
Python 3.7.1

[2019-05-23 16:38] har263 commented on #829
Python 3.7.1

[2019-05-23 16:47] poyea commented on #829
Perhaps you'll need an updated version of the module. What files are you referring to?

[2019-05-23 16:56] har263 commented on #829
C:\Users\010922>pip install textract
Collecting textract
  Using cached https://files.pythonhosted.org/packages/e0/00/a9278b3672a31da06394eb588a16e96f8fce9f6ae0ed44cca18103d4aef5/textract-1.6.1.tar.gz
Collecting argcomplete==1.8.2 (from textract)
  Using cached https://files.pythonhosted.org/packages/f0/0f/f965f1520e6ba24b63320919eecfbe3d03debd32402e0c61a08e8fa02d17/argcomplete-1.8.2-py2.py3-none-

[2019-05-24 10:23] wizzup commented on #374
I think each directory should contain a separate README file so when browsing the repo on github it will render the README as directory summary instead of list of files.

[2019-05-24 13:49] JRaiden16 commented on #374
I'm agree with that

El vie., 24 de may. de 2019 05:25, Wisut Hantanong <notifications@github.com<mailto:notifications@github.com>> escribió:

I think each directory should contain a separate README file so when browsing the repo on github it will render the README as directory summary instead of list of files.

—
You are receiving this because you commented.
Reply to this email directly, view it

[2019-05-24 18:12] poyea commented on #829
This doesn't seem to be a question related to this repo. I'm closing this for now.

[2019-05-24 18:12] #829 closed

[2019-05-25 08:55] siberiafox opened #835 "about mean_squared_error method of machinelearning/Decision_Tree.py"
mean_squared_error(X[:i],np.mean(y[:i]))   Is the parameter wrong?
should be :mean_squared_error(y[:i],np.mean(y[:i]))?
the first arg is true_labels,the second arg is prediction，right？

[2019-05-25 13:29] poyea commented on #835
I guess yes. You may correct this by opening up a PR. Providing a small example will speed up the review process! Thanks.

[2019-05-25 20:42] sandeepsj opened #837 "Matrix multiplication fails for matrix that are not Square matrix"
Currently The Matrix Multiplication function can multiply only square matrices
current code is
`def multiply(matrix_a, matrix_b):
    matrix_c = []
    n = len(matrix_a)
    for i in range(n):
        list_1 = []
        for j in range(n):
            val = 0
            for k in range(n):
                val = val + matrix_a[i][k] * matrix_b[k][j]
            list_1.append(val)
        matrix_c.a

[2019-05-26 12:05] siddharthjain1611 opened #840 "New Algorithms required in Machine Learning"
Need to add polynomial regression, SVM, SVR, and other important algorithms.

[2019-05-27 19:10] paupaulaz commented on #837
Hey, I would love to take this issue and solve it as my first contribution :)

[2019-05-30 17:13] #687 closed

[2019-06-01 07:55] huawenqing opened #860 "There should be a directory."

[2019-06-01 09:21] cclauss commented on #860
What does that mean?

[2019-06-01 09:28] huawenqing commented on #860
An outline or navigation that is easy for the reader to find specific content， like this [https://github.com/scutan90/DeepLearning-500-questions]

[2019-06-01 20:06] minddetox commented on #802
This would be helpful. i’m so eager to learn and not sure where to begin. thank you

[2019-06-02 04:14] #802 closed

[2019-06-02 21:57] NielXu opened #870 "What is the difference between Graphs and graphs?"

[2019-06-04 08:35] poyea commented on #870
There's no difference. We're look for someone to merge two folders into one.

[2019-06-04 14:28] NielXu commented on #870
#872

[2019-06-04 16:29] Ronkiro commented on #860
I think it's a good idea, as we this makes easier to search (CTRL + F) if the content isn't hidden on folders.

I think this Issue should be renamed, and the description should give more information about how it would change. This title doesn't attracts too many people, and it's a good idea.

[2019-06-04 17:02] cclauss commented on #309
Why is this not resolved after one year?

[2019-06-04 17:06] cclauss commented on #775
Can we please close this issue??

[2019-06-04 17:08] cclauss commented on #739
Can we please close this issue?

[2019-06-04 23:08] poyea commented on #775
I'm closing this now. I will also add a few lines to contributing guide.

[2019-06-04 23:08] #775 closed

[2019-06-05 01:37] poyea commented on #870
Thank you!

[2019-06-05 01:37] #870 closed

[2019-06-05 01:38] poyea opened #874 "Remove Maths/ and move all contents to maths/"
Than `Maths/` folder is redundant.

[2019-06-05 01:40] poyea commented on #860
Agree. Do you all have any ideas on how to make it? I mean, any automation tool available to us?

[2019-06-05 04:55] Thyagutamizhan commented on #739
Instead of  closing the issue,  guide me how to recieve data via ethernet barcoe scanners will be helpful

[2019-06-06 18:13] sirex commented on #309
I think, for this kind of project, best option is doctests. Doctests are built in to python, but also supported by pytest, so pytest can be installed as optional dependency.

Doctests would serve as documentation how algorithm work and what results it gives. There is no need to have tests in separate files, because usually algorithm implementations are quite small one function pieces of code.

[2019-06-06 18:28] cclauss commented on #309
Doctests are good but we need a test runner that can kick off pytest to run all those doctests.  Travis or CircleCI or Azure, etc could run pytest and pytest could run all the doctests.  That way we would know that out tests pass before each pull request is reviewed.

[2019-06-06 18:47] sirex commented on #309
I see, that there are already some tests, that have doctests:

[code]

[2019-06-06 18:53] cclauss commented on #309
If someone with Admin rights can kick off a Travis build at https://travis-ci.org/TheAlgorithms/Python the I can configure pytest to run the doctests.

[2019-06-07 15:36] StephenGemin commented on #690
stephen.gemin88@gmail.com

[2019-06-07 18:38] StephenGemin commented on #874
Completed under #882.

[2019-06-08 12:28] #874 closed

[2019-06-08 12:45] poyea commented on #860
https://stackoverflow.com/questions/23989232/is-there-a-way-to-represent-a-directory-tree-in-a-github-readme-md
I've found this maybe helpful to us.

[2019-06-08 22:15] NielXu commented on #860
#889 I made a pull request

[2019-06-09 17:47] poyea opened #893 "The folder .vs should be removed"
It shouldn't be pushed to here.

[2019-06-10 13:17] StephenGemin commented on #825
Probably best to close out this issue.

[2019-06-10 15:33] StephenGemin opened #896 "Remove empty folder in analysis/compression_analysis"
It looks a little ugly, as the naming scheme is different from every other folder.

[2019-06-10 15:52] StephenGemin commented on #896
pull request in #897

[2019-06-11 09:41] PythonFish98 commented on #614
@lisadeoester hello

[2019-06-11 09:46] lisadeoester commented on #614
@PythonFish98 yo

[2019-06-11 11:42] lisadeoester commented on #614
???

[2019-06-11 12:37] PythonFish98 commented on #614
neem bestand txt (ELO), maak eerst bestand waar antwoorden in komen. vraag om naam van de ondervraagde en maak met deze naam een bestond voor de antwoorden. hierin komt huidige datum te staan. let op bestandnaam en weergave datum precies kloppen. bijv: hoe heet je? *marcel* ->  txt : dinsdaf 11 juni 2019

[2019-06-11 12:39] PythonFish98 commented on #614
open in je programma nu t bestand met vragen en vermeld hoeveel vragen er zullen volgen. in voorbeeld bestand vragen.txt gebruikt waarin 3 vragen staan, maar dat kan ook meer of minder zijn: bijv: hoe heet je? *marcel* Hier volgen 3 vragen:

[2019-06-11 12:41] PythonFish98 commented on #614
Stel de vragen nu 1 voor 1, vragen en antwoorden moeten in antwoordne bestand komen zoals voorbeeld: hoe heet je? *marcel*
hier volgen 3 vragen:
Wat is je leeftijd? *24*
Favoriete gerecht? *pizza*
Favorite taal? *Python*

[2019-06-11 13:07] PythonFish98 commented on #614
rosa pls haha :'(

[2019-06-11 13:08] PythonFish98 commented on #614
ik heb nu een 2.5 en ik ga dood

[2019-06-11 13:08] lisadeoester commented on #614
heb alleen dit

[2019-06-11 13:08] lisadeoester commented on #614
from datetime import date
import locale
locale.setlocale(locale.LC_ALL,'')
vandaag = date.today()
print(f"het is {vandaag.day} {vandaag.month} {vandaag.year}")

file = open("antwoorden.txt")
inhoud = file.read()

file2 = open("vragen.txt")
inhoud2 = file2.read()

naam =  input("Wat is je naam? ")
print (naam)

count = file2.tell()

print ("Hier volgen", count, "vragen:")
print (inhoud2)

with open

[2019-06-11 13:12] lisadeoester commented on #614
from datetime import date
import locale
locale.setlocale(locale.LC_ALL,'')
vandaag = date.today()
print(f"het is {vandaag.day} {vandaag.month} {vandaag.year}")

file = open("antwoorden.txt")
inhoud = file.read()

file2 = open("vragen.txt")
inhoud2 = file2.read()

naam =  input("Wat is je naam? ")
print (naam)

count = file2.tell()

print ("Hier volgen", count, "vragen:")

for line in open("vragen.

[2019-06-11 13:13] lisadeoester commented on #614
nieuwe versie
waarom heb je opgave 1 niet gestuurd

[2019-06-11 13:16] PythonFish98 commented on #614
ja kon niet, lijn 21 error

[2019-06-11 13:18] lisadeoester commented on #614
from datetime import date
import locale
locale.setlocale(locale.LC_ALL,'')
vandaag = date.today()
print(f"het is {vandaag.day} {vandaag.month} {vandaag.year}")

file = open("antwoorden.txt")
inhoud = file.read()

file2 = open("vragen.txt")
inhoud2 = file2.read()

naam =  input("Wat is je naam? ")
print (naam)

count = file2.tell()

print ("Hier volgen", count, "vragen:")

for line in open("vragen.

[2019-06-11 13:20] PythonFish98 commented on #614
kan je nog nieuw bestand aanmaken voor marcel?

[2019-06-11 13:20] PythonFish98 commented on #614
deze heeft geen errors :) top

[2019-06-11 13:21] lisadeoester commented on #614
moet jij doen
een antwoorden.txt moet je aanmaken

[2019-06-11 13:21] PythonFish98 commented on #614
ja

[2019-06-11 13:22] PythonFish98 commented on #614
nee programma moet bestand maken waar antwoorden dan inkomen

[2019-06-11 13:22] PythonFish98 commented on #614
na naam vragen, moet je bestand aanmaken met die naam/input

[2019-06-11 13:22] lisadeoester commented on #614
bij opgave 3 moet je alleen die api erin zetten en laten controleren, misschien krijg je dan og eenpunt

[2019-06-11 13:23] PythonFish98 commented on #614
okiedokie, thanks haha

[2019-06-11 13:23] lisadeoester commented on #614
dat bestand maken weet ik niet, wist niet dat dat kon

[2019-06-11 13:25] PythonFish98 commented on #614
me too, nouuuu derde herkansing haha toch bedankt <3

[2019-06-11 13:27] lisadeoester commented on #614
hmm jammer, kom app en verwijder dir
\

[2019-06-12 14:53] #893 closed

[2019-06-12 19:27] #896 closed

[2019-06-12 19:27] StephenGemin commented on #896
merged into master

[2019-06-14 01:25] StephenGemin commented on #840
There will be multiple updates to follow.  I'd like to pool any regression analysis into a separate module.  It doesn't make sense to put these under machine learning as they are used outside of machine learning too.

[2019-06-14 06:03] QXQJack commented on #744
i want to be an IT player , and i can give up my hair  . hahaha

[2019-06-16 09:12] SaurabhGoyal opened #905 "Add QuadTree"
Added [quadtree](https://en.wikipedia.org/wiki/Quadtree) with basic functionality of adding and searching points in a 2D map. I will add functionality for finding nearest points in next PR.
PR: https://github.com/TheAlgorithms/Python/pull/904

[2019-06-17 09:20] SaurabhGoyal opened #907 "Add generic heap"
Added a heap implementation with more readable and generic version than a standard implementation. Also supports updates and deletions.

PR: https://github.com/TheAlgorithms/Python/pull/906

[2019-06-18 18:23] SaurabhGoyal commented on #907
@daniel-s-ingram @harshildarji @christianbender Could any of you guys have a look please? Thanks.

[2019-06-21 14:33] deep5050 opened #910 "Add all pairs shortest path (Dynamic Approach)"
Add the dynamic implementation of All Pairs shortest path algorithm

[2019-06-21 17:20] StephenGemin opened #911 "Ability to add tags to pull requests or issues"
Would make looking at pull requests and issues a little easier.  It's tough to know if a pull request is ready to merge, or needs review, etc.  OR if an issue is open, in progress, stale, etc.

I know this is just a place to practice coding, not an actual project.  Might make it easier on the admins to sort through the garbage. ☺

[2019-06-22 11:32] Shone815 opened #912 "Maths/3n+1 cannot automatically calculate steps by input."
I can add this change into the repo if you want.

[2019-06-22 14:01] absognety commented on #690
vikasch.1994@gmail.com

[2019-06-26 21:54] #744 closed

[2019-06-26 22:40] topazand opened #919 "Add Red-Black Tree"
self-balancing binary search tree; sometimes more efficient than avl tree

[2019-06-27 11:53] #912 closed

[2019-06-28 13:14] zhangyan-code opened #927 "Nonlinear system identification and control using state transition algorithm"

[2019-06-28 20:26] mo1a1s commented on #729
Hi

[2019-07-02 06:03] sidharthshah opened #937 "Issue first or PR first?"
I've read the contributing guideline, its great for understanding kinds of acceptable contribution and overall style dos and don't.

But I has a question: From contributing guideline it is not clear if one needs to get feedback on Issue first or PR can directly be submitted.

Would make sense to explicitly mention the recommended way of claiming the issue to work on. E.g. I'd like to contribute co

[2019-07-02 06:35] Dharni0607 commented on #817
I would like work on this, if nobody has taken it up.

[2019-07-02 07:49] Erfaniaa commented on #817
Please send me an email to discuss and start coding together.
erfan.aa@gmail.com

[2019-07-02 08:18] hetzz commented on #910
I would like to work on this if no one has taken up.

[2019-07-02 15:32] poyea commented on #937
That's not a big deal - but if you believe your thoughts require more attention before working on them, kindly open an issue for discussion. For a bulky change(that, say, involves >20 files), it's recommended to refer to an issue, but for a tiny or trivial change or a file addition, you can either open an issue first or directly open a PR. It's up to you. It's even perfectly fine if you open a dra

[2019-07-02 15:34] poyea commented on #937
It's really up to you. How would you organize your flow/ideas?

[2019-07-02 16:24] sidharthshah commented on #937
@poyea appreciate your inputs. I think I get the idea -- will open draft PR get some feedback until its good for merging. Mostly I was thinking about doing minor additions to existing categories. 👍 Thank you.

[2019-07-02 16:24] #937 closed

[2019-07-03 02:16] RCtechBosco commented on #817
Together

========================

Thank u for reading this mail ^_^

========================

Contact me :

Phone : 186 0859 0013

Wechat : 18608590013

QQ : 22011136

Email : kerong.zhu@163.com

========================

On 07/02/2019 15:50, Erfan Alimohammadi wrote:

Please send me an email to discuss and start coding together.
erfan.aa@gmail.com

—
You are receiving this because you are subs

[2019-07-03 11:42] hetzz opened #945 "Backtracking Algorithms"
I would want to add a new directory/folder for problems that can be solved using the backtracking algorithmic-approach. The three problems I would work on are nQueens, Sum of Subsets, m-coloring(Graph).

[2019-07-03 19:17] av-arvind77 opened #950 "Difficulty creating upstream project"
Firstly i have ran git pull command which will sync our local copy with upstream project and git push command to sync from my forked repository. But its showing not having access rights.
I am a beginner in open source contributor.

[2019-07-04 00:16] Erfaniaa opened #951 "Segment Tree: range maximum query"
https://github.com/TheAlgorithms/Python/blob/master/data_structures/binary_tree/segment_tree.py

This code comments and docstrings are not enough. This specific segment tree solves the "range maximum problem" but this term is not mentioned anywhere.

[2019-07-04 00:25] Erfaniaa opened #952 "RMQ (range minimum query) Algorithms"
There are lots of algorithms which solve RMQ (range minimum query) problem. It's famous and it can also solve LCA problem directly.
Some different approaches:

Preprocess: nothing
Query: O(n)

Preprocess: O(n)
Query: O(sqrt(n))

Preprocess: O(n)
Query: O(log n)

Preprocess: O(n log n)
Query: O(1)

The first one is not important.
The second one can be implemented with SQRT-decomposition.
The third

[2019-07-04 05:54] Erfaniaa commented on #945
Does anyone agree?
Personally, I agree with n-queens and m-coloring.
@poyea @AnupKumarPanwar @himangSharatun @dynamitechetan @nikit19 @jogendra

[2019-07-04 06:02] hetzz commented on #945
PR: #953

[2019-07-04 07:21] andreicioban commented on #951
I'm calling myself out since i'm not familiar with `Python`.

[2019-07-04 08:19] fty48jj19 commented on #951
e   ok obrigado so quero que fique bem claro nao costumo enplanta nada de
codigo asim nao  so quando faço pedidos  ok

Em qui, 4 de jul de 2019 às 04:24, Andrei Cioban <notifications@github.com>
escreveu:

[2019-07-04 08:27] Erfaniaa commented on #951
@fty48jj19 Please write in English.

[2019-07-04 15:14] poyea commented on #945
I'm okay with this. I've approved #953 and will let it be there for a moment. I'll merge it very soon.

[2019-07-04 15:17] poyea commented on #945
I've heard previously that these problems should not be included, but I think it's fine as long as files are not duplicate/redundant. They could be classical or modern or "interview" type algorithms, but if that's a problem, this should be stated in README, etc.

[2019-07-04 15:21] poyea commented on #950
Did you try [this](https://help.github.com/en/articles/syncing-a-fork)? It's also possible that you're trying to push here, which is forbidden.

[2019-07-05 07:27] 1171000322 opened #957 "about closest_pair_of_points"
https://github.com/TheAlgorithms/Python/blob/master/divide_and_conquer/closest_pair_of_points.py
the closest_pair_of_points problem might have a better solution which Time complexity is O(n * logn)

[2019-07-05 10:28] 1170300620 opened #958 "about average_median.py"
Is there any other algorithm to complete it? Origin algorithm costs too much when it's used for big data by using the sorted() function.
https://github.com/TheAlgorithms/Python/commit/1c9d995b9eb05f439fee5892210af3ab659f9760

[2019-07-05 10:45] 1170300620 commented on #958
Actually, I think there may be another place to improve:
![image](https://user-images.githubusercontent.com/47969189/60717140-a58b9100-9f53-11e9-8f50-de73c1bd80e8.png)
The computing process of the value med can be simply written as:
med = (sorted_list[ ( len(sorted_list) - 1 ) / 2 ] + sorted_list[ len(sorted_list) / 2] ) / (float) 2
Then just return med and end it.

[2019-07-05 11:17] fty48jj19 commented on #957
e  pode deixar asim que vou fazer pedidos de pull  mas que vc possa
meciclar

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Livre
de vírus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>.
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Em sex, 5 de jul de 2019 às 04

[2019-07-05 12:41] xu561865 opened #959 "timsort"
When I used [2, 4, 5, 3, 1] to test, it just returned [1, 2, 4, 5]

[2019-07-05 14:54] PatOnTheBack commented on #958
@1170300620 Are you saying that the variables `mid_index_1` and `mid_index_2` should not be used at all?

The reason I wrote several lines was so that the code would be easier to read.

[2019-07-05 15:36] PatOnTheBack commented on #958
@1170300620

This is invalid syntax. It should be `float(2)` instead of `(float) 2`. :)

After fixing that syntax error, your code works well. I am just concerned that it might be less clear for beginners.

[2019-07-05 15:49] PatOnTheBack commented on #958
I just looked at the source code for Python 3.7.3

Apparently, they used sorting in their algorithm too. You can find this file in
Lib/statistics.py of the Python Source folder.

[code]

[2019-07-05 21:27] FrogBattle commented on #959
Hello,

After some play with the code I reached the following conclusion:
The 3 is left out in the following if clause :
`        if lst[i] < lst[i - 1]:
            if not new_run:
                runs.append([lst[i - 1]])
                new_run.append(lst[i])
            else:
                runs.append(new_run)
                new_run = []
`
Lines 56-62.
The current index i is not assigned to

[2019-07-06 02:32] 1170300620 commented on #958
Oh,

Oh, you're right. This change is not clear actually.

[2019-07-06 03:33] 1170300620 commented on #958
About the Python 3.7 built-in sorted() function :
https://en.m.wikipedia.org/wiki/Timsort
The main algorithm used to complete sorted() function is called Timsort, the average time complexity of which is O(nlogn).
I think the median()  may have better performance by using the divide and conquer algorithm. The bfprt algorithm is a good choice, the time complexity of which is O(n). It's more complex

[2019-07-06 10:36] cclauss commented on #309
#964

[2019-07-06 14:39] Erfaniaa commented on #957
@1171000322, of course, you're right. We will update it soon.

[2019-07-06 17:50] PatOnTheBack commented on #958
@1170300620 Unless you want to make your own pull request for this, I can look into it next week.

[2019-07-06 17:56] fty48jj19 commented on #958
vc nao pode nada vou te expulsa vou coloca outro no seu lugar por favor ja
avisei minha equipe sobre seus abusso vc pensa que vc esta falando com quem
vc nao acordou ainda nao outras pessoa nao me pertuba vc esta enchendo o
saco ,

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Livre
de vírus. www.avast.com
<https://www.avast.com/sig-e

[2019-07-08 03:59] jasper256 opened #970 "How to contribute"
I just found this repository and decided that I wanted to contribute, so I created a decimal to hexadecimal converter.  I am very new to GitHub and this is my first time contributing to anything open source.  I thought that the proper way to do this would be to add a new branch, so that's what I did and I put the file in it.  However, GitHub will not let me publish the branch.  I assume therefore

[2019-07-08 12:30] constfun commented on #813
Binary tree LCA and dag LCA are different algorithms. Here's an OCaml implementation of the later https://github.com/mirage/irmin/blob/c275f0618e45b66b1d547b62aaa91a3a7d2ad68a/src/irmin/commit.ml#L413

[2019-07-08 12:52] PatOnTheBack opened #973 "Adding Flake8 F4 Tests to find Import Errors"
@PatOnTheBack if you add [__F4__](https://flake8.pycqa.org/en/latest/user/error-codes.html) to the flake8 tests in __.travis.yml__, you will find other import-related issues to fix.  Thanks for your attention to these details.

_Originally posted by @cclauss in https://github.com/TheAlgorithms/Python/pull/920#issuecomment-509011067_

Like cclauss said, adding Flake8 F4 to the Travis file can help

[2019-07-08 14:15] Izzy90 commented on #970
Hey there,
You should probably read these first:
https://github.com/TheAlgorithms/Python/blob/master/CONTRIBUTING.md
Make sure you did everything according to the standards, then submit a Pull-request.

[2019-07-08 14:33] jasper256 commented on #970
I thought that to create a pull request I needed a separate branch.  Like I said, I'm new to this, so I'm probably missing something very simple.

[2019-07-08 15:27] #309 closed

[2019-07-08 16:09] Izzy90 commented on #970
I'm pretty new to it myself too, but I think that in order to create a pull request, you need to Fork the repo.

[2019-07-08 16:39] jinwei14 opened #976 "isn't the traversals folder and binaryTree overlapped ?"
as described

[2019-07-08 16:53] fty48jj19 commented on #309
pobrema todo nao e vc  tenho q esplica para vc  se eu for astende todo mundo nesse tom de message sobvre codigos  posso corre um grande risco nao quero por a empreessa a perde pobrema todo q vc nao sabe vc e enocente a varia pessoa rui  a pessoa que joga codigos para destrui ja teve pessoa jogando codigo aqui pedino para eu sai da minha conta e fazer outra conta nao posso despor para vc nao vc me

[2019-07-08 16:55] jasper256 commented on #970
I understand now.  Thank you.

[2019-07-08 16:55] #970 closed

[2019-07-08 17:43] AnupKumarPanwar opened #978 "Update ~script.py"
The ` ~script.py ` needs to be updated. Currently, it is generating broken links. For example, try opening LCA under Data Structures in [DIRECTORY.md](https://github.com/TheAlgorithms/Python/blob/master/DIRECTORY.md). It will show a 404 error.

1. The script should list only ` .py ` and ` .ipynb ` files.
2. List the files in such a way that every word is capitalised in the parsed file name. For ex

[2019-07-08 19:02] cclauss commented on #978
Can we give it a better name?  Like __scripts/build_directory_md.py__?

[2019-07-08 19:09] cclauss commented on #976
Do all traversals involve binary trees?

[2019-07-08 21:29] PatOnTheBack commented on #958
@1170300620 When I added a merge sort, which is a divide and conquer algorithm, it did not improve the performance.

[code]

I replaced the call to `sorted` with `merge_sort` when I ran the program.

When, I compared the default `sorted` with `merge_sort`, this is what I got.

[code]

[code]

[2019-07-08 22:35] fty48jj19 commented on #958
e  olha  nao decordo de vc nao mas vc e burro nao sabe de nada  vc e
contribuite preciso sabe da realidade vc se acha esperto de mas  por favor
nao vou sede nada para vc a ninguem por favor se contenha nisso  vc acha
que esta lidano com bobo ou ou otario vc a muitas pessoas  sao legal e
outras sao rui  vc nao sabe ou se sabe ou entao figi nao sabe q a codigo
maliciosos..

<https://www.avast.com/si

[2019-07-08 22:36] fty48jj19 commented on #958
e  nao vou sede nada para vc  nem para ninguem vc continua emcistino vou
tira vc dai ,

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Livre
de vírus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>.
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Em seg, 8 de jul de

[2019-07-09 00:14] poyea commented on #978
Maybe SCRIPT_GEN. py. I think the script should be in the root.

[2019-07-09 02:58] AnupKumarPanwar commented on #978
Keeping in `scripts` directory seems more appropriate to me. If in future we plan to automate other things, we can put that in the `scripts` folder.

[2019-07-09 12:58] cclauss opened #983 "pytest --doctest-modules file_transfer_protocol fails"
Missing __if \_\_name\_\_ == "\_\_main\_\_":__ ?

@AlexDvorak, @BoboTiG, @louisparis would you be willing to fix this?

[2019-07-09 12:59] cclauss opened #984 "pytest --doctest-modules graphs fails"
Missing __if \_\_name\_\_ == "\_\_main\_\_":__ ?

[2019-07-09 13:04] cclauss opened #985 "pytest --doctest-modules machine_learning fails"
Missing __if \_\_name\_\_ == "\_\_main\_\_":__ ?

[2019-07-09 13:04] cclauss opened #986 "pytest --doctest-modules maths fails"
Missing __if \_\_name\_\_ == "\_\_main\_\_":__ ?

[2019-07-09 13:05] cclauss opened #987 "pytest --doctest-modules neural_network fails"
Missing __if \_\_name\_\_ == "\_\_main\_\_":__ ?

[2019-07-09 13:06] cclauss opened #988 "pytest --doctest-modules project_euler fails"
Missing __if \_\_name\_\_ == "\_\_main\_\_":__ ?

[2019-07-09 13:09] cclauss opened #989 "pytest --doctest-modules data_structures fails"
Missing __if \_\_name\_\_ == "\_\_main\_\_":__ ?

[2019-07-09 14:41] fty48jj19 commented on #984
e ja expliquei a situaçao nao vou sede nada  a codigo malicioso na sei qual
sao bons  desculpa  agurde eu entra nas configuraçes

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Livre
de vírus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>.
<#DAB4FAD8-2DD7-40B

[2019-07-10 06:08] alisher-matkurbanov opened #992 "Rabin-Karp algorithm perfomance"
Your Rabin-Karp algorithm uses python default hash function which is not using rolling hash property that allows to compute hash of next string effectively for constant time. Because of this property RK-algo works for O(n) in average case (when collisions for hash of part of s and hash for pattern don't happen so often). It would be better to improve this implementation.

[2019-07-10 06:11] cclauss commented on #992
Cool.  Should we expect a pull request with benchmarks from you?

[2019-07-10 06:30] alisher-matkurbanov commented on #992
@cclauss well, I try!
I just need to compare 2 versions and include this benchmarks in pr message with new version if it better, huh?

[2019-07-10 06:53] cclauss commented on #992
That would be perfect.  https://docs.python.org/3.7/library/timeit.html _might_ be helpful in this exercise.

[2019-07-10 19:37] cclauss commented on #986
@SandersLin do you know how to fix this issue?

[2019-07-11 09:19] cclauss opened #1005 "Travis CI: Add flake8-filename to our testing"
@Alfro As discussed at https://github.com/TheAlgorithms/Python/pull/993#issuecomment-510141457

[2019-07-11 09:24] cclauss commented on #315
Fixed in #993 and to be enforced in our Travis CI testing with #1005

[2019-07-11 09:24] #315 closed

[2019-07-11 09:25] cclauss commented on #959
Can this issue be closed?

[2019-07-11 14:10] #976 closed

[2019-07-13 18:24] qckzr commented on #978
I have sent pull request #1013 with the changes

[2019-07-14 01:43] brunohadlich commented on #328
I think we could rename merge_sort_fastest.py to something else as it is not fast at all neither resembles merge sort. What do you think?

[2019-07-14 01:49] brunohadlich commented on #416
strings folder already contains boyer_moore_search.py and naive_string_search.py. I believe this issue could be closed. What do you think?

[2019-07-14 01:59] brunohadlich commented on #690
brunosimashadlich@gmail.com

[2019-07-14 05:41] cclauss commented on #989
pytest --doctest-modules data_structures
============================================================================== test session starts ==============================================================================
platform darwin -- Python 3.7.4, pytest-4.4.1, py-1.8.0, pluggy-0.9.0
rootdir: /Users/cclauss/Python/itinerant_futurizer/Python
collected 0 items / 5 errors

=======================

[2019-07-14 17:36] brunohadlich commented on #988
I'm working on this, putting global code into main scope and writing doctests.

[2019-07-15 01:58] poyea opened #1022 "Reducing Jupyter Notebooks' size"
One could also reduce them by translating them into `.py`.

https://github.com/TheAlgorithms/Python/search?l=jupyter-notebook

[2019-07-15 02:58] cclauss commented on #1022
How much size are we reducing?  https://github.com/TheAlgorithms/Python/blob/master/other/Food%20wastage%20analysis%20from%201961-2013%20(FAO).ipynb is impressive as an __.ipynb__ file but would loose much of its story telling power as a __.py__ file?

[2019-07-15 08:37] cclauss opened #1024 "Fix the LGTM issues"
The LGTM service is run by Travis CI on all pull requests and it currently reports:
[code]
https://lgtm.com/projects/g/TheAlgorithms/Python/alerts/?mode=list

Please try to fix ___just a few___ of these issues in a pull request.

For speed of review, please do not try to do them all.  Where possible add doctests as well.

[2019-07-16 01:39] fbigun opened #1027 "base64_cipher.py does not yet support Unicode"
https://github.com/TheAlgorithms/Python/blob/b79a197e8c05251cf9443cbc5c15bb66ae23f3d8/ciphers/base64_cipher.py#L1

[code]

[2019-07-16 02:00] poyea commented on #1022
By half? I don't know if this is possible, but some files are making the repository large in size.

[2019-07-16 03:08] poyea commented on #1027
I'm guessing these functions do not work for Chinese characters.

[2019-07-16 04:38] cclauss commented on #1027
@fbigun Can you please edit the title of this issue to __base64_cipher.py does not yet support Unicode__ so that we have a feature request?  Python 2 support is no longer required.

[2019-07-16 05:03] cclauss commented on #1022
Would it make sense to create a new repo called https://github.com/TheAlgorithms/Jupyter like GitHub does with https://github.com/trending/Python and https://github.com/trending/Jupyter.

[2019-07-16 11:19] fbigun commented on #1027
@cclauss
The title has been changed

[2019-07-17 04:07] #984 closed

[2019-07-18 11:59] #988 closed

[2019-07-18 12:44] #987 closed

[2019-07-18 16:27] #978 closed

[2019-07-18 17:09] cclauss opened #1037 "Some of the eulier doctests are taking a long time"
Our Travis CI tests are slowing down.  Travis is still way faster than LGTM but...

Are there any of these doctests that could/should be optimized?  Watch a Travis job run to see which pytest tests are taking a long time to complete.

@brunohadlich

[2019-07-18 21:40] brunohadlich commented on #1037
Fixed.

[2019-07-18 22:34] #1037 closed

[2019-07-19 12:46] numanbtt opened #1048 "Logo Design"
Greeting Sir!
I'm a logo designer and can design logo for your project. As visual appearance effect a lot to project so having a unique logo for your project will effect people engagement in your project.
If you want a logo for project,you can inform me and open an issue about logo requirement.

[2019-07-19 19:04] obelisk0114 opened #1049 "Duplicate method (Newton–Raphson method)"
The following 3 methods are the same. Maybe we can rename them and put them to the same directory.

https://github.com/TheAlgorithms/Python/blob/master/maths/newton_raphson.py
https://github.com/TheAlgorithms/Python/blob/master/arithmetic_analysis/newton_raphson_method.py
https://github.com/TheAlgorithms/Python/blob/master/arithmetic_analysis/newton_method.py

[2019-07-20 14:38] QuantumNovice commented on #1049
[This](https://github.com/TheAlgorithms/Python/blob/master/arithmetic_analysis/newton_method.py) should be removed as it asks the user for both f(x) as well as f'(x). It's very old C  style implementation of the algorithm.

On the other hand [this](https://github.com/TheAlgorithms/Python/blob/master/maths/newton_raphson.py) is way better implementation. Can somebody timeit both the algorithms to s

[2019-07-20 15:19] QuantumNovice commented on #712
Fork the current repository and add the algorithms. Then do a PR.

[2019-07-20 15:34] cclauss commented on #1049
[__SymPy__ is already in __requirements.txt__](https://github.com/TheAlgorithms/Python/blob/master/requirements.txt#L10)

[2019-07-21 06:16] #986 closed

[2019-07-21 15:33] chiazor commented on #1022
Clearing the outputs created after the execution of a Jupiter Notebook's cell reduces the Notebook's size.
The file size can reduce by half.

[2019-07-21 16:06] cclauss commented on #1022
Is there an automated way clear the outputs from the command line?

GitHub no longer considers __TheAlgorithms/Python__ to be a __Python__ repo.  It is now considered tobe a __Jupyter__ repo (by size 65.8% vs. 34.2%) even though the repo currently only has 5 Jupyter files vs. 320 Python files.  This means that our repo will no longer be visible on GitHub's [trending Python repos](https://github.co

[2019-07-21 16:54] cclauss commented on #1022
__ls -Fla $NB ; jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace $NB ; ls -Fla $NB__
[code]

[2019-07-21 17:42] chiazor commented on #1022
I agree with @cclauss creating a separate repo for notebooks is more suitable.

[2019-07-24 09:37] cclauss opened #1067 "Add a Unicode test to strings/rabin_karp.py"
@mahbubcseju

Something like:
[code]

Plus maybe some emojis 😄 🎄 🍰

[2019-07-24 17:59] obelisk0114 commented on #1049
I will remove [arithmetic_analysis/newton_method.py](https://github.com/TheAlgorithms/Python/blob/master/arithmetic_analysis/newton_method.py) and move the other 2 methods into [arithmetic_analysis](https://github.com/TheAlgorithms/Python/tree/master/arithmetic_analysis) folder if no one have other suggestions in a week.

[2019-07-24 18:16] obelisk0114 opened #1070 "Remove other/finding_primes.py"
[other/finding_primes.py](https://github.com/TheAlgorithms/Python/blob/master/other/finding_primes.py) and [maths/sieve_of_eratosthenes.py](https://github.com/TheAlgorithms/Python/blob/master/maths/sieve_of_eratosthenes.py) are the same. Both of them implemented sieve of Eratosthenes. However, the latter's time complexity is better.

If it is accepted, #1026 can be closed.

[2019-07-24 18:34] cclauss commented on #1070
@brunohadlich @LizardWizzard Are you in agreement?

@obelisk0114 if you change:

To __fixes #1026__ then GitHub will autoclose 1026 when this PR lands.

[2019-07-24 18:42] cclauss commented on #1049
It would be cool to see [some tests](https://travis-ci.org/TheAlgorithms/Python/builds/563188763#L568) in __arithmetic_analysis__.

[2019-07-24 18:50] brunohadlich commented on #1070
I agree.

[2019-07-25 07:53] LizardWizzard commented on #1070
I agree.

[2019-07-25 08:58] cclauss commented on #1070
@obelisk0114 Looks like everyone is in agreement.

[2019-07-26 18:04] #1070 closed

[2019-07-27 09:30] Corruption13 opened #1083 "decimal to binary converter does not take floating values"
The conversions/decimal_to_binary.py script does not take in floating point values and instead only converts the whole number part of the value.

[2019-07-27 09:34] Corruption13 commented on #1083
I have implemented the required changes in this pull request:

https://github.com/TheAlgorithms/Python/pull/1084

[2019-07-28 10:22] cclauss opened #1085 "Need more pytests"
The following do not yet have any pytests:
* [x] boolean_algebra
* [x] digital_image_processing
* [x] divide_and_conquer
* [x] hashes
* [x] linear_algebra #1124
* [x] networking_flow #1126
* [x] traversals
* [ ] file_transfer_protocol  # __This might be difficult__
* [ ] machine_learning
* [ ] neural_network

For ease of review, please only modify one directory per pull request.

[2019-07-30 10:02] #1005 closed

[2019-08-01 06:54] sadeghipakijoo commented on #959
thanks...

[2019-08-01 07:09] #959 closed

[2019-08-01 08:09] cclauss commented on #1083
Works as designed.  The current functionality mirrors the Python builtin [__bin()__](https://docs.python.org/3/library/functions.html#bin) which also does not accept floating point values.

[2019-08-01 08:09] #1083 closed

[2019-08-01 08:14] cclauss opened #1090 "decimal_to_binary() should return identical values as bin()"
https://github.com/TheAlgorithms/Python/blob/7b267e5e4f8ccb72dd58fcf0057642fd62a36bdf/conversions/decimal_to_binary.py#L4

Please change __decimal_to_binary()__ to return identical values as the Python builtin [__bin()__](https://docs.python.org/3/library/functions.html#bin).  With doctests to prove it please.

@PatOnTheBack @Corruption13

[2019-08-01 12:44] syedwaleedhyder commented on #1090
Give an example of a decimal number for which `decimal_to_binary(num)` is inconsistent.

[2019-08-01 14:35] cclauss commented on #1090
__0b__ is missing

[2019-08-02 18:40] syedwaleedhyder commented on #1090
I have created a pull request(#1093).
The new code can handle ZERO and negative numbers too.

[2019-08-03 04:38] cclauss commented on #1024
@epicalyx, @harshildarji, @rishu2403 Could one of you please consider fixes to unused variables in logistic_regression?  They might be false positives or they might be worth fixing.

[2019-08-03 18:00] #1090 closed

[2019-08-04 04:44] QuantumNovice commented on #1022
Creating a separate repository with sub-directory for each each languages supported by Jupyter is great.

[2019-08-05 03:39] mrvnmchm commented on #1085
Added a few doctests for boolean_algebra #1097

[2019-08-05 18:09] AmritK10 commented on #1024
I would like to work on the issue of unused variables in logistic_regression.

[2019-08-05 19:22] cclauss commented on #1024
Go for it!

[2019-08-06 07:05] QuantumNovice commented on #1085
Added pytests to sha1.py #1098

[2019-08-06 07:15] QuantumNovice commented on #1085
Added pytests to hashes/md5.py #1100

[2019-08-06 17:17] QuantumNovice commented on #989
I was going through the issue and I saw this. I didn't get any notification about this. I'm working on it.

[2019-08-06 19:24] cclauss commented on #989
Thi

[2019-08-06 19:24] #989 closed

[2019-08-07 04:31] mrvnmchm commented on #1085
Added pytests for digital_image_processing #1111

[2019-08-07 14:00] AlexDvorak opened #1112 "empty, seemingly unused files"
The files in question are `16L'` and `Q'` and appear to be unrelated to [the PR](https://github.com/TheAlgorithms/Python/pull/1098/commits/a8b5c748c2cc162fcb69b86b4deeae3a66965c05) that added them

[2019-08-07 14:11] AlexDvorak opened #1113 "file_transfer_protocol doesn't actually implement FTP"
It simply sends the contents of a single file over a TCP socket, with no support for browsing directories, or authentication. While this is a good demo of how to setup and use TCP sockets in Python, it is not really an implementation of FTP.

[2019-08-07 15:40] cclauss commented on #1113
What would be a better, less misleading title for these files?

[2019-08-07 15:42] cclauss commented on #1112
@harshildarji @QuantumNovice Your thoughts?

[2019-08-07 15:44] AlexDvorak commented on #1113
send_data.py?

[2019-08-07 15:58] cclauss commented on #1113
send_file.py and receive_file.py ?
send_a_file.py and receive_a_file.py ?

Please consider submitting a PR.

[2019-08-07 16:03] AlexDvorak commented on #1113
sure, `send_file.py` and `receive_file.py` sounds good

[2019-08-07 16:26] cclauss commented on #1113
Should the directory name also be changed?

[2019-08-07 17:35] #1112 closed

[2019-08-07 17:35] harshildarji commented on #1112
@cclauss Positive, my bad! @AlexDvorak Thanks for pointing out!

[2019-08-07 17:36] AlexDvorak commented on #1113
I wouldn't because I think that an actual implementation of FTP would make more sense with this simple sending and receiving a file over sockets.

[2019-08-07 18:35] cclauss commented on #1113
There are already open source implémentations of ftp.  Why not just rename the directory __file_transfer__ and it can contain just a few simple examples.

[2019-08-07 18:42] AlexDvorak commented on #1113
sure, does this look good? https://github.com/dlsyj/ftp

[2019-08-07 19:42] cclauss commented on #1113
We do _not_ need a full implementation of ftp in this repo.  Just some simple implémentations of how to transfer a file from one machine to another.

[2019-08-07 20:02] #1113 closed

[2019-08-10 20:48] #985 closed

[2019-08-12 16:18] saurabh896 commented on #663
why is this thread open?

[2019-08-12 17:00] cclauss commented on #663
Closing https://docs.python.org/3/library/base64.html

[2019-08-12 17:00] #663 closed

[2019-08-13 14:01] #374 closed

[2019-08-13 14:08] #983 closed

[2019-08-13 15:23] cclauss commented on #1049
Can this issue be closed?

[2019-08-16 07:24] QuantumNovice opened #1134 "Install github's "Stale bot" in the repository"
https://github.com/marketplace/stale
![image](https://user-images.githubusercontent.com/43876848/63150637-2fe7fb80-bfbc-11e9-8dbe-c87e4ff41e4f.png)

[2019-08-16 07:31] cclauss commented on #1134
I am usually not a fan of stalebot but for this repo currently with 150+ open PRs, it might not be a bad idea.

I would also be interested to see TheAlgorithms sign up for the GitHub Actions beta.  Doing so would enable us to replace our Travis setup.  https://github.blog/2019-08-08-github-actions-now-supports-ci-cd/

[2019-08-18 03:25] mrvnmchm commented on #1085
Looking into slow tests from #1117

<img width="977" alt="image" src="https://user-images.githubusercontent.com/11682032/63219708-d6abd380-c145-11e9-93ea-cc773fcd87c8.png">

[2019-08-18 06:21] cclauss commented on #1085
Thanks for this.  It is better to test than not to test.  Is it possible to accelerate the algorithms or test on smaller images while still covering all the same corner cases?  If not, we can live with the current runtimes.

[2019-08-25 10:53] Naklecha commented on #1085
Added  a few doctests for traverals https://github.com/TheAlgorithms/Python/pull/1149

[2019-08-26 01:38] RockLeeStudio opened #1151 "Where can I find these algorithms questions?"
Where can I find these algorithms questions?

[2019-08-26 06:35] cclauss commented on #1151
I do not understand this issue.
Our index of algorithms is https://github.com/TheAlgorithms/Python/blob/master/DIRECTORY.md

[2019-08-26 07:42] RockLeeStudio commented on #1151
for example : bisection.
What is bisection? Where can I find the bisection description.

[2019-08-26 08:40] cclauss commented on #1151
https://en.m.wikipedia.org/wiki/Bisection_method

[2019-08-26 15:16] anand372 commented on #840
is this still open i would like to  be assigned for implementing and posting of SVM's?

[2019-08-26 15:21] cclauss commented on #840
You do not need to wait for assignment...  Just look though https://github.com/TheAlgorithms/Python/blob/master/DIRECTORY.md and if you see a hole then submit a pull request to fill it.

[2019-08-27 02:29] #1151 closed

[2019-08-27 02:54] cclauss commented on #1151
What might be supercool would be a dict that links __algorithm_name__ to __wiki_article_name__.  If we had that then our __scripts/build_directory_md.py__ could autogenerate a DIRECTORY.md that linked the two.

[2019-08-27 14:36] harshildarji opened #1155 "Unresponsive PRs and issues"
To ~@cclauss~ @AnupKumarPanwar @poyea

---
Hey all,
At this moment, we have over **150 PRs**. Some of these are requested changes by the reviewers, but there is no response from the PR makers after that. Some PRs are months old which now may cause conflicts with current implementations if merged.
**Therefore, I plan to close such PRs which have no response from people who made it or is months old

[2019-08-27 14:58] cclauss commented on #1155
My sense is that we should implement #1134.  It is better if it is done with GitHub's tool rather than doing it manually.

[2019-08-27 15:54] QuantumNovice commented on #1155
One of the reason why #1134 should be accepted.

[2019-08-27 16:48] harshildarji commented on #1155
@cclauss I agree. Doing so manually is tedious and it is also not my intention considering the number of open PRs. But we have to do this ASAP so we can focus only on PRs which are important and close the ones which are unnecessary and unresponsive.

[2019-08-27 17:24] cclauss commented on #1155
https://github.com/marketplace/stale

[2019-08-28 10:14] harshildarji commented on #1155
I've sent the request to install stale. Once it has been installed I'll send PR with stale.yml file to work with it.

[2019-08-28 18:09] r0hit-gupta commented on #1155
@harshildarji I have approved the request. Please go forward.

[2019-08-28 19:04] harshildarji commented on #1155
@r0hit-gupta Hey, Thanks for approving this. It's installed but since I do not have permission to configure it, you'll have to do it as an owner.
Visit [configure stale](https://github.com/apps/stale/installations/new) to configure it to work with Python repo.
Thank you.

[2019-08-29 06:53] anand372 commented on #905
would like to work on this if still open...:)

[2019-08-29 15:09] SaurabhGoyal commented on #905
Sure, you can continue work on my pr.

[2019-08-29 19:02] alisher-matkurbanov commented on #992
@cclauss Hello! Sorry for long response. I tried to implement canonical version of this algorithm without recomputing hash for all string, but my implementation was 1.5 - 2 times slower than simple implementation that is here. So, I think we may close this issue.

[2019-08-29 19:07] cclauss commented on #992
Cool.  Always good to have a few benchmarks to test our intuitions. Premature optimization is a consistent problem for algorithm builders.

[2019-08-30 10:14] alisher-matkurbanov commented on #992
@cclauss Oh, and I see someone already replaced old solution to new solution that is the same as I mentioned here.

[2019-08-30 10:14] #992 closed

[2019-08-30 14:43] jai-dewani commented on #945
What about "Crossword problem", it is also a Backtracking problem?

[2019-08-30 18:22] jai-dewani commented on #860
Some new files have been added so I have updated the same in DIRECTORY.md #1161

[2019-08-30 19:27] #860 closed

[2019-09-02 21:00] AngelGarcia20 commented on #1085
Hi! I hope I may post this message on the right place. I would like to obtain permission to fork the ciphers folders for learning purposes (all credits to the original author). Thanks!

[2019-09-03 13:47] Raahul-Singh commented on #919
Hi!
Can I work on this?

[2019-09-03 16:43] cclauss commented on #919
You do not need permission...  Just go for it.

[2019-09-05 13:34] jai-dewani opened #1171 "build_directory_md.py is not working correctly"
The script should start all the headings with ##
but it is starting every line a *

[2019-09-05 13:54] cclauss commented on #1171
Both ## and * are valid markdown.

[2019-09-05 14:00] jai-dewani commented on #1171
But ## should be used for emphasizing the folders

[2019-09-05 14:01] jai-dewani commented on #1171
Fixed the bug #1161

[2019-09-05 14:40] cclauss commented on #1171
I like ## more because it create a link to a specific set of algorithms: __digital-image-processing__
https://github.com/TheAlgorithms/Python/blob/master/DIRECTORY.md#digital-image-processing

[2019-09-06 04:02] jai-dewani commented on #1171
Yes I am supporting the same point, the problem is that script when run is marking the folders with * instead of #

[2019-09-06 09:06] #1171 closed

[2019-09-07 10:51] rayjan0114 opened #1173 "simple question about dijkstra.py"
Thanks for the great work!
I am just a starter of graph here
Thanks in advance if anyone responses
What is the code below for?
https://github.com/TheAlgorithms/Python/blob/a41a14f9d89b665178f08535f128ba14652ce449/graphs/dijkstra.py#L52-L53
Since we already have the code below to prevent from traveling twice, so I am so confused.
https://github.com/TheAlgorithms/Python/blob/a41a14f9d89b665178f08535

[2019-09-08 08:35] dragoFireup commented on #1173
I'll try to explain this as simple as I can.
The first condition:
`if u in visited:` checks if the node which is popped from the heap is visited or not.
and the second condition:
`if v in visited:` checks if the node to which the current node is connected to is visited or not.

Answering to your question to that why is `if u in visited:` condition required if `if v in visited:` is already present.

[2019-09-08 08:53] dragoFireup opened #1176 "Faster matrix multiplication for square matrices"
It is not exactly an issue but sort of like a proposal. In matrix multiplication wouldn't it be better if Strassen's Method is applied only for square matrices for faster matrix multiplication? If it seems like a good idea I would like to work on it.

[2019-09-08 09:22] cclauss commented on #1176
I am a huge believer in benchmarks.  Would you be willing to set up some side-by-side comparisons with https://docs.python.org/3/library/timeit.html or similar?  Also compare against the builtin @ operator https://www.python.org/dev/peps/pep-0465/

[2019-09-10 01:05] rayjan0114 commented on #1173
Thank you so much!

[2019-09-10 01:05] #1173 closed

[2019-09-10 04:46] ksangeet9ap commented on #951
Can we add the iterative implementation of segment trees from http://codeforces.com/blog/entry/18051 instead?

[2019-09-14 07:11] anirudnits opened #1180 "Adding Matrix Exponentiation"
I was just browsing through  the algorithms and data structures but couldn't find Matrix Exponentiation, which is useful for solving linear recurrences in logarithmic time. So, is this something you guys think should be added? If yes then I can work on it and submit a PR. Thanks

[2019-09-14 09:51] cclauss commented on #1180
👍 Go for it!

[2019-09-14 09:57] dragoFireup commented on #1176
Hey! Sorry for the late reply.
I wrote the code for Strassen's Algorithm. There are some things I would like to mention.
1) It works only on matrices of the size of power of 2 as in every function call the size gets reduced to half.
2) By Master's method, its time complexity is O(N^2.8) (For some reason it ain't working very fast on my computer). But I would still say that it is a really good algo

[2019-09-14 16:00] aniketmeshram opened #1181 "Subtopics outside main topics"
I was looking for an area in the algorithm topics to contribute, then I saw that some topics that should be part of a topic, instead, are outside of that topic folder. For example, the topics,

- **_boolean_algrebra_** and
- **_linear_algebra_**

should be part of the **_maths_** topic, right?. Similarly, **_graphs_** being part of **_data_structures_**.

Just an observation guys, if those are int

[2019-09-14 18:13] anirudnits commented on #1180
sure

[2019-09-14 18:40] cclauss commented on #1180
Please show us side-by-sige benchmarks (using [timeit](https://docs.python.org/3.7/library/timeit.html) or similar) of the two methods running on the same square matrices so we can see the performance.

[2019-09-16 07:21] anirudnits commented on #1180
Initially I thought of using the simple problem of finding the nth element of fibonacci series in O(logn) using Matrix Exponentiation as the base example to use because this is the most common problem in competitive programing sites to introduce matrix exponentiation. So, do you think this problem is enough or do I go for some more general linear recurrence?

[2019-09-16 07:22] anirudnits commented on #1180
Initially I thought of using the simple problem of finding the nth element of fibonacci series in O(logn) using Matrix Exponentiation as the base example to use because this is the most common problem in competitive programing sites to introduce matrix exponentiation. So, do you think this problem is enough or do I go for some more general linear recurrence?

[2019-09-19 20:37] denis-trofimov commented on #1024
Gonna handle an error in root/matrix/matrix_operation.py

[2019-09-25 05:50] anirudnits commented on #1180
@cclauss I used the example of finding the nth element in the Fibonacci series in O(logn) to demonstrate Matrix Exponentiation. For performance evaluation, I compared the simple linear method of finding the nth element with the same using Matrix Exponentiation for random numbers in range of 10**4. Is anything else you would like me to add? otherwise I will submit the PR. Thanks

[2019-09-25 06:33] cclauss commented on #1180
https://github.com/TheAlgorithms/Python/issues/1180#issuecomment-531466471

[2019-09-25 08:54] anirudnits commented on #1180
Submitted the PR, please have a look.

[2019-09-25 18:08] #1180 closed

[2019-09-28 19:11] mridullpandey commented on #690
mridulpandey27@gmail.com

[2019-10-02 12:16] parthpandyappp commented on #1085
@cclauss Hello!
I went through the issue and I don't know python but I know C++.
I'm interested to contribute here!
I was asking that we just have to implement pytest ? That's it?
how to implement pytest?
can I have some help?

[2019-10-02 12:25] cclauss commented on #1085
PyTest is automatically run by Travis CI on every pull request.  https://github.com/TheAlgorithms/Python/blob/master/.travis.yml#L13 Today, it is just running doctests but the coverage is quite impressive: https://travis-ci.org/TheAlgorithms/Python/builds/592517664#L610

Perhaps you and @cozek could see if there are other pytests that we need or perhaps our code coverage is solid enough and we can

[2019-10-02 12:29] cclauss commented on #1085
There are currently still no __machine_learning__ or __neural_network__ doctests that are being detected by pytest.

[2019-10-03 14:59] cclauss commented on #1155
I do not have the rights to turn this on but __it should be turned on__.

[2019-10-05 17:15] HarsheetKakar commented on #1176
strassen's algorithm is frowned upon for some reasons
1. it takes up a lot of call stack memory
2. its constants are very big, it is fast only on paper
3. it takes a lot of time to code

and u dont need it to be in 2's powers it can be anything, you can just convert it into a suitable matrix by introducing null values in rest of the structure

[2019-10-05 17:23] HarsheetKakar commented on #958
can we do this with randomized selection algorithm(order statistics) it has a better average case complexity

[2019-10-07 11:22] harshildarji commented on #1155
@cclauss I think so. I also do not have rights for that!

[2019-10-08 16:52] laurent-pck commented on #1027
I made the PR #1316 for this. I hope that using bytes() and str() is ok for you.

[2019-10-08 20:01] archu5 opened #1317 "add python program that surfs the web."

[2019-10-10 16:31] aritrartira opened #1340 "Need to update README.md of project_euler"
The README.md of project_euler hasn't been updated it seems. The problem statements for most problems haven't been provided.

[2019-10-11 11:15] denis-trofimov commented on #1024
Hi @tchatec I guess you should create new issue. It is the wrong place to ask such question.

[2019-10-11 14:50] cozek commented on #1340
Perhaps you can help by updating it.
I don't think its autogenerated.

[2019-10-13 09:52] aritrartira commented on #1340
I’d be glad to, as soon as I have time on my hands.

[2019-10-13 15:27] alfinwilliam opened #1356 "Merge implementation of Hardy_Ramanujan Algorithm in /maths"
It's a theorem that states the number of prime factors of n will approximately be log(log(n)) for most natural numbers n.#1355

[2019-10-13 18:27] Prathamesh404 opened #1357 "Is Recursion Example included in Bactracking and Dynamic Programming?"
Is there a need of creating a new folder with Recursion labelled.

[2019-10-15 03:53] kshivi99 commented on #1340
@aritrartira I will do it. Maybe by evening today.

[2019-10-15 07:04] sanjaypradeep opened #1365 "Give more details about Problem Statement."
https://github.com/TheAlgorithms/Python/blob/b190c8f629d1fb8371fb9ea434d986a843b2ecab/data_structures/stacks/next_greater_element.py#L1

[2019-10-15 11:39] jai-dewani commented on #1365
Please look at this PR and let me know if any more changes are required.

[2019-10-15 12:37] afeiguo opened #1368 "decimal_to_octal return"
the return code is wrong for big number, e.g.:

`print("{0:g}".format(float(1000000001.0)))`

the return is **1e+09**, not **'1000000001'**

[2019-10-15 12:41] afeiguo commented on #1368
coding should change:   return "{0:g}".format(float(octal))           =>
                return  str(int(octal))

[2019-10-15 17:19] sanjaypradeep commented on #1365
Hi @jai-dewani Thanks for your reply, if you see the PR, I can understand this is a kinda puzzle you solved. Much appreciated, but the other way, Adding one or two lines of explaining about the puzzle really helps in people who visit the code.

[2019-10-15 19:17] jai-dewani commented on #1365
I am sorry but I haven't added this piece of code, I just saw the code and understood what the problem statement might have been and explained the same with the 1 line comment already present in it, the problem statement is pretty obvious. I don't know if this was a part of a puzzle

[2019-10-15 20:21] hash84 commented on #1085
Created test functions for Decision Tree mean Squared error method
https://github.com/TheAlgorithms/Python/pull/1374

[2019-10-16 08:17] kunl7564 opened #1375 "gaussian function in maths/gaussian.py seems wrong"
1 / sqrt(2 * pi * sigma ** 2) * exp(-(x - mu) ** 2 / 2 * sigma ** 2)

should be

1 / sqrt(2 * pi * sigma ** 2) * exp(-(x - mu) ** 2 /( 2 * sigma ** 2))

[2019-10-16 13:36] BenSandeen commented on #1375
According to Wikipedia [https://en.wikipedia.org/wiki/Gaussian_function](url), the current representation looks correct to me.  I think it would make sense to pull both of the `** 2` out of the exponential and just put them outside the parentheses, like this:

`1 / sqrt(2 * pi * sigma ** 2) * exp(-1 / 2 * ((x - mu) / sigma) ** 2)`

[2019-10-16 16:28] saskakarsi opened #1380 "Long-short term memory"
Hey everyone,

I'd like to look into implementing LSTM in this library, so probably in the neural_network directory. I've got a [repo](https://github.com/saskakarsi/lstm) I'd like to use as a base, and it's under the same license - does anyone how this works? Should I include my little copyright in there since the MIT license says it needs to be present (the other stuff required is already found i

[2019-10-16 16:34] blaxii commented on #1368
You know you could justt do
`def decimal_to_octal(num):
    """Convert a Decimal Number to an Octal Number."""
    calcul = ""
    while num > 0:
        reste = num % 8
        num = num // 8
        calcul = str(reste) + calcul
    return int(calcul)`

[2019-10-16 16:38] blaxii commented on #1368
If you want you can do:

    """Convert a Decimal Number to an Octal Number."""
    calcul = ""
    while num > 0:
        rest = num % 8
        num = num // 8
        calcul = str(rest) + calcul
    return int(calcul)

As I see your code is too complex for the program you want to do.

[2019-10-17 14:21] cclauss commented on #1368
num, rest = divmod(num, 8)

[2019-10-17 14:25] cclauss commented on #1375
Could you please write a doctest for the failing usecase?  Please read CONTRIBUTING.md for details.

[2019-10-17 19:46] edoardottt commented on #1357
Right. :)

[2019-10-18 00:22] tirthajyoti opened #1388 "Wrong name for a vector class method"
A method of the `Vector` class is wrongly named, perhaps.

[Here is the code.](https://github.com/TheAlgorithms/Python/blob/master/linear_algebra/src/lib.py#L91)

Should be euclidLength instead of eulidLength. The **'c'** is missing.

[2019-10-18 01:36] Kunal614 commented on #1317
It is showing merging is block

[2019-10-18 04:05] cclauss commented on #1317
Travis CI tests need to be passing.  See CONTRIBUTING.md for details.

[2019-10-18 04:09] cclauss commented on #1388
I agree.

[2019-10-18 05:23] cclauss commented on #1340
Is there some external page that we can link out to that is to canonical source of problem descriptions.  It seems like a lot of busy-work could be eliminated that way.

[2019-10-18 06:09] kshivi99 commented on #1340
Hi @cclauss here is the description of all 650+ problems in Eular in a single page.

[https://projecteuler.net/show=all](url)

[2019-10-18 06:10] kshivi99 commented on #1340
I think we should remove all the problem descriptions from readme and just put this link over there.
Would look cleaner.

[2019-10-18 06:11] cclauss commented on #1340
Awesome.  Agreed.  Can you please create a pull request for that?

[2019-10-18 06:11] kshivi99 commented on #1340
will do..

[2019-10-18 06:19] #1024 closed

[2019-10-18 09:54] Kunal614 commented on #1317
didn't get , can you help.

[2019-10-18 13:39] kshivi99 commented on #1340
@cclauss created the pull request. Let me know if its sufficient :)

[2019-10-18 14:49] Iqrar99 commented on #1388
fixed on my PR here #1392 @tirthajyoti @cclauss

[2019-10-18 21:49] #1388 closed

[2019-10-18 21:52] #1340 closed

[2019-10-18 22:49] tirthajyoti opened #1397 "`Head` and `temp` names should change"
Hi,

In your [Linked List implementation](https://github.com/TheAlgorithms/Python/blob/master/data_structures/linked_list/singly_linked_list.py), I think `temp` is wrongly spelled as `tamp`. The code works but for readability purpose all `tamp` should be replaced by `temp`.

Also, I find it strange to name the `head` with a capital `Head`. Generally, capitalization in Python is saved for Class nam

[2019-10-19 01:35] paaaron commented on #690
p.luis.aaron@gmail.com

[2019-10-19 04:02] #1356 closed

[2019-10-19 06:15] cclauss commented on #1397
Agreed.  Can you please submit a pull request that fixes these issues and adds doctests?

[2019-10-19 18:14] #1397 closed

[2019-10-21 08:36] kunl7564 commented on #1375
I notice that this issue has already been fixed in https://github.com/TheAlgorithms/Python/commit/f6bd8c95c05ca7c74e534d9e7c13ebab558fb8d0

Not sure if there is still something I can help.

[2019-10-22 04:06] #1365 closed

[2019-10-22 06:45] #1022 closed

[2019-10-23 14:00] parthpandyappp commented on #1085
@cclauss Can I please know the step by step process of how to do pytest for a particular python program?

[2019-10-23 14:30] cclauss commented on #1085
The easiest way is to add doctests in the docstrings of functions and methods like [here](https://github.com/TheAlgorithms/Python/blob/master/maths/abs.py#L4-L14).  These will be tested by Travis CI but you can also test them locally as discussed in CONTRIBUTING.md.

[2019-10-23 18:29] cclauss commented on #710
This repo does not support legacy Python.

[2019-10-23 18:29] #710 closed

[2019-10-23 18:30] #432 closed

[2019-10-23 18:31] #378 closed

[2019-10-23 18:32] cclauss commented on #973
https://github.com/TheAlgorithms/Python/blob/master/.travis.yml#L8

[2019-10-23 18:32] #973 closed

[2019-10-24 02:47] janithwanni commented on #1085
I'll take up the machine learning folder @cclauss

[2019-10-24 05:30] cclauss commented on #1085
Awesome...  Another great example with both doctests and type hints is https://github.com/TheAlgorithms/Python/blob/master/ciphers/shuffled_shift_cipher.py

[2019-10-25 16:17] chttrjeankr opened #1460 "DIRECTORY.md not being updated by TravisCI"
- [x] .travis.yml isn't updating DIRECTORY.md automatically as it should
- [x] scripts/build_directory_md.py needs can have some minor changes too.  #1461

[2019-10-25 16:27] cclauss commented on #1460
If you can make Travis CI write back to the incomming pull request, that would be cool.  Writing back to `master` might put Travis into an infinite loop.  @jneeven is doing some magic in lgeiger/black-action#2 but that is based on GitHub Actions, not Travis CI.

[2019-10-28 05:00] amrutha00 commented on #690
amrutha.ukkalam@gmail.com

[2019-10-28 07:25] arjun1299 opened #1492 "Keyword Cyphers can be added"
Cyphers like
- [x] Porta Cypher #1550
- [x] Simple Keyword
- [ ] Transpose cypher
- [x] Mixed Keyword Cypher #1492

can be added to cyphers

[2019-10-28 07:45] arjun1299 opened #1494 "Morse Code decryption"
Morse code decryption implementation

[2019-10-28 08:02] cclauss commented on #1494
Python/ciphers/morse_code_implementation.py

[2019-10-28 08:02] #1494 closed

[2019-10-31 20:22] mrvnmchm commented on #1460
A fix for the DIRECTORY.md, can't get Travis CI to push back to the initiating PR. #1542

[2019-10-31 20:30] cclauss commented on #1460
https://github.com/TheAlgorithms/Python/blob/master/.github/workflows/autoblack.yml Is writing changes back to a PR.  GitHub Actions Beta ends in two weeks and then it will go live,

[2019-10-31 20:34] mrvnmchm commented on #1460
Nice! That looks very close to the same changes I was making to the travis.yml. When the GH Actions is released I'll make the updates. Thanks @cclauss

[2019-10-31 21:18] cclauss commented on #1460
See if they will let you into the beta... https://github.com/features/actions

[2019-11-14 14:56] dhdddj opened #1567 "عبود"
`تم تعظيل

[2019-11-14 17:55] #1567 closed

[2019-11-14 17:57] poyea commented on #1460
@cclauss @mrvnmchm GitHub Actions is now available for all public repositories.

[2019-11-14 18:59] cclauss commented on #1460
#1569

[2019-11-14 19:19] mrvnmchm commented on #1460
Should I make any changes to #1549, or do I just need another peer review?

[2019-11-14 19:37] cclauss commented on #1460
https://github.com/TheAlgorithms/Python/pull/1570/checks?check_run_id=303560970#step:4:550

[2019-11-14 19:41] cclauss commented on #1460
Writing back to a PR is NOT allowed in GitHub Actions.  See the other workflow to see how to use __push__ instead.

[2019-11-14 20:35] chttrjeankr commented on #1460
Can this issue now be considered resolved then?

[2019-11-15 01:58] cclauss commented on #1460
This should remain open until #1572 lands.

[2019-11-15 02:22] #1460 closed

[2019-11-15 11:37] dragoFireup commented on #1176
Thanks @HarsheetKakar for clearing some things. I didn't think of padding the matrix to suit the requirements.
So, I guess that Strassen's is not good enough and rather not use it. I'll close this issue now.

[2019-11-15 11:37] #1176 closed

[2019-11-15 15:29] chttrjeankr commented on #1155
I think using GitHub actions to check stale issues and PRs can be done now, since GitHub Actions is open for public.
Searched a bit and created this [gist](https://gist.github.com/chttrjeankr/420e9b7b5bafffeb3faa8b997e1e26d5) which I think will be apt for TheAlgorithms/Python repository, but I am unable to understand how exactly can I implement this. Can I please have some help to implement this i

[2019-11-15 19:40] cclauss commented on #1155
https://github.com/marketplace/stale is all we need.  It is free from GitHub.  Someone with Admin privileges just needs to turn in on.

[2019-11-15 20:00] chttrjeankr commented on #1155
I was suggesting we use [this](https://github.com/marketplace/actions/close-stale-issues)

[2019-11-16 07:01] trendhometex commented on #1492
i had the same `<a href="https://trendhometex.com/">issue </a>`

[2019-11-17 12:22] cclauss commented on #1085
Pytest currently runs 373 on every pull request.

[2019-11-17 12:22] #1085 closed

[2019-11-17 12:23] cclauss commented on #708
Should this issue be closed given that pytest currently runs 373 tests on every pull request?

[2019-11-18 02:17] onlinejudge95 opened #1579 "Implementing Circular Linked List"
I was going through this repository and found out that most of the **Data Structures** are still there but there was no implementation of a **Circular Linked List**. I wrote an implementation for the same while studying DS and would like to add it to this repo. There are many applications of a **Circular Linked List** namely

1. Managing computer resources.
2. A slight variation (*Doubly Circular

[2019-11-18 03:53] cclauss commented on #1579
https://github.com/TheAlgorithms/Python/blob/master/data_structures/queue/circular_queue.py submitted by @Himan10 would be a good model to follow for type hints and doctests which are also discusses in CONTRIBUTING.md.

[2019-11-18 04:10] onlinejudge95 commented on #1579
@cclauss can you add me to the contributed list so that I can do a merge across branch rather than a merge across forks

[2019-11-18 10:46] slarse commented on #708
@cclauss I'm not invested in this so I don't mind if you close it. There's still a case to be made for properly packaging the project, because as it stands some directories are stand-alone packages while some are just directories. The problem with mixing and matching like that is that importing modules across different parts of the project becomes very difficult (sometimes impossible) to do consis

[2019-11-18 13:04] harish-2306 opened #1583 "Quad Trees"
Added PR for quad Trees
8f83db79f1fca1e1fba0f45e5329908f0ed27960

[2019-11-18 13:19] #1583 closed

[2019-11-18 20:44] bardia52 commented on #416
There was one pull request that now is closed due to being duplicated. I think this should be closed. Who can close it?

[2019-11-18 20:49] bardia52 commented on #328
@brunohadlich ,
I think we should have only one merge_sort file not merge_sort.py and merge_sort_fastest.py. I will inspect these two files and get back to you. What do you think?

[2019-11-18 21:01] #416 closed

[2019-11-19 09:00] onlinejudge95 opened #1585 "Pinning the version of dependencies"
As of now we are not pinning the dependencies version in `requirements.txt`. A better option in regards to deterministic builds is to use `Pipenv` for the same. Any opinions on this?

[2019-11-19 10:52] onlinejudge95 commented on #1579
This is safe to close

[2019-11-19 10:52] #1579 closed

[2019-11-19 16:13] brunohadlich commented on #328
I agree, it's been a long time since my last contribution to this project as I'm busy with other tasks. Feel free to discuss and apply the best solution.

[2019-11-19 20:54] bardia52 commented on #328
It's ok, I just started on this project. I will spend more time on it and keep it posted here.

[2019-11-20 12:26] onlinejudge95 opened #1586 "Open LGTM alerts"
As of now, LGTM analysis has the following counts
[code]
Is there any plan to lower the count as much as possible because I can see certain issues that can be solved. Moreover, can we have a strict policy for any incoming changes to make sure that the LGTM dashboard stays as clean as possible?
Willing to contribute to this effort.

[2019-11-20 14:34] cclauss commented on #1586
I think we should shut off LGTM.  It has tons of false reports and is super slow!!

[2019-11-20 14:36] onlinejudge95 commented on #1586
+1 on super-slow.

We can use certain other python tools for code quality if you want, namely
- `pylint`
- `vulture`
etc.

[2019-11-20 15:07] cclauss commented on #1586
I know them well... My sense is we are linting enough already.  Where we need to focus is on accepting or rejecting our PRs and clearing our issues.

[2019-11-20 15:07] #1586 closed

[2019-11-20 15:08] onlinejudge95 commented on #1586
Anyways I can help you guys in clearing your issues, and PRs

[2019-11-22 13:39] onlinejudge95 commented on #1380
HI @saskakarsi,

`if PR.is_not_raised():`
Have a look at [CONTRIBUTING.md](https://github.com/TheAlgorithms/Python/blob/master/CONTRIBUTING.md) as a checklist.
As of now, there is support for `doctest`, though I am unable to find any file under `neural_network` dir to pass along as a starting example.

[2019-11-24 19:39] EverLookNeverSee opened #1591 "Add Linear Discriminant Analysis"
Hi
I would like to add linear discriminant analysis algorithm (implement from scratch) into machine learning directory.

[2019-11-24 19:42] cclauss commented on #1591
Go for it.

[2019-11-24 20:34] onlinejudge95 commented on #1492
2 items from this issue are pending, what are our thoughts about the same?
Are we implementing them? If not let's close this issue since the PR has already been merged

[2019-11-24 21:27] #1492 closed

[2019-11-26 12:07] #1591 closed

[2019-11-26 12:10] cclauss commented on #1591
A GitHub trick for pull requests that fix issues... If you put the text __Fixes #1592__ in the commit message of the pull request then when the PR gets merged, GitHub will autoclose the issue.

[2019-11-28 03:58] demonicprice opened #1600 "Python"

[2019-11-28 15:32] EverLookNeverSee opened #1601 "Type Error in linear_discriminant_analysis.py"
There is a type error in this following code:
`pre_indexes = predict_y_values(x, actual_means, variance, probabilities)`
the 'probabilities' parameter must be a list object , but is a generator object.
generated error is as follows:
`TypeError: 'generator' object is not subscriptable`

[2019-11-28 16:09] cclauss commented on #1601
My bad.  Sorry about that.

[2019-11-28 16:10] EverLookNeverSee commented on #1601
no problem
@cclauss

[2019-11-28 16:14] cclauss commented on #1601
Now you know why I love to see [__doctests__](https://docs.python.org/3/library/doctest.html).  It would be great to see __linear_discriminant_analysis.py__ in our test list
https://travis-ci.com/TheAlgorithms/Python/builds/138595890#L429

[2019-11-28 16:21] #1601 closed

[2019-11-28 16:25] EverLookNeverSee commented on #1601
@cclauss , I will do it as soon as possible

[2019-11-29 05:51] onlinejudge95 opened #1604 "Implementing async functionality from scratch"
I had a chance to attend PyCon India 2019 where David Beazley, gave a [workshop](https://www.youtube.com/watch?v=Y4Gt3Xjd7G8) on the same topic. Since the topic is not of my own so I wanted to ask the community whether I can raise a PR for the same. The uber idea is to use Python's Standard Library to implement `async` functionality. It can have some variants also like using **Pub-Sub Pattern**. D

[2019-11-30 04:30] #905 closed

[2019-11-30 10:49] #1155 closed

[2019-12-01 04:43] cclauss commented on #840
@siddharthjain1611 What still needs to be done, or can this issue be closed?

[2019-12-01 14:11] mohanish2504 commented on #1317
Hi,

I am a beginner in open source contribution, I will like to contribute! please consider the following reply.
There are 3 Libraries in python already which can help in surfing the web:
 1.Selenium Web Driver
 2.Scrappy
 3.Beautiful soup
It will still great if you can provide some explanations on kind of surfing you want to perform.

[2019-12-01 20:29] #957 closed

[2019-12-02 01:29] bardia52 commented on #328
Hi @brunohadlich
I looked at these two files:
- merge_sort.py
- merge_sort_fastest.py
The one that I recommend to keep is merge_sort.py, the other one is **not** merge sort algorithm. It's something else that works fine but for the sake of algorithm education is misleading.

Let me know if there is any more work to be done on this issue, otherwise after deleting the file 'merge_sort_fastest.py' we

[2019-12-02 09:28] #825 closed

[2019-12-02 09:30] #817 closed

[2019-12-02 09:32] #813 closed

[2019-12-02 09:33] #815 closed

[2019-12-02 09:33] #816 closed

[2019-12-02 09:37] #835 closed

[2019-12-02 09:41] cclauss commented on #837
Is this fixed?  Can this issue be closed?

[2019-12-02 15:55] EverLookNeverSee opened #1607 "Adding tests directory into machine learning(using pytest)"
Hi @cclauss , I would like to write tests into linear_discriminant_analysis functions using doctest, but doctest have not enough options and features to do this correctly ; therefore i decided to use pytest instead. we need to add a tests directory and write tests into it.
what is your opinion?!

[2019-12-02 17:23] cclauss commented on #1607
https://github.com/TheAlgorithms/Python/blob/master/strings/rabin_karp.py uses a doctest to _bootstrap_ a normal unittest.  Will that technique work for your purposes?

[2019-12-02 17:39] EverLookNeverSee commented on #1607
I don't think so, one of the problems is that i can not handle multiple line generated list (expected output) in interpreter mode in docstring as follows :
for example:
`>>> gaussian_distribution(5, 1, 20)`

[6.288184753155463, 6.4494456086997705, 5.066335808938262, 4.235456349028368,
 3.9078267848958586, 5.031334516831717, 3.977896829989127, 3.56317055489747,
 5.199311976483754, 5.133374604658605

[2019-12-02 17:45] cclauss commented on #1607
__>>> gaussian_distribution(5, 1, 20)  # doctest: +NORMALIZE_WHITESPACE__

We already do this a lot...
https://github.com/TheAlgorithms/Python/search?q=NORMALIZE_WHITESPACE

[2019-12-02 18:09] EverLookNeverSee commented on #1607
I didn't know this option, Thank you very much.

[2019-12-02 18:29] QuantumNovice commented on #840
#1609

[2019-12-03 00:14] cclauss commented on #1134
No one has admin rights to this repo.

[2019-12-03 00:14] #1134 closed

[2019-12-03 07:09] #788 closed

[2019-12-03 09:02] cclauss commented on #762
Fixed at https://github.com/TheAlgorithms/Python/blob/master/linear_algebra/src/lib.py#L49

[2019-12-03 09:02] #762 closed

[2019-12-03 09:02] #764 closed

[2019-12-03 09:27] EverLookNeverSee commented on #1607
When i wrote a doctest into <predict_y_values> function , i got print keyword output as expected value instead of function return value.
Should i remove line below from that function?
`print("Generated Discriminants: \n", results)`
I require your assistance, @cclauss

[2019-12-03 17:44] onlinejudge95 commented on #328
Just raise a PR for the same

[2019-12-03 17:54] cclauss commented on #328
Please open a PR that renames __merge_sort_fastest.py__ to __unknown_sort.py__.

[2019-12-03 17:59] bardia52 commented on #328
OK sure, thank you.

[2019-12-04 03:20] #712 closed

[2019-12-04 03:29] #727 closed

[2019-12-04 03:30] #729 closed

[2019-12-04 03:49] #721 closed

[2019-12-04 04:13] #739 closed

[2019-12-04 10:33] onlinejudge95 commented on #1604
Guys, any thoughts about the same

[2019-12-04 11:05] cclauss commented on #1604
We could create an __asyncio__ directory for algorithms built on top of Python's __asyncio__ module or that attempt to replicate that functionality from scratch.

[2019-12-04 11:43] onlinejudge95 commented on #1604
Would be able to review a PR for the same

[2019-12-04 14:08] siddharthjain1611 commented on #840
Yes we can close it.

On Mon, Dec 2, 2019 at 11:59 PM QuantumNovice <notifications@github.com>
wrote:

[2019-12-04 14:31] #840 closed

[2019-12-05 03:35] bardia52 commented on #328
PR is created: https://github.com/TheAlgorithms/Python/pull/1612.

[2019-12-05 04:06] #328 closed

[2019-12-05 19:10] Vasuji opened #1613 "We are lacking some algorithms from simulations"
There are some interesting algorithms in simulation from Physics, Chemistry, and Engineering especially regarding Monte Carlo simulation: Heat Bath algorithm, Metro-Police algorithm, Markov Chain Monte Carlo, etc.

[2019-12-06 00:10] #1181 closed

[2019-12-06 05:17] #697 closed

[2019-12-06 05:18] #701 closed

[2019-12-06 08:28] cclauss commented on #690
@onlinejudge95 Would you be interested?

[2019-12-06 08:33] onlinejudge95 commented on #690
Sure @cclauss count me in.

[2019-12-06 08:42] cclauss commented on #690
I do not have sufficient rights to add you so please send your email to dynamitechetan@gmail.com (the original poster) asking him to add you as a Maintainer.

[2019-12-06 17:20] onlinejudge95 commented on #690
Already done ☺️

[2019-12-07 00:10] #1067 closed

[2019-12-07 00:10] #1049 closed

[2019-12-07 00:10] #1048 closed

[2019-12-07 00:10] #951 closed

[2019-12-07 00:10] #952 closed

[2019-12-07 00:10] #950 closed

[2019-12-07 00:10] #945 closed

[2019-12-07 15:39] darkmatter18 commented on #1375
Hi, @kunl7564 I tested the algorithm for both
1. `1 / sqrt(2 * pi * sigma ** 2) * exp(-(x - mu) ** 2 / 2 * sigma ** 2)`
2 . `1 / sqrt(2 * pi * sigma ** 2) * exp(-(x - mu) ** 2 /( 2 * sigma ** 2))`

Both seem to produce the same output. I think the issue is not actually an issue.

[2019-12-07 15:50] cclauss commented on #1375
Already been fixed in f6bd8c9

[2019-12-07 15:50] #1375 closed

[2019-12-08 00:10] #927 closed

[2019-12-08 00:10] #919 closed

[2019-12-08 00:10] #911 closed

[2019-12-08 00:10] #907 closed

[2019-12-08 00:10] #910 closed

[2019-12-08 06:07] cclauss commented on #1027
Closed in #1316

[2019-12-08 06:07] #1027 closed

[2019-12-08 07:44] #1607 closed

[2019-12-08 07:54] EverLookNeverSee opened #1620 "Implementation of doctests in linear discriminant analysis"
Adding linear discriminant analysis in test list

[2019-12-08 22:15] #1620 closed

[2019-12-09 02:08] #626 closed

[2019-12-10 00:04] #837 closed

[2019-12-10 12:24] Corn3llius opened #1623 "Stuck in a get value issue"
Hello all,
I'm beginner in programming as you will observe as is follows. Hardly I succeed to make a trunk of software in python which can let you to insert some random numbers (only floats).
How ever I do not know how to store the values and call them when I need to make different operation as Sum, div etc.
I have tried with list and other function but not seams to work.
I do not know if the code

[2019-12-10 13:58] onlinejudge95 commented on #1623
There are certain areas of improvement in your source code, please read along :)

1. You are making your code unnecessarily complex. As far as i can see from your question, what you want to do is
    - Read `floats` from `stdin`
    - Store them in some data structure
    - Perform some arithmetic operation
I ran your code on my system and it runs fine up to 1st point.
2. In order to advance furth

[2019-12-10 14:00] onlinejudge95 commented on #1613
PR is always welcome :)
Do go through [CONTRIBUTING.md](https://github.com/TheAlgorithms/Python/blob/master/CONTRIBUTING.md) before pushing your changes.

[2019-12-10 14:07] onlinejudge95 commented on #1604
Hi Team, I would be working on this really soon. Had to deposit my previous system due to job change.

[2019-12-10 14:12] onlinejudge95 commented on #1368
The issue has been fixed here https://github.com/TheAlgorithms/Python/pull/1482. Hence closing the issue.

[2019-12-10 14:12] #1368 closed

[2019-12-10 14:26] onlinejudge95 commented on #1357
`master` branch contains a recursive implementation of [minimax](https://github.com/TheAlgorithms/Python/blob/master/backtracking/minimax.py) in **backtracking** directory.

If you feel like implementing a recursive version of other problems in **backtracking** or **dynamic_programming** directory, i suggest you create a sub-directory named **recursive** within the above mentioned directories and

[2019-12-10 14:33] onlinejudge95 commented on #1317
@mohanish2504 we currently have some `web crawling` programs in [web_programming](https://github.com/TheAlgorithms/Python/tree/master/web_programming) directory.

If you are interested, do check them and raise a PR if you want to add any new program or propose a new feature in the currently listed ones.

For more information about how to contribute to this repo please read the [CONTRIBUTING.md](ht

[2019-12-10 15:55] Corn3llius commented on #1623
Hi,

Thanks, the iteration is the issue, I do not know how to create an entire list from an input variable...
Some how I want to give the size of the list using input "n" and after to insert and keep all the data from a() in that list, each time until the counter reach n max value...

wherever I search in documentation/books/ethernet, is the classic example with predefined list.

[2019-12-10 19:53] cclauss commented on #1357
I am not a fan of a top level directory for recursion.  I would suggest that you use the existing directory structure and if you must, use the filename (like xyz_recursion.py) to highlight the use of this programming technique.

[2019-12-10 19:54] cclauss commented on #1357
I am also, not a fan of nesting of directories.  Users spend too much time digging and that leaves less time for reading/using.

[2019-12-11 08:49] Corn3llius commented on #1623
Yesterday I have done 'it, and now it's work.
Here is the code until this moment:
def b():
    num1 = False
    while not num1:
        try:
            V1 = a()
            if V1 == float(V1):
               num1 = True
            return V1
        except ValueError:
            print('Please insert only numbers')
def a():
    x = float(input('Please insert Val '+str(count)+': '))
    return x
c

[2019-12-11 08:49] #1623 closed

[2019-12-11 08:52] onlinejudge95 commented on #1623
Happy coding 🥳🥳

[2019-12-11 08:53] onlinejudge95 commented on #1623
Now try to implement operating on the list elements.

[2019-12-14 00:06] #958 closed

[2019-12-14 00:06] #698 closed

[2019-12-15 17:23] rakadkh commented on #1613
Hi 👋,
I would love to contribute to this session, can you give some advices or tips on how can I do such?

[2019-12-15 17:24] rakadkh commented on #1613
Hi 👋,
I would love to contribute to this session, can you give some advices or tips on how can I do such?

[2019-12-15 17:33] onlinejudge95 commented on #1613
@rakadkh here are some simple steps.

1. Fork this repo.
2. Before adding your code make sure you have gone through [CONTRIBUTING.md](https://github.com/TheAlgorithms/Python/blob/master/CONTRIBUTING.md)
2. Add your code.
3. Make sure your code is passing all checks provided in our [.travis.yml](https://github.com/TheAlgorithms/Python/blob/master/.travis.yml) file.
4. Once you have pushed your chan

[2019-12-17 00:06] #614 closed

[2019-12-17 00:06] #604 closed

[2019-12-17 00:06] #605 closed

[2019-12-18 00:05] #1600 closed

[2019-12-18 00:05] #622 closed

[2019-12-21 19:27] fk03983 opened #1640 "Implementing Simulated Annealing and Hill Climbing"
Hello,

I was looking through the algorithms, and could not find any optimization algorithm, can I go ahead and implement Simulated Annealing and Hill Climbing algorithms? I plan to do this for mathematical functions for now but with a general interface.

Let me know what you guys think of this.

[2019-12-21 19:52] cclauss commented on #1640
Two separate algorithms in two separate pull requests?  I will be very interested to Re tans understand.  Please have doctests and type hints on all key functions as discussed in CONTRIBUTING.md.

[2019-12-24 10:26] Pengfei-Gao opened #1644 "32.48 * 100 = 3247.9999999999995 ????"
Are you kidding me?

![image](https://user-images.githubusercontent.com/16488309/71408971-ebabec80-267a-11ea-961e-e7f95fe970e6.png)

[2019-12-24 12:37] cclauss commented on #1644
https://docs.python.org/3/tutorial/floatingpoint.html

[2019-12-24 12:37] #1644 closed

[2019-12-26 13:20] Pengfei-Gao commented on #1644
Even so, it's not scientific. Other programming languages don't have this problem. It's definitely a bug!!

[2019-12-26 15:20] cclauss commented on #1644
Please open an issue on https://github.com/python/cpython

[2019-12-29 11:17] AliasT commented on #697
How about add a `good_suffix_heuristic` implementation ?

[2019-12-29 17:10] FatAnorexic commented on #1613
Time to write an algorithm or two.

[2020-01-06 12:15] MadyDixit opened #1661 "Find The Possible Number of BST from Key."
Hey! Can we Add Function That Calculate the Number of Possible BST from Given Keys.

Is it Interesting!?

[2020-01-06 13:56] cclauss commented on #1661
If it has doctests, type hints, black formatting (https://github.com/TheAlgorithms/Python/blob/master/CONTRIBUTING.md) then it would be good to review.

[2020-01-07 09:28] MadyDixit commented on #1661
Thank you!! Hope It will Helpful in Future!

[2020-01-07 09:28] #1661 closed

[2020-01-07 09:31] cclauss commented on #1661
Try __python3 -m doctest -v your_version.py__ and __python3 -m doctest -v the_merged_version.py__ to see the doctests in action.

[2020-01-08 06:07] MadyDixit opened #1668 "Hey!!! Adding Different Approach"
Hi...
I have Saw your Dynamic Programming Directory in Your Repo, It is Quite Exciting:: But I want Contribute a Different Approach in Longest Common Sub Sequence using Dynamic Approach (Using **Top-Down Approach _(Memoization)_** Instead of the **Bottom UP Approach _(Tabulation)_**).

Hope! it is Quite Interesting::??

[2020-01-08 06:58] cclauss commented on #1668
The Capital Letters Drive Me A Bit NuTs!

Sure. I am ok with multiple implementations of the same algorithm under two conditions:
1. All implementations should be in the same file and tested against the same data.
2. There are [timeit](https://docs.python.org/3/library/timeit.html) (or similar) benchmarks to compare the performance of the implementations

Python has a memoization function:
https:/

[2020-01-12 04:06] onlinejudge95 commented on #1668
I would like to see an implementation using Standard Library of Python as mentioned by @cclauss. I think it would help people understand how mature the library is.

[2020-01-12 04:31] onlinejudge95 opened #1677 "About failing checks in LGTM"
Though i am not a fan of using LGTM, but while browsing through the reports, i found out there are instances that actually makes sense.
My question revolves around whether we should ask the respective code authors to do the same, in a way relaying to them the code quality issue, which can be used as learning and as a reference for new contributors, or do it all by ourselves.

[2020-01-12 12:38] shrabian opened #1678 "Recursive insertion sort"
Hey,

I'm new to github and thought this repo would be a good opportunity to get familiar and contribute a simple algorithm. I noticed the sorts folder is lacking a recursive implementation of the insertion sort. Is it OK if I add one?

[2020-01-12 19:08] onlinejudge95 commented on #1678
By any means go ahead, Do have a look at CONTRIBUTING.md, and reach out in case of any further queries. happy coding :)

[2020-01-13 06:24] Kazaf123 opened #1681 "Update Pull Request Template"
It is hard to understand the pull reuqest when I meet some pull requests that only have code, so I think updating a Pull Request Template will make them more readable. Such as:
######Description

######Check List

######My PR Type is:

Thank you!!

[2020-01-13 07:07] onlinejudge95 commented on #1681
In the meanwhile, raise the PR. We can discuss about the requirements there.

[2020-01-15 15:55] shrabian opened #1688 "Providing additional algorithms"
Hello,

I wanted to add my own implementation of an algorithm that approximates the length of a curve and one which approximates the area under a curve (where the curve is defined by a function).

If that's alright, could you also please indicate which folder I should push to.

Thanks!

[2020-01-15 16:04] poyea commented on #1688
You can put it under the `math/` directory. Thank you in advance! Feel free to reference this issue when you create the PR.

[2020-01-15 16:23] cclauss commented on #1688
Please read CONTRIBUTING.md _before_ contributing.  ;-)

[2020-01-15 19:17] mihaimaruseac commented on #1681
Seems to be spam
![VCA6DzWKgeZ](https://user-images.githubusercontent.com/323199/72463619-84202300-3788-11ea-9d4b-08ac8683f524.png)

[2020-01-15 20:24] poyea commented on #1681
It's unclear what you mean by "PR type". As long as one describes his/her PR, say is a code change or a doc change to a specific file, everyone would know and understand. I'd close this as this recommendation is not quite suitable here.

[2020-01-15 20:24] #1681 closed

[2020-01-16 03:28] Scopula opened #1689 "Merge sort implementation"
Specifically, line 40:

`result.append((left if left[0] <= right[0] else right).pop(0))`

`.pop(0)` method is O(n) - when you extract the first item you need to shift all remaining items to the left. Because the line is inside the while loop, the merge function is O(n^2).

My benchmark tests support this, using a randomly generated list with 10^5 items:

merge sort time: 1.5746345520019531
new mer

[2020-01-16 16:37] onlinejudge95 commented on #1689
Though i agree with you, can you share the entire test setup, so that it can be used as a reference for future visitors.
The code you used to measure performance, the code in test etc.

[2020-01-16 17:56] Scopula commented on #1689
The test code is at the bottom, I removed the doctests for readability.

As can be seen, with a million items, the current implementation takes around 200 sec, compared to 6 sec with a better implementation.

Here is the output of the tests (slightly formatted):

[code]
Test code:
[code]

[2020-01-17 22:32] #1640 closed

[2020-01-18 17:28] Quentin61 opened #1700 "Compression algorithm with the LZW method"
Hello,

I'm a student, and I want to learn and to practice more about Python. I notice that you made some compression algorithms, and I've made one with the LZW method. So I would like to ask if I can add it?

[2020-01-18 18:09] cclauss commented on #1700
Sure!  Type hints and doctests as discussed CONTRIBUTING.md.

[2020-01-19 04:36] fk03983 opened #1702 "Bezier Curves and Bspline"
I am working towards adding for producing bezier curves and bspline curving given certain control points. Can you please guide me on which directory should I put the code files?

[2020-01-20 10:54] cschuerc commented on #1613
I would like to contribute a Monte Carlo algorithm for the approximation of PI (see [here](https://www.geeksforgeeks.org/estimating-value-pi-using-monte-carlo/)). Of course, I would implement my own version. Is this okay?

[2020-01-20 10:57] cclauss commented on #1613
Go for it.  https://github.com/TheAlgorithms/Python/issues/1613#issuecomment-565829640

[2020-01-20 11:11] cschuerc opened #1703 "Augment Binary Search algorithm"
Binary search for an item is already implemented [here](https://github.com/TheAlgorithms/Python/blob/9eb50cc223f7a8da8d7299bf4db8e4d3313b8bff/searches/binary_search.py). I would like to augment it by a binary search to "find the first element in a sorted list that is >= a given item" as this is also a frequent task to do. I am interested in your opinion on this.

[2020-01-21 05:50] tegkhanna commented on #1689
I believe the slicing operation takes O(N/2) time as well. Using start and end pointer will be more meaningful I guess

[2020-01-22 00:17] cclauss commented on #1702
A new __graphics__ directory or __digital_image_processing__ or __other__.

[2020-01-22 11:29] kostogls opened #1705 "May i add algorithm about armstrong numbers in math ??"

[2020-01-22 11:45] cclauss commented on #1705
Sure.  You might check out #1325 also, please read CONTRIBUTING.md.

[2020-01-22 12:50] kostogls commented on #1705
Ok, thank you!

[2020-01-22 14:55] Ale3androsS opened #1709 "CPU Scheduling Algorithms"
Can I submit CPU Scheduling algorithms such as SJF, FCFS, Round-Robin etc.. in a new folder called 'cpu-scheduling'?

[2020-01-22 15:38] #1705 closed

[2020-01-22 15:40] cclauss commented on #1709
Let's not limit to CPUs.  What about...
[code]

[2020-01-25 07:53] amalujose25 commented on #1678
okay

[2020-01-26 00:04] #708 closed

[2020-01-26 07:29] Scopula commented on #1703
I do agree that is it a useful variant of binary search.

bisect docs has some example of how to achieve this with the bisect module (see: find_le and find_ge).
https://docs.python.org/3/library/bisect.html

[2020-01-26 07:47] cclauss commented on #1703
Sounds useful.  Should we implement the full API of the bisect module?
[code]

[2020-01-27 11:09] onlinejudge95 opened #1716 "Linking Issues with PRs"
How about linking an Issue to a PR wherever possible, so that both can be closed together i.e. we do not have zombie issues still open which have their PR merged or vice-versa?

[2020-01-27 11:19] cclauss commented on #1716
In the PRs, just put the text:
[code]
and GitHub will autoclave the issue when the PR is closed.

[2020-01-27 12:30] onlinejudge95 commented on #1716
Exactly, i was hoping if we could enforce this in the **CONTRIBUTING.md**

[2020-01-27 20:54] #1716 closed

[2020-01-28 17:04] #1703 closed

[2020-01-30 04:51] faizan2700 opened #1720 "Manacher's Algorithm's implementation is not correct. (Strings)"
Manacher's algorithms can find the longest palindromic substring in linear time , or the number of substrings that are palindrome in linear time. But the implementation given in strings directory gives the complexity of n^2 we can easily see that for loop is iterating every character as center and from center palindromic length is calculated through recursive calls so the overall complexity is n^2

[2020-01-31 12:09] zcypython commented on #1678
Hope you have a fun code:)

[2020-01-31 15:23] Ale3androsS commented on #1709
I justs added the FCFS algorithm. If you have any changes in mind I would be glad to add them before accepting the PR.

[2020-02-01 07:22] #1678 closed

[2020-02-01 07:24] shrabian commented on #1678
Hey,
I've already implemented this algorithm and it has been merged into master. Sorry for not closing this sooner.

[2020-02-02 09:38] tania-cmyk opened #1724 "Lack of documentation in transposition cipher"
Need to mention the type of transposition cipher for further clarity:
https://github.com/TheAlgorithms/Python/blob/master/ciphers/transposition_cipher.py

[2020-02-05 11:27] #1720 closed

[2020-02-05 12:24] siva1098 opened #1729 "Contribution of an algorithm FP-Graphminer"
I'd like to contribute under the topic graphs by adding new algorithm "FP-graphminer", an implementation of a research paper.
It is a Frequent Pattern Graph Mining algorithm, that compactly represents a set of network graphs as a Frequent Pattern Graph (or FP-Graph).
This graph can be used to efficiently mine frequent subgraphs including maximal frequent subgraphs and maximum common subgraphs.

Sa

[2020-02-05 12:28] cclauss commented on #1729
Please use the filename `graph/frequent_pattern_graph_miner.py`

[2020-02-05 17:40] mana21995 opened #1730 "suggested addition of interpolation in graphics"
Hi!
I'm Manasa and I'm pretty new to the world of open source.
I would like to work on cubic spline interpolation, legrange's interpolation and Newton's divided difference interpolation which could be an addition to graphics.

[2020-02-05 23:36] onlinejudge95 commented on #1730
Do read CONTRIBUTING.md

[2020-02-06 19:48] #1709 closed

[2020-02-06 21:01] #1724 closed

[2020-02-10 09:48] onlinejudge95 opened #1741 "Fixing failing check in master"
Hi Team,

Our `master` branch is failing in pipeline. I am raising a PR for the same. I will list the file names that are failing the changes in the same issue.

[2020-02-10 09:56] onlinejudge95 commented on #1741
@cclauss have we dropped support for `flake8`. I see it is pip installed in `codespell.yml` but it is not used in the same or any other GitHub action?

[2020-02-10 10:45] cclauss commented on #1741
I wonder if we should drop Travis CI and move all our tests to GitHub Actions.  Thoughts?

[2020-02-10 10:53] onlinejudge95 commented on #1741
+1 for only GitHub Actions backed pipelines

[2020-02-10 11:19] onlinejudge95 opened #1743 "LGTM Alert regarding hash and eq"
We currently have a [LGTM alert](https://lgtm.com/projects/g/TheAlgorithms/Python/snapshot/7ce05b0fc309fc5a35d637d707edafc2333c96e9/files/searches/hill_climbing.py?sort=name&dir=ASC&mode=heatmap#x2978473143457f06:1). The class defines a `__hash__` method without defining an `__eq__` method.

According to Python [docs](https://docs.python.org/3/reference/datamodel.html#object.__hash__)

Should we g

[2020-02-10 13:44] cclauss commented on #1743
Is there documentation or an issue on the LGTM community that explains _why_ this rule exists.  I have never heard of it before.

[2020-02-10 16:26] cclauss commented on #1743
Yes.  Please submit a PR.

[2020-02-10 18:10] onlinejudge95 commented on #1743
Also, I could see certain other issues that are legit.
Should I raise PR for similar types of issues clubbed together, rather than each going on a separate PR. What do you suggest?

[2020-02-10 22:06] cclauss opened #1747 "Who gets the money that is donated to TheAlgorithms?"

[2020-02-10 22:28] poyea commented on #1747
I guess it's the creator(s) who get it. I vote to close the sponsor option as the work here is a collaborative effort.

[2020-02-10 22:29] #1743 closed

[2020-02-12 00:10] #690 closed

[2020-02-15 15:01] cmgfz commented on #1747
not only the collaborator but the creator(s).

[2020-02-15 15:08] cclauss commented on #1747
not ~only~ the collaborators but the creator(s).

[2020-02-15 15:26] onlinejudge95 commented on #1747
I don't think we are incurring any costs, that we should ask for sponsorship

[2020-02-15 15:46] cclauss commented on #1747
I would not mind a bit of cash for the effort that we put in.

[2020-02-16 00:11] #1380 closed

[2020-02-16 00:11] #1604 closed

[2020-02-16 00:11] #1317 closed

[2020-02-16 00:11] #1357 closed

[2020-02-16 06:20] Lablnet commented on #1747
HAHAHA that quite funny

[2020-02-16 23:10] naviji commented on #1613
I'll make a program calculating the probability of a particular sum of the throw of two dice using simulation.

[2020-02-17 06:07] naviji commented on #1613
I made it.
https://github.com/TheAlgorithms/Python/pull/1759

[2020-02-17 12:16] akdnfbf opened #1760 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/sbmadwq

[2020-02-17 12:20] #1760 closed

[2020-02-17 12:32] onlinejudge95 commented on #1760
Looks like the spam was also sent to the following

1. https://github.com/pallets/flask/issues/3503
2. https://github.com/tuvtran/project-based-learning/issues/211

[2020-02-17 15:02] helen119 opened #1761 "Wanna see my hot pics?💋💋💋"

[2020-02-17 15:18] #1761 closed

[2020-02-17 19:24] heken375 opened #1762 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-18 11:16] helen225 opened #1765 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 11:27] #1765 closed

[2020-02-19 17:20] kate5586 opened #1769 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 17:23] #1769 closed

[2020-02-19 17:44] Tejaswgupta opened #1770 "Add a LSTM neural network?"
Adding a LSTM neural net to predict stock prices to neural network category would help the beneficial.

[2020-02-19 18:30] renata117 opened #1771 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 18:33] #1771 closed

[2020-02-20 02:44] danmurphy1217 commented on #1613
Hi Dibakar, I'm happy to help with the heat bath or Markov Chain algorithm  if it is still not done. Let me know!

[2020-02-20 08:13] onlinejudge95 commented on #1770
If you are working on a PR. make sure to link it to this issue

[2020-02-20 08:33] milena5511 opened #1774 "HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰💰💰"
HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰 💰 💰
ESCROW VERIFIED💎💎💎
👇 👇 👇

https://tinyurl.com/sr7r3e4

[2020-02-22 00:03] iamlatin commented on #1770
Dear government can I get my $3 3 million Grant From TSA government and from the fleet government and from other government agencies I’m a victim of sex trafficking on my phone I got pictures to prove it

[2020-02-22 00:04] iamlatin commented on #1770
Government can I do surveys for money can I do bitcoin for money

[2020-02-22 00:05] iamlatin commented on #1770
freecoinhunt.com It’s broken fix it

[2020-02-22 00:06] iamlatin commented on #1770
btmManager.com no activato

[2020-02-22 00:06] iamlatin commented on #1770
btc Manager.com Needs activation

[2020-02-22 00:07] iamlatin commented on #1770
I’ll pay a person bitcoin to active to activate it

[2020-02-22 00:07] iamlatin commented on #1770
You gotta activate it 1st to get to you got activated 1st to be paid

[2020-03-03 19:42] matkosoric opened #1788 "tests for Hill Cipher algorithm"
tests are missing

[2020-03-04 11:40] matkosoric opened #1789 "author and mail info"
Original creator of algorithm should be mentioned in docstring, but does it also apply for the person who added python implementation to this repo? Shouldn't git history be enough? If so, contribution guidelines have to contain this point, including the policy about mentioning personal mails and github profiles.

[2020-03-04 12:48] cclauss commented on #1789
I do not believe that our contribution process should _mandate_ that contributors disclose Personal Data.  If a contributor wants to share then it is OK but there should be no requirement.

[2020-03-07 03:58] zhujiayin commented on #1747
this can be a topic.... I never thought about this....

[2020-03-09 16:44] siddharthjain1611 opened #1791 "SSD object detection algorithm"
It has come to my notice that SSD object Detection algorithm is missing, I'd love to add it community allows.

[2020-03-09 16:46] cclauss commented on #1791
Solid State Disk??

[2020-03-09 17:15] siddharthjain1611 commented on #1791
Single Shot MultiBox Detector. You can find more about it [here](uhttps://medium.com/@smallfishbigsea/understand-ssd-and-implement-your-own-caa3232cd6adrl)

[2020-03-09 17:43] siddharthjain1611 opened #1793 "Differentiation of ML algorithms"
There is a need to segregate the algorithms into Regression, Classification and Clustering.

[2020-03-12 09:05] HarsheetKakar opened #1794 "Tests for string module"
There are no tests for string module.

I would like to work on it.

[2020-03-12 09:40] cclauss commented on #1794
Travis CI test >500 files on every pull request including 7 in the strings directory.
https://travis-ci.com/github/TheAlgorithms/Python/builds/152796098#L738

[2020-03-12 09:53] HarsheetKakar commented on #1794
I dont fully understand that, but ok

[2020-03-12 10:14] cclauss commented on #1794
[This](https://github.com/TheAlgorithms/Python/blob/master/strings/aho-corasick.py#L66-L68) is a [Python doctest](https://docs.python.org/3/library/doctest.html) as discussed in [CONTRIBUTING.md](blob/master/CONTRIBUTING.md) that is run by [pytest](https://docs.pytest.org) in our [Travis CI test configuration](https://github.com/TheAlgorithms/Python/blob/master/.travis.yml#L13).

[2020-03-13 19:33] HarsheetKakar commented on #1794
Oh ok, i wasn't checking int he right place, sorry to bother.

[2020-03-13 19:33] #1794 closed

[2020-03-13 19:42] cclauss commented on #1794
There are untested algorithms so it would be great if you want to add tests.

[2020-03-13 20:10] HarsheetKakar commented on #1794
sure will look into it

[2020-03-15 10:36] HarsheetKakar opened #1804 "Test coverage checker integration"
a coverage checker will help contributors in creating complete tests and will give them insight about which function needs tests.

#### Reference :
https://codecov.io/

[2020-03-15 12:40] cclauss commented on #1804
@sirex closed this in #1578 and a [coverage report](https://travis-ci.com/github/TheAlgorithms/Python/jobs/298280475#L1888) is created for every pull request.

[2020-03-15 12:40] #1804 closed

[2020-03-15 18:02] armingh2000 opened #1805 "Adding bidirectional dijkstra to graphs"
There are 3 implementations of Dijkstra in graphs dir, but none is bidirectional.
I can implement the algorithm if it's needed.
+: Is it worth to change each directory's files, so that all inputs of classes and functions are in a specific format which is accepted by all other related functions and methods?

[2020-03-16 05:17] cclauss commented on #1688
Closed in #1692

[2020-03-16 05:17] #1688 closed

[2020-03-19 07:04] heningjie opened #1807 "python 算法"

[2020-03-19 07:09] #1807 closed

[2020-03-21 00:09] #1677 closed

[2020-03-21 00:09] #1668 closed

[2020-03-22 04:53] hritik5102 opened #1809 "implementation of computer vision algorithm in python"
I want to work on this issue, please assign it to me.

[2020-03-22 06:12] cclauss commented on #1809
You do not need to request permission... just submit pull requests.

[2020-03-22 06:29] cclauss commented on #1689
It would be awesome if someone could create a __sort benchmark program__ that could import each algorithm in our [sorts](../sorts) directory and time how long they take to sort at least three payloads:
* short list of ints
* medium tuple of floats
° long generator of str

[2020-03-27 00:13] #1700 closed

[2020-03-27 21:33] BokuAM commented on #1613
This looks like an interesting field to work in.

[2020-03-27 21:42] cclauss commented on #1613
Changing the name of this issue because we now have [Monte Carlo](https://github.com/TheAlgorithms/Python/search?q=monte&unscoped_q=monte) algorithms but could use _other_ simulation algorithms.

[2020-03-28 03:57] GXJERIC opened #1818 "python"
I

[2020-03-28 05:56] cclauss commented on #1818
Hi @GXJERIC,  Welcome to GitHub!  Yes, Python is what we do here.  If you are interested to hack some on Python then please try this...  Do https://github.com/new and create a new repository.  If you do that then I can go there and together we can do some pair programming.

[2020-03-28 05:56] #1818 closed

[2020-03-30 00:09] #1689 closed

[2020-03-30 00:09] #1702 closed

[2020-04-02 09:13] Alex-wxx opened #1823 "Python"

[2020-04-02 11:07] #1823 closed

[2020-04-03 06:08] Aditya231 commented on #1613
Show some

[2020-04-03 16:22] sandyuser404 opened #1824 "Python"

[2020-04-04 11:16] #1824 closed

[2020-04-04 16:58] sarimurrab opened #1826 "There is no tkinter Library to start with"

[2020-04-04 18:55] cclauss commented on #1826
`tkinter` is not an algorithm.  Instead it is a GUI library that is built into Python.

`python3 -c "import tkinter ; help(tkinter)"`

[2020-04-04 18:55] #1826 closed

[2020-04-06 10:58] saidihocine opened #1828 "python"

[2020-04-06 11:16] #1828 closed

[2020-04-06 14:27] ashu-ytbr opened #1830 "Python"
Follow by ashu

[2020-04-06 15:13] #1830 closed

[2020-04-06 18:34] bbowles98 commented on #1613
I was thinking of contributing a Monte Carlo algorithm to simulate the game of craps, would this be ok?

[2020-04-06 18:46] cclauss commented on #1613
Would the algorithm be different than the others that already exist?  https://github.com/TheAlgorithms/Python/issues/1613#issuecomment-605327601

[2020-04-06 19:15] bbowles98 commented on #1613
The algorithm wouldn't be much different, just used under a different scenario than calculating pi. Are there any algorithms in particular you are looking for?

[2020-04-06 21:03] Vasuji commented on #1613
Thank you so much everybody for the great contributions.

[2020-04-06 21:40] Vasuji opened #1831 "Any thoughts on adding Quantum Algorithms?"
This could include a very large family and could go beyond the scope of the current plan. Introducing some basic quantum algorithms could be helpful for beginners. There are currently, gate based QC (e.g., IBM, Google, Rigetti) and Quantum annealers ( DWave). Am I missing others, topological or quantum optics based QC? The image below shows where is QC going in the future?
![img](https://github.co

[2020-04-06 21:45] hackercyclops12 commented on #1831
I think that's a great plan!

[2020-04-06 21:46] cclauss commented on #1831
Go for it!!!  If it becomes a monster, then we could create a separate repo but it is best to get started.

[2020-04-07 07:39] hackercyclops12 commented on #1831
Ideas?

https://en.m.wikipedia.org/wiki/Shor%27s_algorithm

https://en.m.wikipedia.org/wiki/Grover%27s_algorithm

https://en.m.wikipedia.org/wiki/Quantum_Fourier_transform

https://en.m.wikipedia.org/wiki/Topological_quantum_field_theory

[2020-04-07 07:50] hackercyclops12 commented on #1831
I would also find this interesting to look into:

https://research.google/teams/applied-science/quantum/

[2020-04-07 10:12] cclauss commented on #1831
https://github.com/TheAlgorithms/Python/tree/master/quantum is open for business...

[2020-04-07 20:01] akulakov opened #1840 "Black style formatter"
Contributing doc states `the black style is now the recommendation of the Python Core Team` which seems to be inaccurate (I couldn't find anything to this effect).

[2020-04-07 22:22] hackercyclops12 opened #1843 "Ideas For Quantum Algorithms"
Further Ideas & examples

https://research.google/pubs/?area=data-management&area=data-mining-and-modeling&area=general-science

[2020-04-07 22:24] hackercyclops12 commented on #1843
Started at: https://github.com/TheAlgorithms/Python/issues/1831

[2020-04-08 03:04] cclauss commented on #1843
Moved to #1831 — We don’t need two issues for the same topic.

[2020-04-08 03:04] #1843 closed

[2020-04-08 05:48] hackercyclops12 commented on #1843
OK sorry

[2020-04-08 10:27] #1840 closed

[2020-04-08 11:16] dukechun commented on #1840
unsubscribe

---Original---
From: &quot;John Law&quot;<notifications@github.com&gt;
Date: Wed, Apr 8, 2020 18:31 PM
To: &quot;TheAlgorithms/Python&quot;<Python@noreply.github.com&gt;;
Cc: &quot;Subscribed&quot;<subscribed@noreply.github.com&gt;;
Subject: Re: [TheAlgorithms/Python] Black style formatter (#1840)

Closed #1840 via #1841.

&mdash;
You are receiving this because you are subscribed to t

[2020-04-10 04:01] huang229 opened #1846 "pyd nested call error"
I used C++ to customize a cross function, and then successfully compiled it to cross.pyd. Now I call it in a.py file, then compile it into exe executable file, run exe result is normal. But if I call this cross.pyd nested and compile the project into an exe executable file, when I run exe, I will report that I can't find the cross function. Why?        In addition, there is no problem in compiling

[2020-04-10 08:23] cclauss commented on #1846
It is easier to debug Python code than English prose...
* Do you have a repo that contains the C++ and Python files with build instructions?

[2020-04-10 08:44] huang229 commented on #1846
Hello, thank you very much for your reply. But I don't quite understand.
That's true:
Use the pybind11 tool to compile cross.cpp to cross.pyd. The generated cross.pyd is automatically placed in the site packages directory of Python.

Now I import the cross function in the tmp.py script. Then use the Cython tool to compile tmp.py as tmp.pyd, which also generates tmp. c as an intermediate file.

The

[2020-04-10 09:13] huang229 commented on #1846
@cclauss

[2020-04-10 09:30] cclauss commented on #1846
Please create a new repo at https://github.com/huang229?tab=repositories that contains:
* cross.cpp
* tmp.py
* test.py
* build.sh -- Which contains the steps that that you describe above
* README.md -- Which explains what success would be and where you are stuck

[2020-04-10 10:59] huang229 commented on #1846
@cclauss Thank you very much for your attention. I have just solved this problem.

[2020-04-10 12:19] cclauss commented on #1846
Please close this issue.

[2020-04-10 15:41] thewq opened #1847 "im2col function has a issue"
[code]

[2020-04-11 18:55] david1512-bz opened #1850 "Y"

[2020-04-11 18:56] #1850 closed

[2020-04-12 06:30] Francy61 opened #1851 "First"

[2020-04-12 07:18] #1851 closed

[2020-04-12 15:10] divyanshsoni22 opened #1854 "TUPLE"

[2020-04-12 15:10] #1854 closed

[2020-04-13 05:32] siva1098 commented on #1729
can you please re-open this issue?
I'm working on this right now and I'm on my final stage of completion.

[2020-04-13 05:53] sandyuser404 commented on #1793
Import numpy
Import pandas
Import matplotlib. Pyplot as plt
Import seabon
Data=pd.DataFrame('files. Csv')
Data. Head()
Sns.pairplot(data)
From sklearn. Model_selection import train_test_split
Xtrain, xtest, ytrain, ytest=train_test_split(x,y,test_size=0.28)
From sklearn.linear_model import linear regression
Ir=linearregresion()
Ir=ir.predict(xtrain,ytrain)
Plt.scatter(xtrain,ytrain)
Plt.plot(xtrai

[2020-04-14 00:19] #1730 closed

[2020-04-14 14:39] iAbdurahmon opened #1863 "Python"

[2020-04-14 14:46] #1863 closed

[2020-04-14 18:04] samydelux3 opened #1864 "Python Algorithms"

[2020-04-14 18:24] #1864 closed

[2020-04-15 19:20] Baselnahhas opened #1868 "Python algorithms"

[2020-04-15 21:06] #1868 closed

[2020-04-16 08:31] gnehsuy opened #1874 "网络爬虫核心技术教程，点此获取☞"
![c5896b844e918f67269114e6c3174ad](https://user-images.githubusercontent.com/13401581/79433465-b51a2900-7fff-11ea-8df4-3fa2d65b9568.png)

[2020-04-16 08:37] #1874 closed

[2020-04-16 18:17] SenSend opened #1879 "ing"

[2020-04-16 18:33] #1879 closed

[2020-04-16 20:21] Duck1SGr4e7 opened #1882 "Test"
git ```
Test.py
[code]

[2020-04-16 20:23] #1882 closed

[2020-04-17 04:31] devesh2395 opened #1883 "Python 1"

[2020-04-17 05:07] #1883 closed

[2020-04-17 08:42] azeez1776 opened #1884 "pyth"

[2020-04-17 08:53] #1884 closed

[2020-04-18 09:25] adilmir98 opened #1891 "python"

[2020-04-18 09:50] #1891 closed

[2020-04-18 18:21] RitamDe opened #1892 "Python"

[2020-04-18 18:30] #1892 closed

[2020-04-19 00:08] #1741 closed

[2020-04-19 05:56] lalalala12340 opened #1893 "python algorithms"

[2020-04-19 06:12] #1893 closed

[2020-04-20 11:51] Prince326 opened #1895 "need to modify the algorithm"
The following program counts the occurrence of words in a string but, it also counts extra spaces in the string as words. Need to modify it so, it won't count the extra spaces as words

https://github.com/TheAlgorithms/Python/blob/master/strings/word_occurrence.py

[2020-04-20 12:07] cclauss commented on #1895
Can you please create a doctest that fails because we are counting incorrectly?

[2020-04-21 07:59] Kulsum12 opened #1898 "Best python data science handbook"
Learn n Read online.

https://jakevdp.github.io/PythonDataScienceHandbook/

https://books.google.co.in/books/about/Python_Data_Science_Handbook.html?id=6omNDQAAQBAJ&printsec=frontcover&source=kp_read_button&redir_esc=y