[2022-10-01 07:03] Kumar-laxmi opened #6434 "Implementing AES Cryptographic algorithm"
**AES Algorithm is under cipher**

### Advanced Encryption Standard (AES) is a specification for the encryption of electronic data established by the U.S National Institute of Standards and Technology (NIST) in 2001. AES is widely used today as it is a much stronger than DES and triple DES despite being harder to implement.

### It is one of the most popularly used cryptographic algorithm in banki

[2022-10-01 07:53] lohargaurav00 opened #6438 "Can't Define user function in python"
Can't Define any user defined function in python

Indintation spell all correct but i don't know what is happening exactly
![IMG-20220930-WA0006](https://user-images.githubusercontent.com/114788180/193399214-845b5063-4a4f-4157-8bb2-ba9547ae32fe.jpg)

Refrence code --
def display_board(board):

print( board[7],"|", board[8],"|", board[9] )
print("--|---|--")
print( board[4],"|", board[5],"|", board

[2022-10-01 08:46] iTeraTorr commented on #6412
What does bytes int conversion mean? Please give some sample input-output test cases.

[2022-10-01 08:46] keerthanasathya opened #6446 "Adding new algorithm - Pythagorean triplet generator"
This is one of the important algorithm, I wish to add it in the website in Python language # hactoberfest

[2022-10-01 08:47] iTeraTorr commented on #6397
Please list down the required categories.

[2022-10-01 09:21] clueless-bachu commented on #6446
Can you please assign it me? I would like to implement it as a part of hacktober festival

[2022-10-01 09:29] Guri-X commented on #6438
Hi @lohargaurav00,

Can you please confirm something for me?
- Is variable "xyz" defined in your code?
- Is variable "test_boar" defined in your code?
- If these both are defined, can you show me how you have defined them?

[2022-10-01 09:38] clueless-bachu commented on #6446
Upon searching, this could be the following design:

1) Generate all the triplets with the longest side lesser 'c'
2) Generate all pythagorean triplets which forms a triangle with an area less than 'A'

[2022-10-01 10:58] debjit-bw commented on #5999
Has this issue been solved? If not, I would like to take this up

[2022-10-01 11:15] #6438 closed

[2022-10-01 11:15] Ayushi96 commented on #6446
I am interested in contributing to this, could you please provide the expected input and output for the generator?

[2022-10-01 11:27] debjit-bw opened #6462 "Support for sleep sort"
Sleep sort needs to be added to sorting algorithms

[2022-10-01 11:28] debjit-bw commented on #6462
I'm working on it. Some documentation left

[2022-10-01 11:32] cclauss commented on #6462
#2352

[2022-10-01 11:32] #6462 closed

[2022-10-01 11:32] sofezticated-gentleman commented on #6433
hey @Kumar-laxmi I would love to work on this issue under hacktoberfest festival can you please assign me

[2022-10-01 11:34] cclauss commented on #6446
If multiple contributors submit solutions to the same algorithm, it is usually a learning experience for all parties.  Therefore, we review pull requests and do not assign or reserve algorithms.

[2022-10-01 11:34] #6446 closed

[2022-10-01 11:34] cclauss commented on #6434
If multiple contributors submit solutions to the same algorithm, it is usually a learning experience for all parties.  Therefore, we review pull requests and do not assign or reserve algorithms.

[2022-10-01 11:34] #6434 closed

[2022-10-01 11:35] cclauss commented on #6433
If multiple contributors submit solutions to the same algorithm, it is usually a learning experience for all parties.  Therefore, we review pull requests and do not assign or reserve algorithms.

[2022-10-01 11:35] #6433 closed

[2022-10-01 11:35] cclauss commented on #6431
If multiple contributors submit solutions to the same algorithm, it is usually a learning experience for all parties.  Therefore, we review pull requests and do not assign or reserve algorithms.

[2022-10-01 11:35] #6431 closed

[2022-10-01 11:35] cclauss commented on #6425
If multiple contributors submit solutions to the same algorithm, it is usually a learning experience for all parties.  Therefore, we review pull requests and do not assign or reserve algorithms.

[2022-10-01 11:35] #6425 closed

[2022-10-01 11:35] cclauss commented on #6412
If multiple contributors submit solutions to the same algorithm, it is usually a learning experience for all parties.  Therefore, we review pull requests and do not assign or reserve algorithms.

[2022-10-01 11:35] #6412 closed

[2022-10-01 11:35] cclauss commented on #6397
If multiple contributors submit solutions to the same algorithm, it is usually a learning experience for all parties.  Therefore, we review pull requests and do not assign or reserve algorithms.

[2022-10-01 11:35] #6397 closed

[2022-10-01 11:36] cclauss commented on #6396
If multiple contributors submit solutions to the same algorithm, it is usually a learning experience for all parties.  Therefore, we review pull requests and do not assign or reserve algorithms.

[2022-10-01 11:36] #6396 closed

[2022-10-01 11:36] cclauss commented on #6395
If multiple contributors submit solutions to the same algorithm, it is usually a learning experience for all parties.  Therefore, we review pull requests and do not assign or reserve algorithms.

[2022-10-01 11:36] #6395 closed

[2022-10-01 11:36] cclauss commented on #6386
If multiple contributors submit solutions to the same algorithm, it is usually a learning experience for all parties.  Therefore, we review pull requests and do not assign or reserve algorithms.

[2022-10-01 11:36] #6386 closed

[2022-10-01 11:36] #6377 closed

[2022-10-01 11:36] #6354 closed

[2022-10-01 11:39] Bjiornulf commented on #5999
@debjit-bw as I said in the previous comment, I think this has been solved in the pointed commit (you can take a look by yourself). Sadly I don't think this issue gets much attention, and I doubt it will ever be closed...

[2022-10-01 11:41] cclauss commented on #6334
If multiple contributors submit solutions to the same algorithm, it is usually a learning experience for all parties.  Therefore, we review pull requests and do not assign or reserve algorithms.

[2022-10-01 11:41] #6334 closed

[2022-10-01 11:45] Bjiornulf commented on #6216
@Sharukpy @shrutiiivij I don't understand your point... Changing up libraries doesn't make those files any less "how-to" examples. There are no algorithms being implemented in the files, rather using well-known libraries to do the job. Correct me if I'm wrong, but this repository is about re-implementing algorithms in Python, so that people can actually understand what is happening under the hood

[2022-10-01 12:44] debjit-bw commented on #5999
Oh sorry @Bjiornulf, I completely missed your earlier comment. Yeah this issue seems fixed. Thanks!

[2022-10-01 13:09] sanchayanghosh commented on #6395
Hi @R3v3rb3 i have the implementation laid out. If you like, @cclauss we can use this issue  to basically discuss the design and implementation of the algorithm, and for me to effectively help with the implementation details. Or would you like me to directly open a draft PR for this?

I will be posting a draft PR for the same. @R3v3rb3 once I post the link you can take a look at it.

[2022-10-01 14:33] ruchikayadav1408 commented on #4941
hello!!! Shall i work on this?

[2022-10-01 14:34] ruchikayadav1408 commented on #6095
@faiqali1 heyyy shall i work on this?

[2022-10-01 15:22] Nisha213-mar commented on #5923
Can you Assign this to me

[2022-10-01 15:24] WhiteWolf47 opened #6478 "Median Search"
Implementation of median search in python.

[2022-10-01 15:24] WhiteWolf47 commented on #6478
Can you please assign me this issue (under hacktoberfest)?

[2022-10-01 15:40] pulkit-999 opened #6479 "Linear_search.py"
Please assign this issue under hacktoberfest

[2022-10-01 15:50] PaulJWright commented on #6479
Oh it's that time of the year again...

[2022-10-01 16:00] PaulJWright commented on #6478
Submit a solution as a PR. Issues aren't assigned

[2022-10-01 16:18] yuvrajthegupta commented on #6479
you just want the code for linear search ? or which file to edit?

[2022-10-01 19:15] sanchayanghosh opened #6491 "Do not run checklists on draft pull requests"
Draft pull requests will often not be refactored and are in progress. So, marking draft pull requests as invalid defeats the purpose of collaborating on what is an unfinished draft.

Once the crux of the draft PR is validated, we can convert it to a proper PR and then do the code quality checks.

[2022-10-01 21:00] Risavchd24 commented on #6479
i would like to contribute

[2022-10-01 23:02] SumukhaGargeshP commented on #6479
I would like to contribute to this. Please assign me to this task. Thanks!

[2022-10-02 00:03] SumukhaGargeshP commented on #6479
I already see a linear_search.py in the code. is this issue closed?

[2022-10-02 00:45] hd2342-dubey commented on #4870
Hello, I want to work over this, please assign it to me.

[2022-10-02 04:24] Sneha421 opened #6510 "Job Sequencing with Deadlines"
**Problem Statement**: Given 3 arrays - Job ID, Job Deadline and Job Profit, find all the non-overlapping jobs that give maximum profit. Only one job can be scheduled at a given time and each job takes one unit of time.

**Input**: Job ID, Job Deadline and Job Profit arrays [can be combined into one array as well]
**Output**: The number of jobs and the maximum profit

<img width="344" alt="image"

[2022-10-02 04:28] Sneha421 commented on #6510
This is a problem that involves Greedy Approach. I have previously worked on this approach and would like to submit my work to this repository

[2022-10-02 05:14] ganesh-utla opened #6511 "Longest Palindromic Subtring | Dynamic Programming"
**Problem Statement:** Given a string s, return the longest palindromic substring in s.
A string is called a palindrome string if the reverse of that string is the same as the original string.
Substring is a part of the string that can be achieved by deleting zero or more characters from the beginning and from the ending of the string.

**Input:** "Any String"
**Output:** "palindromic substring wi

[2022-10-02 05:20] ganesh-utla commented on #6511
Please assign me to this task..

[2022-10-02 05:24] umangtank opened #6513 "BinarySearch in 2D array with O(n) Time complexity"
matrix = [[1, 4, 7, 11, 15],
           [2, 5, 8, 12, 19],
           [3, 6, 9, 16, 22],
           [10, 13, 14, 17, 24],
           [18, 21, 23, 26, 30]]

target = 1
**Output = True**

[2022-10-02 05:30] ganesh-utla opened #6514 "Regular Expression Matching | Dynamic Programming"
**Problem Statement:** Given an input string s and a pattern p, implement regular expression matching with support for '.' and '*' where:
'\.' Matches any single character.​​​​
'\*' Matches zero or more of the preceding element.
The matching should cover the entire input string (not partial).

**Input:** S = "Any String", P = "Any Pattern"
**Output:** Boolean Value (Return True if the input patter

[2022-10-02 05:32] ganesh-utla commented on #6514
Please assign me to this task..

[2022-10-02 05:38] ganesh-utla opened #6518 "Generate Parentheses | Dynamic Programming"
**Problem Statement:** Given n pairs of parentheses, write a function to generate all combinations of well-formed parentheses.

**Input:** Any number (N > 0)
**Output:** [List of all combinations of well-formed parenthesis]

**Eg:**
**Input:** `N = 2`
**Output:** `["(())","()()"]`

[2022-10-02 05:40] ganesh-utla commented on #6518
Please assign me to this task..

[2022-10-02 05:48] ganesh-utla opened #6519 "Maximum Subarray | Dynamic Programming"
**Problem Statement:** Given an integer array `nums`, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.
A subarray is a contiguous part of an array.

**Input:** Any Integer Array
**Output:** Sum of the subarray with maximum sum

**Eg:**
**Input:** `nums = [-2,1,-3,4,-1,2,1,-5,4]`
**Output:** 6
**Explanation:** [4,-1,2,1] has the largest sum

[2022-10-02 05:49] ganesh-utla commented on #6519
Please assign me to this task..

[2022-10-02 06:01] ganesh-utla opened #6520 "Minimum Path Sum | Dynamic Programming"
**Problem Statement:** Given a M x N `grid` filled with non-negative numbers, find a path from top left to bottom right, which minimizes the sum of all numbers along its path.
_Note: You can only move either down or right at any point in time_

**Input:** M x N grid
**Output:** Path with minimum sum of its numbers

**Eg:**
**Input:** `grid = [[1,8,1],
                    [2,6,9],

[2022-10-02 06:01] ganesh-utla commented on #6520
Please assign me to this task..

[2022-10-02 06:50] shreyasharma6602 opened #6527 "Group Anagrams | String"
Problem Statement: Given a list of strings, group all the anagrams together. If there are no anagrams return [].
Input: ['could', 'cloud', 'areas', 'arena', 'artsy', 'grips', 'hello', 'parts', 'prigs', 'strap', 'traps']
Output: [['cloud', 'could'], ['grips', 'prigs'], ['parts', 'strap', 'traps']]

[2022-10-02 07:01] Kishore-abhimanyu commented on #6527
Can you assign it to me?

[2022-10-02 07:04] sofezticated-gentleman commented on #6513
hey @umangtank i am trying to merge my pr and i have satisfied most of the requirements but theres an problem
what is a test file exactly is it a doc string or a file dedicated to test only?
please help me out, I am a newbee

[2022-10-02 07:15] sofezticated-gentleman commented on #6513
my code look like this

    def binary_search(array: list, lower_bound: int, upper_bound: int, value: int) -> bool:
        """
        This function carries out Binary search on a 1d array
        Array: A 1d sorted array
        lower_bound: the lowest index for the binary search algorithm
        upper_bound: the highest index for the binary search algorithm
        value : the value ment to be

[2022-10-02 07:26] sofezticated-gentleman commented on #6513
ok I think so I have done all the required changes, my pr is awaiting for a review @umangtank please do the needful, just wanted to mention that am making this pr under hactoberfests festival

[2022-10-02 07:39] #6514 closed

[2022-10-02 08:42] Kishore-abhimanyu commented on #6527
#https://github.com/TheAlgorithms/Python/pull/6530#issue-1393683316
This PR will close this issue

[2022-10-02 08:55] sofezticated-gentleman commented on #6513
there were some minor typos I have resolved them so @umangtank please do the needful

[2022-10-02 09:00] dhruvmanila commented on #6491
I think this belongs to https://github.com/TheAlgorithms/algorithms-keeper. Can you please open this issue there with more description as to what the problem is and which PR are you referring to?

[2022-10-02 09:00] #6491 closed

[2022-10-02 11:31] syedjafer opened #6537 "Binary Insertion Sort | Sort"
Implementation of binary insertion sort

[2022-10-02 12:18] jaygala223 commented on #6537
I would like to work on this

[2022-10-02 12:47] cclauss commented on #6519
We gots lots of em https://github.com/TheAlgorithms/Python/search?q=subarray

[2022-10-02 14:50] #6519 closed

[2022-10-02 15:21] syedjafer commented on #6537
I have already created a PR before you :)

[2022-10-02 15:31] paraggoyal28 opened #6549 "Unbounded Knapsack problem"
### Feature description

Given a knapsack weight W and a set of n items with certain value vali and weight wti, we need to calculate the maximum amount that could make up this quantity exactly. This is different from [classical Knapsack problem](https://www.geeksforgeeks.org/dynamic-programming-set-10-0-1-knapsack-problem/), here we are allowed to use unlimited number of instances of an item.

Exa

[2022-10-02 15:31] paraggoyal28 commented on #6549
I want to work on this issue. Please assign this to me!

[2022-10-02 16:10] Chaitanya134 opened #6551 "Add XGBoost Model"
### Feature description

There are many commonly used machine learning models already present but there is no implementation of the xgboost model present.

Implement:
1) XGBClassifier - for classification tasks
2) XGBRegressor - for regression tasks

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-02 18:10] yogesh-9999 commented on #6537
!assign

[2022-10-02 18:10] yogesh-9999 commented on #6551
!assign

[2022-10-02 18:10] yunghog opened #6562 "Script to split bills among a group equally"
### Feature description

Python program to split bills equally among a group. It should that take induvidual contribution to the bill paid as input and output who owes how much to whom.

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-02 18:12] Rhuancpq opened #6563 "SumSet | Maths"
### Feature description

Add the algorithm for SumSet, also called Minkowski Sum, to sum two subsets, the definition can be read at [WikiPedia](https://en.wikipedia.org/wiki/Sumset)

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-02 20:16] itsshivamsrivastava commented on #6562
Hello, Sir!
I'm interested in solving this issue. Can you please give me a chance to solve this issue?
And, also please explain the issue in detail.

Thank You

[2022-10-02 22:47] happiestbee commented on #6563
I would like to work on this feature

[2022-10-03 00:28] Rahul664 commented on #6520
Hi @ganesh-utla,
I believe this program already exists [here](https://github.com/TheAlgorithms/Python/blob/master/dynamic_programming/minimum_cost_path.py) . You can close the issue.

[2022-10-03 04:15] OmAvhad commented on #6563
I would also love to contribute to it

[2022-10-03 04:16] OmAvhad commented on #6563
@Rhuancpq can you please add hacktoberfest label to it , it would help us in the fest

[2022-10-03 06:10] Razafridi commented on #6479
i woukd like to cintribute in this issue. Please assign that to me..

[2022-10-03 08:29] rajat-se commented on #5081
I can help you with machine learning. assign it to me

[2022-10-03 12:06] itsshivamsrivastava commented on #6562
Hello, Sir!
I have solved this issue of split bills among a group equally. Please check it out and let me know ASAP. And, if you think it is correct, please merge this PR. And, please help me to increase PR Point in Hacktoberfest by marge this PR request.

Thank You

[2022-10-03 17:12] anshumanbehera27 commented on #6563
I would also love to contribute to the Minkowski Sum problem I have already created  this so it is more beneficial if you give me the information to add the algorithm  to this project
@Rhuancpq  can you plz allow me to do this project

[2022-10-03 18:08] HuzaifaNaseer02 commented on #6562
Hi, I would like to work on this issue can you assign me this issue? Thanks

[2022-10-03 18:09] HuzaifaNaseer02 commented on #6479
Hi, I would like to contribute to this. Pleas assign me this issue. Thanks

[2022-10-03 20:38] anilkumar3313 commented on #6527
can you assign to me

[2022-10-04 01:57] sangwani-coder opened #6631 "Lockboxes"
### Feature description

### Problem
You have `n` number of locked boxes in front of you. Each box is numbered sequentially from `0 to n - 1` and each box may contain keys to the other boxes.

Write a method that determines if all the boxes can be opened.
- A key with the same number as a box opens that box
- You can assume all keys will be positive integers
     - There can be keys that do not ha

[2022-10-04 01:58] sangwani-coder commented on #6631
please assign me to this task.

[2022-10-04 05:51] zaki-indra commented on #6631
I would like to work on this feature

[2022-10-04 06:23] Manav39 commented on #6479
please assign me this issue

[2022-10-04 06:52] deepalithakur17 commented on #6479
I can do it sir . May you please assign it to me.

[2022-10-04 07:01] deepalithakur17 commented on #6511
I can do it sir , please assign this task to me.

[2022-10-04 08:48] Kumar-laxmi opened #6641 "Rotate Linked List"
### Feature description

I would like to work on an algorithm in which a Linked List is given and we have to rotate it by 'x' places to right.

For Example:
![image](https://user-images.githubusercontent.com/76027425/193776081-e48532d3-d998-402d-9002-d915a93ebb4d.png)

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-04 08:49] Kumar-laxmi commented on #6641
Kindly assign this issue to me

[2022-10-04 13:24] hemantwasthere commented on #6641
May i work on this issue

[2022-10-04 13:26] Kumar-laxmi commented on #6641
Sorry @hemantwasthere, the work has already begun on this issue, kindly look for other issues that are stale for long time

[2022-10-04 14:52] abhijeet-crypto commented on #6511
i want to work on this please assign it to me.

[2022-10-04 20:47] cclauss opened #6675 "Why do new pull requests have no labels"
### Feature description

@dhruvmanila Did the keeper bot get disabled?!?

### Would you like to work on this feature?

- [ ] Yes, I want to work on this feature!

[2022-10-05 00:37] dhruvmanila commented on #6675
I'm out of town right now, will take a look at it once I'm back.

[2022-10-05 01:04] #6520 closed

[2022-10-05 06:31] KimtVak8143 opened #6687 "0/1 Knapsack Problem | Branch and Bound"
### Feature description

I want to add a new section for Branch and Bound algorithms.
Additionally, I want to solve 0/1 Knapsack problem.

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-05 06:48] jaygala223 opened #6689 "Majority Element"
### Feature description

The majority element is the element that appears more than ⌊n / 2⌋ times in an array. One may assume that the majority element always exists in the array.

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-05 07:27] jaisinha opened #6692 "Want to add WildCard Pattern Matching in D.P"
### Feature description

This is a leetcode hard problem in dynamic problem.I will give a detail solution with documentation of this code

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-05 08:36] ratansen commented on #6511
I want to work on this sir, please assign it to me.

[2022-10-05 08:38] ratansen commented on #6518
I want to write a clean and intuitive algorithm for this. Please assign it to me.

[2022-10-05 10:33] #6095 closed

[2022-10-05 10:35] poyea commented on #6692
There's an existing [version of it](https://github.com/TheAlgorithms/Python/blob/master/strings/wildcard_pattern_matching.py). Please make sure it's not a duplicate. Otherwise feel free to improve the current version!

[2022-10-05 12:06] Pymode-Dev commented on #6527
Can you assign this to me?

[2022-10-05 13:20] anilkumar3313 commented on #6527
I completed it already

[2022-10-05 15:56] Sounakray2003 commented on #6511
I would like to contribute

[2022-10-05 16:33] #6687 closed

[2022-10-05 16:38] jaygala223 commented on #6689
Hello Sakshi, appreciate your interest. However, I have already submitted a
Pull request for the same. Feel free to take a look at some other issues.
Thanks.

On Wed, 5 Oct, 2022, 21:13 Sakshi Agarwal, ***@***.***> wrote:

[2022-10-05 18:35] KoolAbhi03 opened #6727 "I want to add How to text processing step by step in Natural Language Processing(NLP)"
### Feature description

In Natural Language Processing, first, we need to convert the text or line in such a way that is meaningful to the model that needs to be trained.
I made a python Notebook to guide everyone through all the steps that needed to be done.

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-05 18:46] jaisinha opened #6728 "Want to add min max element in a vector using divide and conquer"
### Feature description

I want too add the minimax solution in your repo

### Would you like to work on this feature?

- [ ] Yes, I want to work on this feature!

[2022-10-05 18:46] swapnil-23 commented on #6479
I want to work on this problem. Can you please assign this task to me

[2022-10-06 03:50] happiestbee commented on #6728
I can work on this

[2022-10-06 05:41] Pratham16121 commented on #6518
Please assign me the task

[2022-10-06 09:09] JaniniRami opened #6749 "Add simple neural network built from scratch."
### Feature description

A simple neural network built without any machine learning libraries and only with numpy.

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-06 15:43] dhruvmanila commented on #6675
I'm not sure what happened, but it seems that the server went down for a while. GitHub was receiving 404 response for every webhook it was sending during that period. I can't see the logs as lots of things have already happened and those logs are not available due to the limitation on the free tier. I am looking for alternatives, but will try to monitor during this month.

Closing this as the serv

[2022-10-06 17:17] AshwiniDR1802 commented on #6727
I want to contribute

[2022-10-06 17:19] AshwiniDR1802 commented on #6641
i want to work on this issue

[2022-10-06 17:21] AshwiniDR1802 commented on #6551
i want to work on this issue

[2022-10-06 23:42] AdemolaAri commented on #5943
Hi, I can work on this

[2022-10-07 05:07] mohanty2003 commented on #6641
May i work on this issue ?

[2022-10-07 05:10] mohanty2003 commented on #6537
may i work on this issue

[2022-10-07 06:44] crownedgrouse opened #6786 "Title of project"
### Remark

"All algorithms implemented in Python"

Algorithms are algorithms, they are not "implemented" in any Language.

"All" is a bit pretentious, as algorithm is not a finite group of things.

You certainly meant "Python implementation of algorithms"

[2022-10-07 12:27] Sounakray2003 commented on #6631
Yes, I want to work on this feature!

[2022-10-07 13:14] rissh opened #6795 "Search in 2D matrix"
### Feature description

Wanted to add a solution for Searching for an element in a 2D matrix using Binary search.

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-07 13:16] rissh opened #6797 "Set Matrix Zeroes"
### Feature description

Wanted to add a solution for Set matrix zeroes.

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-07 13:18] rissh commented on #6795
I want to contribute to this repository, please assign this issue to me.

[2022-10-07 14:21] KajalBhatia24 commented on #6795
Hello, I want to work on this issue, Can you please assign this task to me?

[2022-10-07 14:25] KajalBhatia24 commented on #6727
Hello, I would like to acknowledge you that I have expertise in this domain of NLP . I can contribute to my best in this issue. Can you please assign this task to me?

[2022-10-07 14:26] Dayanand07 commented on #6551
Hello, I would like to acknowledge you that I have expertise in this domain . I can contribute to my best in this issue. Can you please assign this task to me?

[2022-10-07 14:28] KajalBhatia24 commented on #6479
Hello,
I can contribute to my best in this issue. Can you please assign this task to me?

[2022-10-07 14:29] Dayanand07 commented on #6479
Hello, I would like to contribute in this issue. Please assign me this issue.

[2022-10-07 14:48] RohitShah1706 commented on #6795
I can solve this issue in the least time complexity.
Please assign this issue to me.

[2022-10-07 14:50] RohitShah1706 commented on #6513
I have a more efficient solution, please assign this issue to me.

[2022-10-07 14:59] aryan2909 opened #6800 "Pose Detection"
### Feature description

Creating a pose detection system using python and mediapipe

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-07 14:59] aryan2909 commented on #6800
sir i would like to work on this !

[2022-10-07 15:05] #6800 closed

[2022-10-07 15:27] anjisnu07 commented on #6795
Hey buddy assign me for this

[2022-10-07 15:28] hussainiftikhar5242 commented on #6797
PLease Assign this task to me.

[2022-10-07 15:31] hussainiftikhar5242 commented on #6795
Please assign this task to me.

[2022-10-07 15:36] hussainiftikhar5242 commented on #6537
Please assign this issue to me, i can solve it.

[2022-10-07 16:17] Kevinsam-Tiny commented on #5081
I can work on it. Please assign it to me

[2022-10-07 16:31] SrijaMarripelli commented on #6479
hello please assign this to me

[2022-10-07 18:13] hussainiftikhar5242 commented on #6479
Hi Buddy, plz assign it to me, i want to contribute on it.

[2022-10-07 18:29] saatvik25 commented on #6795
Hello sir,I want to contribute to this repository, please assign this issue to me.

[2022-10-07 18:32] Swarax007 commented on #6479
Hey, I would like to contribute, please assign me this issue.

[2022-10-07 19:57] AbdurRKhalid commented on #6641
I think that the work has already been assigned to someone else and it is a easy and not so interesting task, and I also hope that there will be many tasks that will be more interesting than this one.

[2022-10-07 23:55] het-dave commented on #6797
Please assign this task to me. I know the algorithm for Set Matrix Zeroes.

[2022-10-08 05:09] naman5825 commented on #6479
hey I would like to contribute,please assign me this issue.

[2022-10-08 05:10] naman5825 commented on #6478
hey I would like to contribute please assign me this issue.

[2022-10-08 05:11] naman5825 commented on #6797
hey I would like to contribute please assign me this issue.

[2022-10-08 06:05] janvi213 commented on #6795
Please assign this task to me.

[2022-10-08 06:10] DeepakKabdwal commented on #6479
I would love to contribute, can this issue be assigned to me.

[2022-10-08 07:29] RohitSingh107 commented on #6511
Please assign this to me, I will do not only time complexity optimized but also space optimized dp solution as well.

[2022-10-08 08:22] SiddhiKhade commented on #6479
Hi, I would like to contribute to this. I would really appreciate it if you assign this to me, thanks!

[2022-10-08 08:27] SiddhiKhade commented on #6537
Hi, I would like to contribute to this. I would really appreciate it if you assign this to me, thanks!

[2022-10-08 09:51] #6749 closed

[2022-10-08 10:11] tinshu48 commented on #6797
Hello Sir, can you assign this issue to me?

[2022-10-08 12:03] neelesh08 commented on #6479
!assign

[2022-10-08 14:31] syedjafer commented on #6537
I have already created the PR #6540 .

[2022-10-08 14:36] yoBoyio commented on #6786
Hello can you assign me this one ?

[2022-10-08 15:18] SusavanMondal commented on #6479
Hello,
I can contribute to my best in this issue. Can you please assign this task to me?

[2022-10-08 15:30] Anubhav016 commented on #6537
Hello Sir, can you please assign this assign to me?

[2022-10-08 16:59] SoumiK-777 commented on #6562
Hello @yunghog sir,
I am interested to solve this issue. Please assign it to me.

[2022-10-08 17:21] SoumiK-777 commented on #6479
Hello,
I am interested to solve this issue. Please assign it to me.

[2022-10-08 17:33] Abdulwahid7027 commented on #6479
Hello, I would like to contribute, please assign me this issue.

[2022-10-08 17:36] Abdulwahid7027 commented on #6537
Hello, I would like to contribute, please assign me this issue.

[2022-10-08 22:42] Sunnyvats01 commented on #6563
I would like to work on this feature

[2022-10-08 22:43] Sunnyvats01 commented on #6537
I would like to work on this

[2022-10-09 06:12] techysubham commented on #6479
Hello, I am interested to contribute, please assign me this issue.

[2022-10-09 06:29] srusti610 commented on #6795
Kindly assign me this issue .I would like to contribute.

[2022-10-09 09:21] Visha17 commented on #6786
Hia,Can u assign me this cos i am a newbie in hacktoberfest!!

[2022-10-09 10:05] SohamPashteSSP commented on #6479
Hey, I am interested for contibuting to this problem, please assign it to me

[2022-10-09 10:37] yunghog commented on #6562
I have already raised a PR for this issue

[2022-10-09 11:11] ANANTstudent commented on #6786
greeting to manager can you assign this issue to me?

[2022-10-09 11:50] FrancisBilla commented on #6797
Hello, Can you assign this issue to me?

[2022-10-09 12:49] Subhajit-Roy-O1 commented on #6797
Please assign this task to me.

[2022-10-09 13:18] Himanshi031 commented on #6479
I would like to contribute for this issue, please assign it to me.

[2022-10-09 17:05] AryamanAdivyaSingh47 commented on #6479
Hello Sir, Please assign this issue to me

[2022-10-09 17:07] AryamanAdivyaSingh47 commented on #6728
Hello Sir/Ma'am, I would like to contribute to this issue. Please assign it to me

[2022-10-09 17:08] AryamanAdivyaSingh47 commented on #6478
Please assign this issue to me

[2022-10-09 17:09] AryamanAdivyaSingh47 commented on #6478
Do we directly pull and work on it without waiting for the owner to assign?

[2022-10-09 17:25] Subhajit-Roy-O1 commented on #6510
Hey.. Can you assign this problem to me

[2022-10-09 17:29] MasterofDeath0 commented on #6641
Can I work on this I know this code pretty well and can even explain it using comments properly?

[2022-10-09 17:47] MasterofDeath0 commented on #6479
I would like to contribute for this issue, please assign it to me.

[2022-10-09 19:20] ShuvamBag commented on #6479
Hello sir please assign this work to me. I am a python coder.

[2022-10-09 19:22] ShuvamBag commented on #6478
hello sir, I want to work on this issue.

[2022-10-09 19:23] ShuvamBag commented on #6479
hello sir, I want to work on this issue.

[2022-10-09 19:58] srajansohani commented on #6479
Hi, I want to work please assign this task to me

[2022-10-09 20:22] akashagrawalgithub opened #6888 "Want to contribute some of the Top companies interview Question"
### Feature description

I want to contribute some of the top companies' interview questions so that users can get a glimpse of the question asked in the interview and their possible solutions

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-10 00:37] gmmkmtgk opened #6889 "Stock Price Prediction Algorithms"
### Feature description

Wanted to add Stock Price Prediction Algorithms

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-10 04:31] Harshita781 commented on #6888
I want to work for this feature.

[2022-10-10 09:15] Tjay320 opened #6898 "https://m.facebook.com/tonna l garfield"
https://github.com/sherlock-project/sherlock/blob/master/.github/workflows/pull_request.yml

[2022-10-10 09:16] ShubhamJagtap2000 opened #6899 "Wanted to add files in OpenCV"
### Feature description

I wanted to add files about SLAM and other mapping algorithms.

### Would you like to work on this feature?

- [x] Yes, I want to work on this feature!

[2022-10-10 12:46] Samrat-14 opened #6910 "Create a menu driven base converter"
### Feature description

**Issue for Hacktoberfest**

A program to create a menu driven base converter that takes the input base, output base and an input number, and then converts the input number into the base provided by the user.

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-10 12:47] Samrat-14 commented on #6910
Can you please assign this to me?

[2022-10-10 12:55] Mysterious786 opened #6911 "CAT BOOST"
### Feature description

Perhaps the newest, with updates frequently as it becomes more popular, is CatBoost. This machine-learning algorithm is especially useful for data scientists who are dealing with data that is categorical. You can think of the benefits of Random Forest and XGBoost algorithms, and apply most of them to CatBoost, while also reaping even more benefits.

Here are the main benef

[2022-10-10 12:58] CodeXstalker opened #6913 "Missing solution to Median of two Sorted Arrays"
HI @TheAlgorithms
 I want  to add the missing solution to the problem for `Median of two sorted arrays` in the math file.

### Would you like to work on this feature?

- [x] Yes, I want to work on this feature!

[2022-10-10 13:00] CodeXstalker commented on #6913
@TheAlgorithms please assign this issue to me.

[2022-10-10 13:16] CenTdemeern1 opened #6916 "`maths\jaccard_similarity.py` does not validate input and can divide by zero"
### Repository commit

51dba4d743cd2c8d407eea3e9cd4e7b2f69ee34d

### Python version (python --version)

Python 3.10.2

### Dependencies version (pip freeze)

pip==22.2.2
setuptools==60.10.0
wheel==0.37.1

### Expected behavior

According to `CONTRIBUTING.md`, a `ValueError` should be raised in the case of erroneous input.
![image](https://user-images.githubusercontent.com/24682280/194873800-0f430e

[2022-10-10 15:15] CoderRounak commented on #6916
what do you want to return from the function when the length of union set is 0 ?
assign me i will add a validating condition

[2022-10-10 15:23] mohitkumar36 opened #6917 "I want to add an algorithm to find the longest valid parenthesis."
### Feature description

I want to add an algorithm to find the longest valid parenthesis, when a string of parenthesis is given to you.

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-10 15:34] AryanMankame commented on #6917
can i work on this issue?

[2022-10-10 15:37] Atharva1520 commented on #6917
Sir, Can I Work on It?

[2022-10-10 15:37] CenTdemeern1 commented on #6916
That commit does not solve the issue!

[2022-10-10 15:38] Atharva1520 commented on #6797
Sir,Please Assign this task to me?

[2022-10-10 15:38] tejas-veer commented on #6917
I would like to contribute

[2022-10-10 15:54] swadhin1237 commented on #6518
please assign me i already have solution for this

[2022-10-10 17:24] Madara909 commented on #6797
lease assign this issue to me.... please

[2022-10-10 17:36] yunghog opened #6924 "Some algorithms in this repo are not algorithms rather a whole python script that takes some input and gives an output"
### Feature description

Some algorithms in this repo are not algorithms rather a whole python script that takes some input and gives an output. Like webscrapping scripts. Cleanup need to be done perhaps

### Would you like to work on this feature?

- [ ] Yes, I want to work on this feature!

[2022-10-10 19:10] tejas-veer commented on #6917
Yes u can
It will be mentor choice to choose algorithm 🤗

On Mon, Oct 10, 2022, 21:11 Atharva Patil ***@***.***> wrote:

[2022-10-10 19:15] tejas-veer commented on #6899
Can u give more infi

[2022-10-10 20:48] MatheusMuriel opened #6950 "Include the Sleep Sort"
### Feature description

Include the Python implementation of sleep sort

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-10 20:56] MatheusMuriel commented on #6950
https://github.com/TheAlgorithms/Python/pull/6951

[2022-10-10 21:18] Moddy2024 commented on #6551
Hi @Chaitanya134  I have created a PR for both of these tasks please review it.  The PR is #6956

[2022-10-11 05:13] SusavanMondal commented on #6563
Hello, I am interested to solve this issue. Please assign it to me

[2022-10-11 05:14] SusavanMondal commented on #6510
Hello, I am interested to solve this issue. Please assign it to me

[2022-10-11 05:14] SusavanMondal commented on #6511
Hello, I am interested to solve this issue. Please assign it to me

[2022-10-11 06:20] yash509 commented on #6950
Yes, I want to work on this feature!

[2022-10-11 06:31] Sumitpathak721 commented on #6917
Hi @mohitkumar36 , I have efficient approach for this problem and I genuinely want to work on this part. Please assign me for this issue.

[2022-10-11 06:36] Sumitpathak721 commented on #6795
Hi @rissh , Its my pleasure if you assign me for this. I'll definitely  give my best approach to solve this is issue.

[2022-10-11 07:04] BlackChainLife commented on #5916
已收到！

[2022-10-11 07:18] AbhishekCS3459 opened #6977 "I want to add the Floyd's loop detection algorithm & algo to find maximum area in histogram"
### Feature description

@darkstar You can assign me to solve the above issue I had better way to solve these algorithms

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-11 07:50] kondekarshubham123 opened #6979 "I have added the solution for height of Binary tree problem"
### Feature description

**Question:**
Given the root of a binary tree, return its maximum depth.
A binary tree's maximum depth is the number of nodes along the longest
path from the root node down to the farthest leaf node.

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-11 07:50] kondekarshubham123 commented on #6979
PR #6923 raised for same feature.

[2022-10-11 07:56] kondekarshubham123 opened #6980 "[Binary Tree] I have added the solution for different views of binary tree."
### Feature description

**Problem:**
Given root of binary Tree, print the

binary-tree-right-side-view
binary-tree-left-side-view
binary-tree-top-side-view
binary-tree-bottom-side-view

[code]

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-11 07:57] kondekarshubham123 commented on #6980
PR #6965  Added

[2022-10-11 08:02] kondekarshubham123 opened #6981 "[Matrix] I have added the solution for Max area of island problem"
### Feature description

**Problem**
Given an m x n binary matrix grid. An island is a group of 1's
(representing land) connected 4-directionally (horizontal or vertical.)
You may assume all four edges of the grid are surrounded by water.
The area of an island is the number of cells with a value 1 in the island.
Return the maximum area of an island in grid.
If there is no island, return 0.

### Wo

[2022-10-11 08:03] kondekarshubham123 commented on #6981
Added PR #6918 for same problem

[2022-10-11 08:45] bhavya-sharma26 commented on #6981
Hi , can you assign this task to me?
It will be very thankful from your side

[2022-10-11 09:29] mohan89en commented on #6980
Hello Sir, Can you please assign this issue to me as I have studied DataStructures in last sem and this would be like a practice for me.

[2022-10-11 09:32] mohan89en commented on #6979
Hello Sir, Can you assign me this issue.  I would be grateful to solve it:)

[2022-10-11 09:34] mohan89en commented on #6950
Yes, I want to work on this feature!

[2022-10-11 09:54] mohan89en commented on #6979
Yes, I want to work on this feature!

[2022-10-11 10:46] CenTdemeern1 commented on #6981
I don't think this issue is needed.
Also, please ignore assign beggars like @bhavya-sharma26

[2022-10-11 10:47] CenTdemeern1 commented on #6979
Plelase see https://github.com/TheAlgorithms/Python/issues/6981#issuecomment-1274490860

[2022-10-11 10:49] CenTdemeern1 commented on #6980
See https://github.com/TheAlgorithms/Python/issues/6981#issuecomment-1274490860

[2022-10-11 12:10] Rhuancpq commented on #6563
Actually I'll work on this issue...

[2022-10-11 13:26] kondekarshubham123 commented on #6981
Okay sure @CenTdemeern1, in future contribution I will take care of your suggested points.

Thanks for guidance!

[2022-10-11 13:27] kondekarshubham123 commented on #6979
okay

[2022-10-11 15:02] Devansh-46 commented on #6924
I would like to work on this feature

[2022-10-11 16:06] Arka-max commented on #6641
Kindly assign this issue to me

[2022-10-11 16:07] Arka-max commented on #6518
please assign this task to me

[2022-10-11 16:56] deepakchowdary19 commented on #6549
can you assign this issue to me

[2022-10-11 16:59] deepakchowdary19 commented on #6510
it would be great if  i made my first pr by contributing to this, can you assign this to me

[2022-10-11 17:17] rakesh-venkata commented on #6797
can you assign this to me

[2022-10-11 17:19] rakesh-venkata commented on #6478
Please assign to me.As it is Binary search related problem,I can solve it easily.

[2022-10-11 17:33] KetanSadheora opened #7007 "I want to add bloch sphere to quantum"
### Feature description

the Bloch sphere is a geometrical representation of the pure state space of a two-level quantum mechanical system, qubit using U Gates.

### Would you like to work on this feature?

- [x] Yes, I want to work on this feature!

[2022-10-11 17:33] KetanSadheora opened #7008 "I want to add bloch sphere to quantum"
### Feature description

the Bloch sphere is a geometrical representation of the pure state space of a two-level quantum mechanical system, qubit using U Gates.

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-11 17:35] CaedenPH opened #7010 "Delete broken file"
### Feature description

In the [cyphers directory](https://github.com/TheAlgorithms/Python/tree/master/ciphers), there is a weird file called `prehistoric_men.txt`.
I don't think this is intentional

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-11 17:41] CaedenPH opened #7012 "The ability to create an issue that isn't a feature or a bug"
### Feature description

For a miscellaneous feature, such as #7010, that doesn't fit into either feature or bug template, it could be an idea to implement a miscellaneous issue template.

### Would you like to work on this feature?

- [ ] Yes, I want to work on this feature!

[2022-10-11 20:17] CaedenPH opened #7020 "Sum of binary tree nodes"
### Feature description

[code]
The output would be `3+9+20+15+7`

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-11 20:44] nfarhaan commented on #7020
Hello,
Can you assign this issue to me?

[2022-10-11 20:52] nfarhaan commented on #6537
Hello,
Can you assign this issue to me?

[2022-10-11 21:00] nfarhaan commented on #5999
Hello,
Can you assign this issue to me?

[2022-10-11 21:00] nfarhaan commented on #5945
Hello,
Can you assign this issue to me?

[2022-10-11 21:02] nfarhaan commented on #4773
Hello,
Can you assign this issue to me?

[2022-10-11 21:03] nfarhaan commented on #6916
Hello,
Can you assign this issue to me?

[2022-10-12 05:26] amishachaurasiya commented on #6888
I want to work for this feature.

[2022-10-12 05:53] lumi232 commented on #7010
Please assign me this issue.

[2022-10-12 07:14] priti252 commented on #7010
Yes, I want to work on this feature!

[2022-10-12 07:18] aakash27032001 commented on #6727
Hello, I would like to tell you that I possess expertise in Natural Language Processing (NLP) and I would like to contribute to this issue. It is my humble request to please assign this task to me.

[2022-10-12 07:21] Akashhpatil commented on #7020
I would like to work on this issue!

[2022-10-12 07:26] aakash27032001 commented on #6917
Hi, I would like to tell you that I have expertise in python and I can propose an efficient solution for this problem. It is my request to please assign this task to me.

[2022-10-12 08:01] rydanstar01 commented on #6537
I have generated a PR to solve this issue #6806. Kindly review it.

[2022-10-12 08:39] lusifer021 commented on #6727
Hello I would like to contribute to this.

[2022-10-12 08:40] carlos3dx opened #7028 "Convert snake_case to camelCase or PascalCase"
### Feature description

An algorithm that given a string formatted as snake_case returns it as camelCase or PascalCase depending on Boolean parameter.

Examples:

`def snake_to_camel_case(input: str, use_pascal: bool = False) -> str`
`snake_to_camel_case('some_string_in_snake_case') -> 'someStringInSnakeCase'`
`snake_to_camel_case('some_string_in_snake_case', True) -> 'SomeStringInSnakeCase'`

##

[2022-10-12 08:40] carlos3dx commented on #7028
Please assign it to me, I have almost finished it

[2022-10-12 09:13] PremSundarB commented on #7020
Hey I would love to work on this issue !

[2022-10-12 10:58] rahulranjan74 opened #7035 "Want to add space invader game made from Python"
### Feature description

made using pygame
important png files will be added

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-12 11:23] CaedenPH opened #7038 "Add pep8-naming additional dependency to pre-commit"
### Feature description

Add the `pep8-naming` dependency to `pre-commit` and fix all files.

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-12 11:24] CaedenPH commented on #7038
Typo

[2022-10-12 11:42] MohammadRehanPatel opened #7042 "Add Exponential Search in Search folder"
### Feature description

assign me with Hacktoberfest tag please

### Would you like to work on this feature?

- [ ] Yes, I want to work on this feature!

[2022-10-12 11:53] UTKARSHMOHAN2003 commented on #7020
SIE ASSIGN ME

[2022-10-12 12:03] AbrarAhmed3 commented on #7020
I would like to work on this issue!
Can you assign this issue to me?

[2022-10-12 12:26] CenTdemeern1 commented on #6916
No, go away, spambot.

[2022-10-12 13:18] aryan-1311 commented on #7020
Hi, I would like to work on this issue.
Assign it to me.

[2022-10-12 14:47] gopal8220 commented on #6795
I want to solve this issue . Please assign me.

[2022-10-12 14:51] Go3452 commented on #6795
sir , can you plz assign me this issue?

[2022-10-12 16:24] imnisi commented on #6795
Hello Sir! could you please assign this issue? I would love to solve this issue and give my contribution.
Thank You!

[2022-10-12 16:37] imnisi commented on #6527
Hello Ma'am! could you assign this issue this to me? I would love to solve this problem.
Thank You

[2022-10-12 16:40] imnisi commented on #5923
Hello Kunal! Could you assign this issue to me? I would love to solve this issue.
Thank You

[2022-10-12 16:57] cclauss commented on #6950
#2352

[2022-10-12 16:57] #6950 closed

[2022-10-12 17:15] imnisi commented on #7020
Hii @CaedenPH! Could you assign this issue to me? I would love to solve this issue.
Thank You

[2022-10-12 17:54] sukhmani1303 commented on #7035
hey @rahulranjan74 !
I would love to contribute to the open-source community, allow me to add to this repository and to my first git PR 😄.
Also, I would request you to label it as Hacktoberfest.

Regards,

[2022-10-12 18:37] upadhyay8844 commented on #6479
Please assign this issue to me !!!

[2022-10-12 19:22] Arko27 commented on #7028
can you please assign this task to me. I would be glad to contribute in this repo.

[2022-10-12 19:23] Arko27 commented on #6913
please assign this task to me.

[2022-10-12 20:34] CaedenPH opened #7069 "Project euler problem 104 broken"
### Feature description

Disable project euler problem 104

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-12 20:41] Isreal-ogbu commented on #6889
Yes, I want to work on this feature!

[2022-10-12 21:06] Moddy2024 commented on #6551
I have created two separate PR's for both classifier and the regressor. The PR is #7072 for XGBClassifier and  #7074 for XGBRegressor

[2022-10-13 00:01] Isreal-ogbu commented on #7042
I would like to work on this

[2022-10-13 02:36] huangderek02 commented on #7020
Hii @CaedenPH! Could you assign this issue to me? I would love to solve this issue.
Thank You

[2022-10-13 02:37] huangderek02 commented on #6889
Hello @gmmkmtgk I want to work on this issue

[2022-10-13 06:24] #7028 closed

[2022-10-13 07:01] AnishJoshi13 commented on #7069
I would like to work on this issue. Please assign it to me

[2022-10-13 07:33] cclauss commented on #7069
There is no assigning in this repository.  If you can fix it then please create a pull request.  If you and someone else both create pull requests then we can review them both and select the best one.  Waiting to be assigned it a waste of time.

[2022-10-13 08:35] Amisha2093 commented on #6980
Hello @kondekarshubham123.
Can you please assign this issue to me.

[2022-10-13 08:37] Amisha2093 commented on #6797
Hello @rissh.
Please assign this issue to me.

[2022-10-13 08:55] UTKARSHMOHAN2003 commented on #7042
assign me this issue i  want to  work on it

[2022-10-13 08:55] Amisha2093 commented on #6913
Please assign this issue to me.

[2022-10-13 09:11] Shubham74500 commented on #7020
Hii sir could you assign this issue to me.

[2022-10-13 10:58] Amisha2093 commented on #6888
I would like to work on this feature.

[2022-10-13 11:27] #7038 closed

[2022-10-13 11:28] CaedenPH opened #7104 "Add flake8-builtins to pre-commit and fix errors"
### Feature description

Add `flake8-builtins` to `pre-commit` and fix
Ensures code quality

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-13 12:30] drashan14 commented on #7020
Hello Sir/Mam,
I would like to do this job could you assign me this task.

[2022-10-13 12:30] drashan14 commented on #6980
Hello Sir ,
I would like to do this job could you assign me this task.

[2022-10-13 13:40] kituuu opened #7122 "System of linear equation in 2 variable."
### Feature description

I want to implement a new module inside the matrix ... To solve the System of linear equations in 2 variables using Cramer's Rule.

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-13 13:41] CaedenPH opened #7123 "Create config file for flake8"
### Feature description

Create config file such as `tox.ini` or `.flake8` and ignore certain error codes

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-13 14:26] #7123 closed

[2022-10-13 14:26] #7104 closed

[2022-10-13 15:07] CaedenPH opened #7127 "Flake8 plugins in pre-commit"
### Feature description

Certain flake8 plugins increase code quality.
Two of these plugins have been implemented so far, `pep8-naming` and `flake8-builtins`.
What other plugins should be implemented?

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-13 15:08] CaedenPH commented on #7127
@cclauss @dhruvmanila

[2022-10-13 15:18] cclauss commented on #7127
Maybe docstrings?  https://github.com/PyCQA?q=flake8-  But I am sure a ton of existing files do not have docstrings.

Also like flake8-2020, flake8-bugbear, flake8-comprehensions, flake8-return, flake8-simplify but...  we need to be careful not to go overboard and make contributors too angry to fix all the nits.

[2022-10-13 15:20] CaedenPH commented on #7127
Personally I would go for `flake8-bugbear`, docstrings would be a hell of a jump

[2022-10-13 15:26] cclauss commented on #7127
Simplify and comprehensions come up with some quite useful suggestions.

Return is helpful for beginners but they have a few errors that I do not agree with.

[2022-10-13 15:29] CaedenPH commented on #7127
Can I make a pull request implementing `flake8-bugbear`?

[2022-10-13 20:01] CaedenPH opened #7135 "Binary tree path sum"
### Feature description

https://leetcode.com/problems/path-sum-iii/

Sum of paths in a binary tree

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-14 01:23] DIvkov575 opened #7139 "Fluid Dynamics (Physics)"
### Feature description

Adding Bernouli's, Torricelli's, + other associated with fluids.

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-14 01:28] Sritam28 commented on #7122
Please, assign me this, I want to work on this.

[2022-10-14 04:06] anuragshuklajec commented on #7020
Hii @CaedenPH! Could you assign this issue to me ?

[2022-10-14 04:57] SaurabhBudhwani26 commented on #7020
Hi @CaedenPH , I would love to work on this issue, can you please assign me this?

[2022-10-14 05:04] shyambaral commented on #7135
hey can i do

[2022-10-14 05:14] kituuu commented on #7122
Bro, I want to work on this that's why I CREATED THIS ISSUE 🥲🥲 I m not maintainer ... I m contributor.

[2022-10-14 05:15] kituuu commented on #7122
Please leave this, try other issues.

[2022-10-14 05:28] Prudhvi26102000 commented on #6511
Hello, I am ready with this solution and interested to solve this issue. Can you assign this to me?

[2022-10-14 11:27] DeiseCristiane commented on #6889
Quero trabalhar nesse recurso!

[2022-10-14 11:34] DeiseCristiane commented on #7020
Olá, quero contribuir com esse projeto.

[2022-10-14 12:08] Aniketmishra0 commented on #7135
Hello Sir,
Can You assign this issue to me?

[2022-10-14 12:11] gmmkmtgk commented on #6889
Go ahead if any body wants to contribute to this issue

[2022-10-14 12:55] dhruvmanila commented on #7069
@cclauss should the bot/workflow add a comment similar to what you just mentioned every time an issue is opened? I see people keep on asking to be assigned.

[2022-10-14 12:56] dhruvmanila commented on #7069
Also, @CaedenPH this seems like a bug, please use the bug template.

[2022-10-14 12:56] #7069 closed

[2022-10-14 13:00] shyambaral commented on #7135
ok solve it

[2022-10-14 13:03] shyambaral commented on #7020
hlo can i do that

[2022-10-14 13:05] Pavan0603 commented on #7135
Hello Sir,
Can You assign this issue to me?

[2022-10-14 13:39] alexpantyukhin opened #7172 "Levinstein distance Dynamic Programming: up -> down approach"
### Feature description

Just for demonstration of edit distnace for 2 strings: implement Dynamic Programming: up -> down approach

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-14 14:52] alexpantyukhin commented on #7172
The PR: https://github.com/TheAlgorithms/Python/pull/7171

[2022-10-14 15:03] ashutosh-gupta2111 commented on #7135
Hello Sir,
Can You assign this issue to me?

[2022-10-14 15:03] ashutosh-gupta2111 commented on #7020
Hello Sir,
Can You assign this issue to me?

[2022-10-14 15:05] ashutosh-gupta2111 opened #7173 "Dijkstra's Shortest Path Algorithm in Python"
### Feature description

To write the code of Dijkstra's Shortest Path Algorithm in python?

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-14 15:05] ashutosh-gupta2111 commented on #7173
Can you please assign me this issue.

[2022-10-14 15:14] aryan9042 commented on #7139
please assign to me

[2022-10-14 15:19] DIvkov575 commented on #7139
@aryan9042 I already have a pr for this.

[2022-10-14 17:00] CaedenPH commented on #7069
@dhruvmanila
The problem with the bug report template is that it wants python version and dependencies version for a problem that is just clearly broken. The checks have failed on it and therefore it has the `.FIXME` extension. This is technically a feature request because the bug has been fixed and now it's just a feature to either rewrite it or fix it

[2022-10-14 19:19] AdityaVerma32 commented on #7173
Hi, I would like to work on this.

[2022-10-14 22:24] cclauss commented on #7069
Yes please!  People waiting to be assigned drives me nuts!

[2022-10-14 23:44] CaedenPH commented on #7069
I thought most of the people commenting that are hacktoberfest bots?

[2022-10-15 05:46] cclauss commented on #7069
I am all for having our bot confuse their bot ;-)

[2022-10-15 06:24] cclauss opened #7211 "Assign each of our pytest warnings to the algorithm authors"
### Feature description

Pytest generates a lot of warnings that we should get resolved.  https://github.com/TheAlgorithms/Python/actions/runs/3254565205/jobs/5342967879#step:6:577

Go through each warning and look at the Python file to see who created it or modified it.  Create an issue asking the author(s) to fix the warning.  If they do not respond with a fix within seven days then find someone

[2022-10-15 06:51] dhruvmanila commented on #7069
If you would look closely, you'll realize that the Python version does matter when reproducing the bug as this is the cause of the error: https://docs.python.org/3/whatsnew/3.10.html#notable-security-feature-in-3-10-7 which was introduced in Python 3.10.7

By adding a random extension, the problem is just postponed and not fixed. So, this is not a feature request, but a bug which needs to be fixed

[2022-10-15 07:19] cclauss commented on #7069
As long as there is an issue opened to fix the disabling, I see no problem as long as there is significant value in disabling.

I asked @CaedenPH to disable one algorithm in this way and open a new issue to get it fixed.  This one algorithm was blocking a PR that @CaedenPH was working on that had 100+ files modified.  These kind of pull requests quickly raise conflicts on busy repos.

[2022-10-15 08:55] JainSamyak8840 commented on #7173
Hi, I wanted to work on this.

[2022-10-15 09:47] JainSamyak8840 opened #7216 "3D Grid Dynamic Programming: Memoization"
### Feature description

Feature description
To write the code on a 3D Dynamic Programming program on a grid using the memoization approach.

### Would you like to work on this feature?
- [x] Yes, I want to work on this feature!

[2022-10-15 09:50] JainSamyak8840 commented on #7216
I would like to work on this.

[2022-10-15 09:53] JainSamyak8840 opened #7217 "3D Grid Dynamic Programming: Tabulation"
### Feature description

### Feature description
To write the code on a 3D Dynamic Programming program on a grid using the tabulation approach.

### Would you like to work on this feature?
- [x]  Yes, I want to work on this feature!

[2022-10-15 09:53] JainSamyak8840 commented on #7217
I would like to work on this.

[2022-10-15 09:55] nfarhaan commented on #7135
Hello,
Can you assign this Issue to me?

[2022-10-15 11:22] aryan9042 commented on #7139
can you plaese suggest me any pr i'm new to this event kindly please help
thank you

[2022-10-15 12:23] harshithakolipaka commented on #6479
Hello, can you please assign this task to me !!

[2022-10-15 12:30] harshithakolipaka commented on #4901
hello, I would like to add the Bellmen Fords algorithm to this repository. Can you please assign this issue to me

[2022-10-15 12:49] harshithakolipaka commented on #7173
hey , can you please assign this task to me

[2022-10-15 14:15] CaedenPH opened #7233 "Add flake8-comprehensions to pre-commit"
### Feature description

Add `flake8-comprehensions` to `pre-commit` and fix errors

[2022-10-15 14:43] otavioabreu27 opened #7238 "Absolute Number Correspondence Conversion"
### Feature description

Given the starting number, the final number and a number between them generates a scale from 0 to a 100 and find the proportional correspondence value to the number in between.

[2022-10-15 14:43] otavioabreu27 commented on #7238
I want to work on this Feature!

[2022-10-15 16:18] iSumitBanik commented on #7211
So, we would be analyzing the warnings and create the issues manually.
Am I right?

[2022-10-15 16:51] nitingarg2207 commented on #7173
Hey can you assign this task to me

[2022-10-15 17:23] the-amitsingh commented on #7173
Heyy !!  I want to work on this, will you please assign me?

[2022-10-15 17:32] the-amitsingh commented on #7135
I would like to do this
so can you please assign me?

[2022-10-15 18:02] thunderbolt181 commented on #7173
Hey , can i work on this issue plz.

[2022-10-15 18:06] apoorvdtu commented on #7135
Hello Sir,
Can You assign this issue to me?

[2022-10-15 18:06] apoorvdtu commented on #7216
Hello Sir,
Can You assign this issue to me?

[2022-10-15 18:06] apoorvdtu commented on #7217
Hello Sir,
Can You assign this issue to me?

[2022-10-15 19:09] CaedenPH opened #7255 "Fail workflow if the algorithm doesn't include doctests"
### Feature description

Create a workflow to check if the algorithm in the pull request has doctests

[2022-10-15 19:34] CaedenPH opened #7259 "Add `doctest.testmod` to every file for easier testing"
### Feature description

Add this below to every file for easier file testing.
[code]
There is already a workflow to automatically check for doctests, however this provides better accessibility when testing specific files.
This issue is questionable so I'm open to conversation

[2022-10-16 05:43] dhruvmanila commented on #7259
I'm actually against this. I'm more of an opinion that a user would want to actually run the algorithm, so we could provide a minimal CLI for each algorithm using `argparse`. Any thoughts? @cclauss

The CI already takes care of running the `doctest` and if the user wants to run them, then can easily do so from the module CLI.

_Originally posted by @dhruvmanila in https://github.com/TheAlgorithms/

[2022-10-16 05:45] dhruvmanila commented on #7259
The command to run `doctest` on individual files:
[code]

[2022-10-16 07:00] rahultalukdargithub commented on #6795
Hii @rissh I really want to contribute in this issue . It will be my first pr if you assign me in this issue . please Sir !

[2022-10-16 07:12] specdrake commented on #7173
I'd like to work on this, can you please assign this issue to me? @ashutosh-gupta2111

[2022-10-16 07:34] cclauss commented on #7259
https://github.com/TheAlgorithms/Python/blob/master/.github/workflows/build.yml#L25 runs all doctests so this change is not needed.  Is should continue to be the right of each author to decide if these lines are in their files or not.

[2022-10-16 07:34] #7259 closed

[2022-10-16 07:50] Piyush5madhukar commented on #7135
i would like to contribute.

[2022-10-16 09:35] Ajit-007 commented on #7173
Hi, I want to work on this issue. Can you please assign me this issue?

[2022-10-16 10:15] kisan17 commented on #7173
hello sir,can you assign me this issue?

[2022-10-16 10:16] CaedenPH opened #7299 "[PYTEST WARNING] Horn schunk"
### Feature description

@skief @poyea Please could you resolve this warning
[code]

origin: #7211

[2022-10-16 10:17] CaedenPH opened #7300 "[PYTEST WARNING] Equal loudness filter"
### Feature description

@mart Please could you resolve this warning
[code]

origin: #7211

[2022-10-16 10:20] CaedenPH opened #7302 "[PYTEST WARNING] Decision tree"
### Feature description

@nbrgr @hrishi84 @cclauss Please could you resolve this warning
[code]

origin: #7211

[2022-10-16 10:23] CaedenPH opened #7305 "[PYTEST WARNING] Machine learning forecasting"
### Feature description

@nandiya Please could you resolve this warning
[code]

origin: #7211

[2022-10-16 10:25] CaedenPH opened #7307 "[PYTEST WARNING] Machine learning local weighted learning"
### Feature description

@venkateshtantravahi Please could you resolve this warning
[code]

origin: #7211

[2022-10-16 10:33] CaedenPH opened #7308 "[PYTEST WARNING] QasmSimulator will be deprecated"
### Feature description

The use of `q.Aer.get_backend("qasm_simulator")` raises the warning
[code]
This code is found in the following files:
    - deutsch_jozsa @abhishekjiitr
    - half_adder @abhishekjiitr
    - not_gate @abhishekjiitr
    - single_quibit_measure @abhishekjiitr

origin: #7211

[2022-10-16 10:34] CaedenPH commented on #7211
@cclauss I believe

[2022-10-16 10:34] CaedenPH commented on #7211
@cclauss Is this what you meant?

[2022-10-16 19:35] CaedenPH opened #7337 "Remove print statements within functions"
### Feature description

Use `flake8-print` plugin to check for print statements and remove them if found within variable scopes

[2022-10-16 19:41] cclauss commented on #7337
I think this will be difficult to explain to new contributors.

[2022-10-17 04:05] PARVASHWANI commented on #7211
Yes I would like to work on this feature.

[2022-10-17 06:38] gaurbprajapati commented on #6795
Hello, I want to work on this issue, Can you please assign this task to me?

[2022-10-17 06:38] gaurbprajapati commented on #6913
Hello, I want to work on this issue, Can you please assign this task to me?

[2022-10-17 06:39] gaurbprajapati commented on #6689
Hello, I want to work on this issue, Can you please assign this task to me?

[2022-10-17 06:39] gaurbprajapati commented on #6641
Hello, I want to work on this issue, Can you please assign this task to me?

[2022-10-17 06:40] gaurbprajapati commented on #5112
Hello, I want to work on this issue, Can you please assign this task to me?

[2022-10-17 16:15] Jpduker commented on #7307
Assign me to this issue

[2022-10-17 16:16] Jpduker commented on #7307
Can you assign me to this issue ?

[2022-10-17 17:37] Riyaksharma commented on #6980
Can You assign this to me?

[2022-10-17 17:43] Riyaksharma commented on #6917
Hey can u assign me this issue would love to  contribute my code for the same :)

[2022-10-17 20:58] lakshya0754N commented on #7173
I would like to work on this issue. Can u please assign to me

[2022-10-17 22:16] tianyizheng02 commented on #7337
I've run `flake8` with `flake8-print` and the print statements I've checked are all in `if __name__ == "__main__"` blocks. They're mainly just used for running functions on user inputs. I assume these print statements should stay?

[2022-10-18 01:01] darkfireZB opened #7391 "Content of the machine learning is so poor"
### Feature description

Of course, thanks for your contributing and reading. To imporove our social, these suggestions are for you.
The main, Content of machine learning is so poor, can be better. Just for predicting,  eggs have been 3. it's hard to absort more and more lovely man and woman. It's all, thanks.

[2022-10-18 01:07] EpicLulz1509 commented on #6727
Hello I would like to work on this issue.

[2022-10-18 01:07] EpicLulz1509 commented on #6641
Hey there can i work on this issue?

[2022-10-18 01:08] EpicLulz1509 commented on #6689
hello there I would like to work on this issue

[2022-10-18 02:08] cclauss commented on #7337
Yes, they can remain as they are.  CONTRIBUTING.md says that _algorithmic_ functions should not input(), print(), plot, or read/write to files.  However, there might be `__main__`, or `main()`, or other utility functions that do these things.

[2022-10-18 03:17] sockduct commented on #6163
The issue still exists.  I tried using this library (Red Black Tree) and ran into this error - cannot delete root with class remove method.

[code]

[code]

I will take a stab at producing a PR...

[2022-10-18 06:09] #7299 closed

[2022-10-18 08:39] Sanjana20304 commented on #7020
I would like to work on this. Please assign this to me

[2022-10-18 08:41] Sanjana20304 commented on #7139
Please assign this issue to me

[2022-10-18 09:17] #7020 closed

[2022-10-18 09:57] #7302 closed

[2022-10-18 11:09] DIvkov575 commented on #7139
@Sanjana20304 I already have a pr for this.

[2022-10-18 13:59] #6727 closed

[2022-10-18 16:21] ANKUSH531 commented on #7135
I am interested in contributing

[2022-10-18 17:04] KshitijKoul26 commented on #6728
Hi Sir/Ma'am, I want to contribute to this issue.
Can you please assign it to me?

[2022-10-18 20:15] sparsh44 commented on #5081
Hello @Candida18 !! I am willing to contribute some searching algorithms.

[2022-10-19 06:12] aakash27032001 commented on #7173
I would like to work on this issue. Can u please assign to me

[2022-10-19 07:31] aakash27032001 commented on #7173
I would like to work on this issue. Can u please assign to me

[2022-10-19 09:27] RajdeepDey010 commented on #7173
Hloo, I would like to contribute my learning if you can kindly assign me this issue.

[2022-10-19 12:55] hitensam commented on #6479
Can you please assign me this issue?

[2022-10-19 13:33] SurabhiSuresh22 opened #7425 "The search bar could be made more visible"
### Feature description

The search bar on landing page could be moved either to the right side for good visibility or the background image could be made a little more dark shaded. Please assign me this issue.

[2022-10-19 13:34] SurabhiSuresh22 opened #7426 "The search bar could be made more visible"
### Feature description

The search bar on landing page could be moved either to the right side for good visibility or the background image could be made a little more dark shaded. Please assign me this issue.

[2022-10-19 13:35] SurabhiSuresh22 opened #7427 "The search bar could be made more visible"
### Feature description

The search bar on landing page could be moved either to the right side for good visibility or the background image could be made a little more dark shaded. Please assign me this issue.

[2022-10-19 13:54] SurabhiSuresh22 opened #7428 "The search bar could be made more visible"
### Feature description

The search bar on landing page could be moved either to the right side for good visibility or the background image could be made a little more dark shaded. Please assign me this issue.

[2022-10-19 15:19] Nd1097 commented on #7173
Hello, I would like to work on this Algorithm. Can you assign the task, thanks!!

[2022-10-19 15:21] Nd1097 commented on #7135
Interested in Contributing to this.

[2022-10-19 20:12] #7308 closed

[2022-10-19 20:39] mahak-dev commented on #7211
hello sir,
I want to solve this problem, I have a little bit of knowledge regarding on this Topic

[2022-10-19 20:42] cclauss commented on #7211
@PARVASHWANI and @mahak-dev Why are you waiting?  If you see something that you can fix then open a pull request.

[2022-10-19 20:56] mahak-dev opened #7436 "Footer"
### Feature description

#enhancement
Footer could be more creative and can be design differently. I can create footer more creative.

[2022-10-19 20:57] AnkitLimone commented on #7436
You can assign me this issue I can Designed more Creative.

[2022-10-20 01:34] sockduct commented on #6163
Created PR #7439 to fix above issue and corresponding test.  Any comments welcome.

[2022-10-20 04:14] kunjgit opened #7440 "i want to add inverse factoral method to find nCr in O(1)"
### Feature description

the inverse factorial method can find any nCr in just O(1) with some O(n) precomputation so it is really important to find nCr when n is so large
this is really important to know because as competitive programmer it can help you to make your program faster as well as time efficient

[2022-10-20 06:11] nidhi-2619 commented on #6689
I would like to contribute to this issue , I've optimised solution with O(n) time complexity and O(1) space complexity please assign this issue to me

[2022-10-20 07:22] sauravkumar8178 commented on #7440
Hello sir, can you assign this issue to me

[2022-10-20 08:00] this-mkhy commented on #7173
Hellooooo, I can do it

[2022-10-20 11:36] supreetkaursareen commented on #7440
can you assign it to me

[2022-10-20 17:37] carlos3dx opened #7465 "Add the Viterbi algorithm"
### Feature description

I want to add to the dynamic programming folder the Viterbi algorithm.

https://en.wikipedia.org/wiki/Viterbi_algorithm

### Would you like to work on this feature?

- [X] Yes, I want to work on this feature!

[2022-10-20 17:38] carlos3dx commented on #7465
Please, asking it to me, I'm already have half of it.

[2022-10-20 18:05] gosueep opened #7470 "Blum Blum Shub PRNG"
### Feature description

Blum Blum Shub is a pseudo-random number generator with both an iterative and closed-form solution.
More details on the Wikipedia page: https://en.wikipedia.org/wiki/Blum_Blum_Shub

I would like to add this, but I do not know where it should go - either math or other?

[2022-10-20 22:00] #6551 closed

[2022-10-21 04:33] Masoom9587 commented on #7465
please assign it to me

[2022-10-21 05:13] karthinivashSR commented on #6786
Hello @crownedgrouse , can you assign me with this enhancement ?

[2022-10-21 06:47] theayangupta commented on #7172
Hi Sir
I want to work on this feature. Could you please assign this to me?

[2022-10-21 11:45] #6786 closed

[2022-10-21 11:47] #7425 closed

[2022-10-21 11:47] #7426 closed

[2022-10-21 11:47] #7427 closed

[2022-10-21 11:47] #7428 closed

[2022-10-21 11:48] #7436 closed

[2022-10-21 11:51] dhruvmanila commented on #7233
closed by #7235

Please make sure to link the issue, if existing, in the PR itself, so that it gets closed automatically.

[2022-10-21 11:51] #7233 closed

[2022-10-21 11:56] dhruvmanila commented on #7337
Instead, I propose to make the following refactor:

For all the classes that provide some method to print out a representation of that object, use `__str__` method to return the string representation instead. The caller then can do whatever he/she wants, print it, etc.

[2022-10-21 15:52] zivdar001matin opened #7490 "Add the CORDIC algorithm"
### Feature description

I want to add the [CORDIC](https://en.wikipedia.org/wiki/CORDIC) algorithm.

[2022-10-21 17:29] anujwar commented on #7135
Hey can you assign me to this issue?
I want to contribute towards this issue !

[2022-10-21 21:00] tianyizheng02 commented on #7173
I believe Dijkstra's algorithm has been already implemented in multiple files:
1. https://github.com/TheAlgorithms/Python/blob/master/graphs/dijkstra.py
2. https://github.com/TheAlgorithms/Python/blob/master/graphs/dijkstra_2.py
3. https://github.com/TheAlgorithms/Python/blob/master/graphs/dijkstra_algorithm.py
4. https://github.com/TheAlgorithms/Python/blob/master/graphs/dijkstra_alternate.py

[2022-10-21 21:35] tianyizheng02 commented on #6216
[`fuzzy_logic/fuzzy_operations.py`](https://github.com/TheAlgorithms/Python/blob/master/fuzzy_logic/fuzzy_operations.py) should also be added to the migration list. The file has no algorithm functions (or any functions for that matter) and all the fuzzy logic operations are simply performed using functions from the `skfuzzy` module.

[2022-10-22 04:18] Arghya46 commented on #7391
Hello sir, Can u assign this issuet to me?

[2022-10-22 04:18] Arghya46 commented on #7465
Hello sir, Can u assign this issuet to me?

[2022-10-22 05:55] tianyizheng02 opened #7502 "Subset generation shouldn't work entirely by printing"
### Feature description

The subset generation algorithm in [`dynamic_programming/subset_generation.py`](https://github.com/TheAlgorithms/Python/blob/master/dynamic_programming/subset_generation.py) works entirely by printing all possible subsets to console, which goes against the current contribution guidelines (see #7337 for more details). Ideally the algorithm should generate some data structur

[2022-10-22 10:19] Anshika-sona commented on #7042
would love to work on this. Please assign me this issue.

[2022-10-22 11:11] carlos3dx opened #7512 "The git pre-commit hook contradices itself and goes beyond the scope of the files to commit"
### Repository commit

e6d825eaee9d3ad86e30c415a1f7da36ed39351c

### Python version (python --version)

Python 3.9.1

### Dependencies version (pip freeze)

absl-py==1.3.0
astunparse==1.6.3
beautifulsoup4==4.11.1
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
contourpy==1.0.5
cryptography==38.0.1
cycler==0.11.0
dill==0.3.5.1
fake-useragent==0.1.11
flatbuffers==22.9.24

[2022-10-22 11:41] KavyaSethia opened #7513 "Colorization of image"
### Feature description

I would like to add colorization of image in python language in field of machine learning/deep learning.

[2022-10-22 12:43] riddhitech commented on #7122
Please assign me this issue.

[2022-10-22 12:44] riddhitech commented on #6795
Please assign me this issue.

[2022-10-22 12:44] riddhitech commented on #6641
Please assign me this issue.

[2022-10-22 12:45] riddhitech commented on #6537
Please assign me this issue.

[2022-10-22 12:46] riddhitech commented on #4941
Please assign me this issue.

[2022-10-22 12:46] riddhitech commented on #4653
Please assign me this issue.

[2022-10-22 15:06] SwaggyRajput commented on #7337
Hello sir, can u assign me this issue. I would love to grab this opportunity.

[2022-10-22 15:06] SwaggyRajput commented on #7135
Hello sir, can u assign me this issue. I would love to grab this opportunity.

[2022-10-22 15:36] kondekarshubham123 commented on #6980
Code already present in repo
https://github.com/kondekarshubham123/Python/blob/cc10b20beb8f0b10b50c84bd523bf41095fe9f37/data_structures/binary_tree/binary_tree_traversals.py#L61

[2022-10-22 15:36] #6980 closed

[2022-10-22 15:37] kondekarshubham123 commented on #6981
PR https://github.com/TheAlgorithms/Python/pull/6918, merged on 18th oct

[2022-10-22 15:37] #6981 closed

[2022-10-22 15:37] #6979 closed

[2022-10-22 16:06] cclauss commented on #7337
Please stop waiting.  We do not assign issues in this repo.  Instead, we review pull requests so if you see something that is worth fixing then please create a pull request to fix it.  #7499 (merged) seems to have solved most of these problems.

[2022-10-22 16:07] cclauss commented on #7502
This looks OK to me.

[2022-10-22 16:07] #7502 closed

[2022-10-23 13:56] CaedenPH opened #7559 "Combine `.flake8` and `pytest.ini` into `tox.ini`"
### Feature description

Combine these files into `tox.ini` to have a global point of access when it comes to configuration files.

[2022-10-23 14:25] #7559 closed

[2022-10-23 16:59] siva-balan commented on #7135
Hello sir, I would like to contribute for this issue. please assign this issue to me

[2022-10-23 17:04] Anshika91 commented on #7337
please assign it to me

[2022-10-23 17:27] #7337 closed

[2022-10-23 17:34] carlos3dx opened #7574 "Add Spain National ID validator"
### Feature description

In Spain all citizens has a National ID composed by 8 numbers plus a letter. The letter in fact is calculated with a modulus of the number and a lookup table, avoiding mistyping  the ID or people faking it on the fly-

https://en.wikipedia.org/wiki/Documento_Nacional_de_Identidad_(Spain)#Number

Create a function that given a string like "12345678X" (or "12345678-X", some

[2022-10-23 17:36] carlos3dx commented on #7574
Please assign me to it, I have the work done, just remains to make the PR

[2022-10-24 07:00] AvijeetJain commented on #7010
Please assign me this issue

[2022-10-24 09:06] pemo76 commented on #7135
I would like to contribute to this issu. I am from competitive coding background so I can handle this issu smoothly . So pls assign this to me

[2022-10-24 10:31] cclauss commented on #7512
I see two separate issues here:
1. validate-filenames is looking at files in `venv` and it should not be.  Does our addition of
2. pyupgrade is going to force `foo:List[str]` --> `foo:list[str]` but it does not remove the import so flake8 which runs right after it and should be raising an [`F401`](https://www.flake8rules.com/rules/F401.html) but it is not?

[2022-10-24 11:33] #7574 closed

[2022-10-24 13:05] Dila-wa commented on #7513
I'll solve this

[2022-10-24 13:05] Dila-wa commented on #7513
I'll solve this please assign me

[2022-10-24 14:16] Godson-Gnanaraj commented on #7512
[code]
annotations become strings at runtime by above import. So type hints will not be affected by pyupgrade.

[2022-10-25 07:57] Vishwas1451 commented on #6479
can I work on this issue

[2022-10-25 08:40] NIKITApandey01 commented on #6889
i would like to work on this issue

[2022-10-25 08:46] gmmkmtgk commented on #6889
go ahead

[2022-10-25 09:38] NIKITApandey01 commented on #6537
i would like to work on this issue

[2022-10-25 14:35] MortazaHassani opened #7642 "Newton-Raphson method in math algorithm"
### Feature description

Newton-Raphson method is not available in math algorithms.

[2022-10-25 21:55] #7122 closed

[2022-10-25 23:40] ShreyaGupta12 commented on #7642
Hello sir, Can you assign this issue to me?

[2022-10-26 11:41] katderv commented on #7642
Hello, I'm interested in this issue, can I be assigned?

[2022-10-26 12:04] syedjafer commented on #7470
@gosueep u can place it under math. That would make more sense.

[2022-10-26 14:31] meg-1 opened #7677 "adding an array folder to the data_structures section"
### Feature description

maybe we could create an "array" folder in the data_structures section of the repo?? @poyea mentioned this a while ago in a closed pr [ #6325 ].
![image](https://user-images.githubusercontent.com/62753112/198053720-0436349d-c757-4dfd-9d1f-309e32630c5e.png)

[2022-10-26 16:32] carlos3dx commented on #7512
Examples from the open PR I made: #7509

1: That's right, example:
[code]

Every file flagged is from venv.

2:  First the signature was like this:
[code]

After trying to commit this message is shown:

[code]

pyupgrade changed the hints from the typing library to the data types  (Dict to dict)

[code]

flake8 complains about Dict and List not being used, cause their usage was removed.

And final

[2022-10-26 17:02] cclauss commented on #7512
What [version of Python](https://github.com/TheAlgorithms/Python/blob/master/.pre-commit-config.yaml#L33) are you running using?

[2022-10-26 17:25] cclauss commented on #7512
A fascinating tidbit in the Python 3.11 docs.
* https://docs.python.org/3.11/whatsnew/3.11.html#pep-563-may-not-be-the-future

[2022-10-26 17:34] sushmita-2002 commented on #6511
Can You assign this issue to me. I will try my best to give you the desired code.

[2022-10-26 17:36] sushmita-2002 commented on #6510
Please assign me this issue. I write a very understandable code.

[2022-10-26 17:58] Godson-Gnanaraj commented on #7512
@carlos3dx could you please confirm #7592 fixes validate_filename check?

[2022-10-26 19:51] cclauss commented on #7512
Yes. @carlos3dx it does but I think we should move that process back out of pre-commit and into GitHub Actions.  Our regular contributors (those who would actually have pre-commit installed and working) do not make filename errors.

The folks who generate filename errors are our first-time contributors (we have a _much_ higher proportion of these folks than other repos).  This cohort almost never

[2022-10-27 05:16] Aakash3081 commented on #6537
can you assign this issue to me?

[2022-10-27 05:18] Aakash3081 commented on #7173
can you assign this issue to me?

[2022-10-27 07:06] amananand0001 commented on #7035
hello @rahulranjan74
I want to contribute in this project .
so pls allow me to contribute in this project

[2022-10-27 10:07] sasankaweera123 opened #7720 "Create Testcase for the Algorithm"
### Feature description

Add several unit test cases for the algorithms

[2022-10-27 10:26] vrinda01go commented on #7720
Hey! I am interested in this issue. Could you please assign this issue to me

[2022-10-27 10:29] vrinda01go commented on #7391
Hey! I am interested in this issue. Could you assign it to me?

[2022-10-27 12:24] CaedenPH opened #7724 "Replace `yulewalker` in `audio_filtes/equal_loudness_filter`"
### Feature description

https://pypi.org/project/yulewalker/ is no longer maintained it seems, which is logging a warning in the `audio_filters/equal_loudness_filter.py`.

Fixes: #7300

[2022-10-27 12:36] sasankaweera123 commented on #7720
Go for it

[2022-10-27 14:13] aishwarya0918 opened #7739 "Adding a text file about introduction to logic gates as part of boolean algebra folder to enable user with basic information before visiting the logic codes"
### Feature description

Please assign me this issue

[2022-10-27 14:32] patraabinash29 commented on #7720
Hey! I am interested in this issue. Could you please assign this issue to me?
patraabinash29

[2022-10-27 16:23] CaedenPH opened #7743 "Indent `...` in doctests"
### Feature description

Correct
[code]
to
[code]

[2022-10-27 16:41] bhavana-263 commented on #7391
Hello sir, I am in this issue, could u please assign this issue to me @darkfireZB

[2022-10-27 17:42] #7743 closed

[2022-10-27 19:52] CaptainCplus commented on #7391
That Is Not True In This Case Because I Eperience Programming Everyday and it is nice.

[2022-10-27 20:25] Cjkjvfnby commented on #7127
Plugins that are useful for me are:
- [flake8-eradicate](https://pypi.org/project/flake8-eradicate/1.2.0/) remove commented-out code, quite useful to keep the repo in shape.
- [flake8-pytest-style](https://pypi.org/project/flake8-pytest-style/) makes all tests look consistent

My personal list is quite huge, but I find it too strict for the project with many contributors.
https://github.com/Cjkjvf

[2022-10-27 20:29] Cjkjvfnby commented on #7127
To run flake8 with plugins you need to install them first.
This line in the contribution guide don't mention this.

Since flake8 is already included in `pre-commit run --all-files ...` , this string might be just removed.

[2022-10-27 20:32] cclauss commented on #7127
For this repo, I would say no to both eradicate and pytest style.
* Eradicate -- This is not a production code repo -- instead, it is a center for learning and sharing so commented code might be quite acceptable and removing comments without human intervention sounds scary to me.
* Pytest -- We focus a lot on doctest and have very few pytests.  Of those few that we do have, we do not want to set t

[2022-10-27 20:34] cclauss commented on #7127
Most of our contributors are first-time-contributors and almost none of them have pre-commit installed and running locally which is why we run pre-commit.ci but a pull request to fix README.md would be welcome.

[2022-10-27 20:36] cclauss commented on #7127
flake8-use-pathlib sounds awesome (although I have never seen it in action).

[2022-10-27 20:36] Cjkjvfnby commented on #7127
Flake is pretty flexible with ignoring files with specific errors.
You could suppress specific errors for files in the flake config.  It looks a bit bulky but allows you to avoid touching the code.
https://flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-per-file-ignores

I use this plugin for my code and exclude test files from it.
[code]

[2022-10-27 20:38] cclauss commented on #7127
A ton means [a ton](https://github.com/TheAlgorithms/Python/blob/master/DIRECTORY.md) -- take a scroll.

[2022-10-27 20:45] WilberC1219 commented on #7642
If no one is assigned this issue I would like to give it a try

[2022-10-27 20:56] cclauss commented on #7127
OK.  I will try out `use-pathlib` and see for myself.

If you want to do a PR on docstrings, that would be reviewed.  Thx.

[2022-10-28 08:02] shivsaranyada commented on #7135
HELLO SIR.

Can You assign this issue to me?
I would like to contribute for this issue. please assign this issue to me

[2022-10-28 08:17] #7135 closed

[2022-10-28 09:03] carlos3dx opened #7776 "Add the calculation of Manhattan Distance"
### Feature description

The Manhattan distance (also known as taxicab distance) measures the distance between two points in a n-dimensional grid only taking into account the diference between each coordinate point instead of using the Euclidean distance.

For example, you want to go by taxi from point a to b in a city with a grid layout like Manhattan, the shortest path should be a straight line

[2022-10-28 09:05] carlos3dx commented on #7776
Please, assing it to me, as soon as I finish at work, I'll commit and make the PR

[2022-10-28 09:39] adithyarao121 opened #7777 "Add email validator in strings folder"
### Feature description

An email validator which checks for common email patterns

### Would you like to work on this feature?
- [x] Yes, I want to work on this feature!

[2022-10-28 09:39] adithyarao121 commented on #7777
please assign this to me :)
will submit a PR as soon as i am done.

[2022-10-28 12:40] adithyarao121 opened #7782 "Create subtraction method in maths folder"
### Feature description

Create subtraction method in maths folder for subtracting 2 numbers

[2022-10-28 16:03] SnehalSa commented on #7216
Hello Sir,
Can You assign this issue to me?

[2022-10-28 16:46] kituuu opened #7791 "Cramer's Rule for 3x3 matrix."
### Feature description

Want to add a script for solving a system of linear equations in three variables using Cramer's rule.

[2022-10-28 17:39] rafagarciac commented on #7782
Hi @adithyarao121 ! 😄
Yes, it looks like we already have the `add.py` function to calculate the sum of two numbers.
- https://github.com/TheAlgorithms/Python/blob/master/maths/add.py

So it makes sense to implement the same thing for subtraction.
I'll take the implementation of this problem.
Thanks for your report!

[2022-10-28 17:51] rafagarciac opened #7804 "Improve the functionality and tests addition of Mathematics"
### Feature description

We should improve the `add.py` with the following actions:
- Improve description and include the source (Wikipedia preferred)
- Implement more test cases
- Other improvements

Thanks in advance.

[2022-10-28 17:55] Killerraj143 commented on #7791
# Python3 program to calculate
# solutions of linear equations
# using cramer's rule

# This functions finds the
# determinant of Matrix
def determinantOfMatrix(mat):

	ans = (mat[0][0] * (mat[1][1] * mat[2][2] -
						mat[2][1] * mat[1][2]) -
		mat[0][1] * (mat[1][0] * mat[2][2] -
						mat[1][2] * mat[2][0]) +
		mat[0][2] * (mat[1][0] * mat[2][1] -
						mat[1][1] * mat[2][0]))
	return ans

# Th

[2022-10-28 17:56] ShashankZobb commented on #7782
I have created a subtrat.py program. It has passed all the checks

[2022-10-28 17:58] rafagarciac commented on #7782
Perfect. Could you provide the PR? 🤔
I think is this the following PR:
- https://github.com/TheAlgorithms/Python/pull/7803

[2022-10-28 18:22] rafagarciac commented on #7791
@kituuu @Killerraj143
Hi ! Thanks for your report. 👌🏼
Could you open a new PR?
Thanks in advance.

[2022-10-28 18:28] rafagarciac commented on #7776
@carlos3dx
Wow ! Sounds really interesting. Good work! 🚀
I'll take a look to your PR as soon as possible.
Thanks for your contribution.

[2022-10-28 21:54] Cjkjvfnby commented on #7127
Sample PR on how the code should look to conform the flake8-docstrings.  https://github.com/TheAlgorithms/Python/pull/7821

It would be nice to understand the check that we plan to keep and which one we could ignore.

Fixing all of them sounds boring.  We could either ignore them or keep checking only for new files.
Maybe pre-commit.ci could just ignore existing errors and just force to fix them a

[2022-10-29 01:12] kituuu commented on #7791
Okay I will do today.

[2022-10-29 05:01] Sahil2315 commented on #7724
what needs to be done?

[2022-10-29 11:00] Godson-Gnanaraj commented on #7512
@cclauss Does that mean we need to remove validate_filenames from pre-commit hook?

[2022-10-29 11:04] cclauss commented on #7512
Let's add it to GitHub Actions first.  I have 24 hours left in Hactoberfest and 200+ open PR is this is not my highest priority.

[2022-10-29 13:44] #7465 closed

[2022-10-29 14:46] CaedenPH commented on #7724
In this file
https://github.com/TheAlgorithms/Python/blob/master/audio_filters/equal_loudness_filter.py#L5
The module `yulewalker` is used. This module uses `np.int` which is deprecataed and raises warnings
Ideally, this module would be swithed out with a later, maintained package, or the code would be refactored in order to not use `yulewalker`

[2022-10-29 14:48] CaedenPH opened #7846 "Close state pull requests"
### Feature description

There is a large backlog of state pull requests that are just sitting there untouched. Perhaps these should just be closed?

[2022-10-29 16:46] Niketdeshmukh commented on #6478
I can solve this problem can you assign it to me?

[2022-10-29 19:27] vbvg2008 opened #7854 "treap not working expected when splitting on value that existed"
### Repository commit

master

### Python version (python --version)

any

### Dependencies version (pip freeze)

any

### Expected behavior

according to the docstring of treap's split function below, when we split a treap into two, the left treap should contain values less than split value, and the right should contain values greater or equal than split value.
[code]

Which means the expected re

[2022-10-29 21:20] #7216 closed

[2022-10-29 21:20] #7217 closed

[2022-10-29 21:20] #7238 closed

[2022-10-29 21:20] #7255 closed

[2022-10-29 21:20] #7300 closed

[2022-10-29 21:20] #7307 closed

[2022-10-29 21:20] #7391 closed

[2022-10-29 21:20] #7440 closed

[2022-10-29 21:20] #7470 closed

[2022-10-29 21:20] #7490 closed

[2022-10-29 21:20] #7512 closed

[2022-10-29 21:20] #7513 closed

[2022-10-29 21:20] #7642 closed

[2022-10-29 21:20] #7677 closed

[2022-10-29 21:20] #7720 closed

[2022-10-29 21:20] #7724 closed

[2022-10-29 21:20] #7739 closed

[2022-10-29 21:20] #7776 closed

[2022-10-29 21:20] #7777 closed

[2022-10-29 21:20] #7782 closed

[2022-10-29 21:20] #7791 closed

[2022-10-29 21:20] #7804 closed

[2022-10-29 21:20] #7846 closed

[2022-10-29 21:20] #6692 closed

[2022-10-29 21:20] #6728 closed

[2022-10-29 21:20] #6795 closed

[2022-10-29 21:20] #6797 closed

[2022-10-29 21:20] #6888 closed

[2022-10-29 21:20] #6889 closed

[2022-10-29 21:20] #6899 closed

[2022-10-29 21:20] #6910 closed

[2022-10-29 21:20] #6911 closed

[2022-10-29 21:20] #6913 closed

[2022-10-29 21:20] #6916 closed

[2022-10-29 21:20] #6917 closed

[2022-10-29 21:20] #6924 closed

[2022-10-29 21:20] #6977 closed

[2022-10-29 21:20] #7007 closed

[2022-10-29 21:20] #7008 closed

[2022-10-29 21:20] #7010 closed

[2022-10-29 21:20] #7012 closed

[2022-10-29 21:20] #7035 closed

[2022-10-29 21:20] #7042 closed

[2022-10-29 21:20] #7127 closed

[2022-10-29 21:20] #7139 closed

[2022-10-29 21:20] #7172 closed

[2022-10-29 21:20] #7173 closed

[2022-10-29 21:20] #7211 closed

[2022-10-29 21:20] #5943 closed

[2022-10-29 21:20] #5945 closed

[2022-10-29 21:20] #5950 closed

[2022-10-29 21:20] #5999 closed

[2022-10-29 21:20] #6020 closed

[2022-10-29 21:20] #6079 closed

[2022-10-29 21:20] #6163 closed

[2022-10-29 21:20] #6242 closed

[2022-10-29 21:20] #6268 closed

[2022-10-29 21:20] #6478 closed

[2022-10-29 21:20] #6479 closed

[2022-10-29 21:20] #6510 closed

[2022-10-29 21:20] #6511 closed

[2022-10-29 21:20] #6513 closed

[2022-10-29 21:20] #6518 closed

[2022-10-29 21:20] #6527 closed

[2022-10-29 21:20] #6537 closed

[2022-10-29 21:20] #6549 closed

[2022-10-29 21:20] #6562 closed

[2022-10-29 21:20] #6563 closed

[2022-10-29 21:20] #6631 closed

[2022-10-29 21:20] #6641 closed

[2022-10-29 21:20] #6689 closed

[2022-10-29 21:21] #4653 closed

[2022-10-29 21:21] #4773 closed

[2022-10-29 21:21] #4822 closed

[2022-10-29 21:21] #4870 closed

[2022-10-29 21:21] #4901 closed

[2022-10-29 21:21] #4909 closed

[2022-10-29 21:21] #4941 closed

[2022-10-29 21:21] #4977 closed

[2022-10-29 21:21] #5081 closed

[2022-10-29 21:21] #5112 closed

[2022-10-29 21:21] #5923 closed

[2022-10-30 02:57] vbvg2008 commented on #7854
additional note: once you update the `split` function, `erase` function needs to change accordingly too, as it is currently relying on the wrong behavior of `split`

[2022-10-30 04:44] dhruvmanila commented on #6252
How is this completed? @cclauss

[2022-10-30 09:04] Cjkjvfnby commented on #7127
I'd say it is closed a bit too earlier.  I haven't submitted the PR with annotation-docstring yet.  I am planning to do it today in the evening, so no need to reopen it.

I have learned a lot of cool things from yours pre-commit hooks, things like yesqa are exactly what I need in my projects.

[2022-10-30 09:14] cclauss commented on #7127
I need to try to review the 150+ current open PRs so please hold off on adding more PRs until Tuesday, Nov 1st.

[2022-10-30 13:55] Cjkjvfnby commented on #7127
I have a free evening today, could I help with the review?

[2022-10-30 17:56] CaedenPH opened #7880 "Mention the triviality of an algorithm in `CONTRIBUTING.md`"
### Feature description

There are lots of pull requests with trivial algorithms such as `subtract`, `add_three_numbers`, etc.
There should be a section in the `CONTRIBUTING` mentioning the triviality requirements ie this algorithm must meet so and so requirements...

This is hard to enforce due to some trivial files such as
    - https://github.com/TheAlgorithms/Python/blob/master/maths/add.py

[2022-10-30 17:56] CaedenPH commented on #7880
@cclauss Opinion?

[2022-10-30 18:29] gillianomenezes commented on #7880
hey @CaedenPH what do you mean by the "triviality requirements the algorithm must meet"? I would like to help with this issue.

[2022-10-30 18:34] CaedenPH commented on #7880
Pull requests are being created with that are basic and unnecessary
For example
[code]
Unfortunately, I'm not entirely sure what the requirements would be or how to phrase them in an approachable manner.

[2022-10-30 18:44] KrisJarvis commented on #7854
assign this to me plz

[2022-10-30 19:10] gillianomenezes commented on #7880
@CaedenPH what do you think about this improvement? https://github.com/TheAlgorithms/Python/pull/7887

[2022-10-30 20:33] #7880 closed

[2022-11-01 21:29] CaedenPH opened #7940 "Pre-commit failing on genetic_algoirthm/basic_string"
### Repository commit

f512b4d105b6f3188deced19761b6ed288378f0d

### Python version (python --version)

Python 3.10.8

### Dependencies version (pip freeze)

.

### Expected behavior

`return (item, float(score))  #  noqa: B023`

### Actual behavior

`return (item, float(score))  #  noqa: B023` is stripped by
[code]

[2022-11-02 08:14] cclauss opened #7942 "linear_algebra/src/polynom_for_points.py is too complex"
See: https://pypi.org/project/mccabe

### Repository commit

master

### Python version (python --version)

Python 3.11.0

### Dependencies version (pip freeze)

None

### Expected behavior

% `flake8 --select=C --max-complexity=21 .`  # --> no errors.

### Actual behavior

`linear_algebra/src/polynom_for_points.py:1:1: C901 'points_to_polynomial' is too complex (23)`

Reduce the complexity of `po

[2022-11-02 16:59] CaedenPH opened #7946 "Esoteric directory"
### Feature description

A directory with repeated algorithms in the other directories, for example `fibonacci`, but in the most esoteric way.
Perhaps this will be hard to review but it will be pretty awesome having some major algorithms in one line of esoteric glory

[2022-11-02 17:01] CaedenPH commented on #7946
@cclauss Its a long shot, but what's your opinion?
It's not overly beginner-friendly but I think it would be pretty cool

[2022-11-02 18:40] #7942 closed

[2022-11-02 19:33] cclauss commented on #7946
Let's see what @poyea and @dhruvmanila think but I like [brief solutions](https://github.com/cclauss/Ten-lines-or-less) but I am not a fan of [code-golf](https://en.wikipedia.org/wiki/Code_golf) levels of illegible code.  Our overall goal is to teach, not confuse.  We want visitors to become more confident coders who can work well in teams.  Cryptic solutions are not easy for teams to maintain.  U

[2022-11-03 10:45] dhruvmanila commented on #7946
I'm personally not a big fan of it as they have zero implications in the real world. You don't really want to write code which only you can understand and I would argue that even you wouldn't be able to understand it in the future. I am not against it, but I would not spend time there when there are already existing things to improve.

The only use case I find is for entertainment and testing our

[2022-11-03 10:47] dhruvmanila commented on #6252
I'm leaning more towards Google format as they're simple and contains all the necessary information. The type hints in the docstring would be optional as they're already provided in the function signature.

[2022-11-03 14:25] cclauss commented on #6252
[My experience](https://github.com/jjjake/internetarchive/pull/524) with https://pypi.org/project/sphinx-autodoc-typehints suggests that it can generate solid docs for function and class parameters and return types just by reading their typed signatures.  The thing that contributors will need to add are function/class descriptions and parameter and return type descriptions.

[2022-11-04 07:53] dhruvmanila commented on #6252
All format can generate documentation. In your case, the docstring was already written in sphinx format, so it was easy to adopt the mentioned plugin.

We have the benefit of starting from scratch so we can choose the format now.

[2022-11-04 08:02] cclauss commented on #6252
But what tool are we going to use to generate the docs?  Does Google provide such a tool that we can use?

[2022-11-04 08:18] dhruvmanila commented on #6252
Usually the tools are independent of the format. They're decoupled. So, we choose the format and then we choose the tool. There's `mkdocstrings` which is a plugin to `mkdocs` which can generate from all the mentioned formats (`google`, `numpy`, `sphinx`) - https://mkdocstrings.github.io/python/usage/. We can explore other tools as well, but this is the first one which comes to my mind.

[2022-11-06 00:53] Cjkjvfnby opened #7968 "Ignore missing annotation in __init__ method by algorithms-keeper"
### Feature description

Adding `-> None` have not sense, since this is a special method and it always returns None. Aslo this creates noise in code and even decreases readability when it's the reason for extra line breaks.

For example, this line fits without annotation and is split into 3 lines with it.
[code]

[2022-11-06 15:11] cclauss opened #7971 "genetic_algorithm/basic_string.py: select() is not binding population_score"
### Repository commit

master

### Python version (python --version)

Python 3.11.0

### Dependencies version (pip freeze)

None

### Expected behavior

@D4rkia Can you please examine [line 132 of `genetic_algorithm/basic_string.py`](https://github.com/TheAlgorithms/Python/blob/master/genetic_algorithm/basic_string.py#L132) and remove the [flake8 BugBear B023 linter directive](https://github.com/P

[2022-11-15 14:11] #7946 closed

[2022-11-15 14:14] cclauss opened #7987 "Fixes required for new version of mypy #7983"
### Repository commit

master

### Python version (python --version)

Python 3.11.0

### Dependencies version (pip freeze)

Yes

### Expected behavior

mypy passes.

### Actual behavior

# Issue #7983

@CaedenPH

[2022-11-15 17:29] #7987 closed

[2022-11-20 10:46] Cjkjvfnby opened #7996 "GitHub Actions Scheduled builds started in forked repo"
### Repository commit

7f1a5521f4b73d15df409a81f3da48427f9c6cdc

### Python version (python --version)

Python

### Dependencies version (pip freeze)

github.com

### Expected behavior

No scheduled builds after the fork.

### Actual behavior

![изображение](https://user-images.githubusercontent.com/171597/202897375-90a97bcf-cbb9-4b64-b730-90e932c925ee.png)

Build is run each day.   I have to disa

[2022-11-28 16:14] utpalsavliya commented on #7854
Solved the issue through the request #7899. Changed the docstring according to the standard implementation found on resources available online. More details in the pull request description.
I suggest merging the request, or please provide feedback in case it is not merge-able.
Also, please add hacktoberfest-accepted label, in case it is okay for merging :wink::smile: